In [114]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.dummy import DummyClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import SGDClassifier

In [115]:
data_orig = pd.read_csv('../../MA_PREDICTOR/data/ma_data_car_clean.csv')

In [116]:
data = data_orig[(data_orig.car > -0.3) & (data_orig.car < 0.3)]

In [117]:
data.drop('month', inplace=True, axis=1)

In [118]:
data

,consideration_offered,shares_acquired,shares_at_announcement,acquiror_code,target_code,target_status,acquisition_count,bidder_count,cross_border,relatedness,economic_sector_ac,business_sector_ac,economic_sector_target,business_sector_target,car
0,Cash,full,no,50102030,50103030,others,15,1,cross_border,business_sector,Energy,Energy - Fossil Fuels,Energy,Energy - Fossil Fuels,0.006854
1,Other,full,no,54201030,63103010,others,31,1,cross_border,not_related,Consumer Non-Cyclicals,Personal & Household Products & Services,Academic & Educational Services,Academic & Educational Services,-0.010266
2,Other,full,no,57201030,57201020,others,2,1,cross_border,industry_group,Technology,Software & IT Services,Technology,Software & IT Services,0.007746
3,Cash,full,no,52102010,51101010,others,7,1,national,not_related,Industrials,Industrial Goods,Basic Materials,Chemicals,-0.011133
4,Cash,not_full,no,50102030,50102030,public,8,1,cross_border,industry,Energy,Energy - Fossil Fuels,Energy,Energy - Fossil Fuels,-0.003971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18219,Cash,full,no,52102010,59103010,others,15,1,cross_border,not_related,Industrials,Industrial Goods,Utilities,Utilities,0.020108
18220,Other,full,no,53203020,53205020,others,60,1,cross_border,business_sector,Consumer Cyclicals,Cyclical Consumer Products,Consumer Cyclicals,Cyclical Consumer Products,-0.040156
18221,Other,full,no,54301020,57201010,others,52,1,national,not_related,Consumer Non-Cyclicals,Food & Drug Retailing,Technology,Software & IT Services,-0.003545
18222,Other,full,no,55101010,52203030,others,6,1,cross_border,not_related,Financials,Banking & Investment Services,Industrials,Industrial & Commercial Services,-0.025992
18223,Other,full,no,53403010,55101050,others,73,1,national,not_related,Consumer Cyclicals,Retailers,Financials,Banking & Investment Services,-0.000099

In [119]:
data['car_class'] = data['car']

In [120]:
def trans_class(series):
    for i in range(len(series)): 
            value= float(series[i])
            if value > 0.01:
                series[i] = "positive"
            elif value < -0.01:
                series[i] = "negative"
            else:
                series[i]= "neutral"

In [121]:
trans_class(data['car_class'])

/var/folders/tw/12c8kwg9497btcy7q6r_t5y00000gn/T/ipykernel_36936/3533803713.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series[i]= "neutral"
/Users/manonlaffly/.pyenv/versions/3.8.6/envs/MA_PREDICTOR/lib/python3.8/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [123]:
data

,consideration_offered,shares_acquired,shares_at_announcement,acquiror_code,target_code,target_status,acquisition_count,bidder_count,cross_border,relatedness,economic_sector_ac,business_sector_ac,economic_sector_target,business_sector_target,car,car_class
0,Cash,full,no,50102030,50103030,others,15,1,cross_border,business_sector,Energy,Energy - Fossil Fuels,Energy,Energy - Fossil Fuels,0.006854,neutral
1,Other,full,no,54201030,63103010,others,31,1,cross_border,not_related,Consumer Non-Cyclicals,Personal & Household Products & Services,Academic & Educational Services,Academic & Educational Services,-0.010266,negative
2,Other,full,no,57201030,57201020,others,2,1,cross_border,industry_group,Technology,Software & IT Services,Technology,Software & IT Services,0.007746,neutral
3,Cash,full,no,52102010,51101010,others,7,1,national,not_related,Industrials,Industrial Goods,Basic Materials,Chemicals,-0.011133,negative
4,Cash,not_full,no,50102030,50102030,public,8,1,cross_border,industry,Energy,Energy - Fossil Fuels,Energy,Energy - Fossil Fuels,-0.003971,neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18219,Cash,full,no,52102010,59103010,others,15,1,cross_border,not_related,Industrials,Industrial Goods,Utilities,Utilities,0.020108,positive
18220,Other,full,no,53203020,53205020,others,60,1,cross_border,business_sector,Consumer Cyclicals,Cyclical Consumer Products,Consumer Cyclicals,Cyclical Consumer Products,-0.040156,negative
18221,Other,full,no,54301020,57201010,others,52,1,national,not_related,Consumer Non-Cyclicals,Food & Drug Retailing,Technology,Software & IT Services,-0.003545,neutral
18222,Other,full,no,55101010,52203030,others,6,1,cross_border,not_related,Financials,Banking & Investment Services,Industrials,Industrial & Commercial Services,-0.025992,negative
18223,Other,full,no,53403010,55101050,others,73,1,national,not_related,Consumer Cyclicals,Retailers,Financials,Banking & Investment Services,-0.000099,neutral

# Encoding the target

In [124]:
# creating instance of labelencoder
labelencoder = LabelEncoder()

In [125]:
# Assigning numerical values and storing in another column
data['car_class'] = labelencoder.fit_transform(data['car_class'])

In [127]:
data

,consideration_offered,shares_acquired,shares_at_announcement,acquiror_code,target_code,target_status,acquisition_count,bidder_count,cross_border,relatedness,economic_sector_ac,business_sector_ac,economic_sector_target,business_sector_target,car,car_class
0,Cash,full,no,50102030,50103030,others,15,1,cross_border,business_sector,Energy,Energy - Fossil Fuels,Energy,Energy - Fossil Fuels,0.006854,1
1,Other,full,no,54201030,63103010,others,31,1,cross_border,not_related,Consumer Non-Cyclicals,Personal & Household Products & Services,Academic & Educational Services,Academic & Educational Services,-0.010266,0
2,Other,full,no,57201030,57201020,others,2,1,cross_border,industry_group,Technology,Software & IT Services,Technology,Software & IT Services,0.007746,1
3,Cash,full,no,52102010,51101010,others,7,1,national,not_related,Industrials,Industrial Goods,Basic Materials,Chemicals,-0.011133,0
4,Cash,not_full,no,50102030,50102030,public,8,1,cross_border,industry,Energy,Energy - Fossil Fuels,Energy,Energy - Fossil Fuels,-0.003971,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18219,Cash,full,no,52102010,59103010,others,15,1,cross_border,not_related,Industrials,Industrial Goods,Utilities,Utilities,0.020108,2
18220,Other,full,no,53203020,53205020,others,60,1,cross_border,business_sector,Consumer Cyclicals,Cyclical Consumer Products,Consumer Cyclicals,Cyclical Consumer Products,-0.040156,0
18221,Other,full,no,54301020,57201010,others,52,1,national,not_related,Consumer Non-Cyclicals,Food & Drug Retailing,Technology,Software & IT Services,-0.003545,1
18222,Other,full,no,55101010,52203030,others,6,1,cross_border,not_related,Financials,Banking & Investment Services,Industrials,Industrial & Commercial Services,-0.025992,0
18223,Other,full,no,53403010,55101050,others,73,1,national,not_related,Consumer Cyclicals,Retailers,Financials,Banking & Investment Services,-0.000099,1

In [128]:
data.columns

Index(['consideration_offered', 'shares_acquired', 'shares_at_announcement',
       'acquiror_code', 'target_code', 'target_status', 'acquisition_count',
       'bidder_count', 'cross_border', 'relatedness', 'economic_sector_ac',
       'business_sector_ac', 'economic_sector_target',
       'business_sector_target', 'car', 'car_class'],
      dtype='object')

# Splitting of the dataset

In [129]:
y=data['car_class']

In [130]:
X=data[['consideration_offered', 'shares_acquired', 'shares_at_announcement',
       'acquiror_code', 'target_code', 'target_status', 'acquisition_count',
       'bidder_count', 'cross_border', 'relatedness', 'economic_sector_ac',
       'business_sector_ac', 'economic_sector_target',
       'business_sector_target']]

In [131]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=0)

# Pipeline and GridSearch

In [132]:
cat_transformer = OneHotEncoder(handle_unknown='ignore')

In [133]:
num_transformer= MinMaxScaler()

In [134]:
cat_features=['consideration_offered', 'shares_acquired', 'shares_at_announcement', 'cross_border', 'relatedness',
       'economic_sector_ac', 'business_sector_ac', 'economic_sector_target', 'target_status', 
       'business_sector_target']

In [135]:
preprocessor = ColumnTransformer([
    ('num_transformer', num_transformer, ['acquisition_count']),
    ('cat_transformer', cat_transformer, cat_features)],
    remainder='passthrough')

## Baseline

In [137]:
baseline_model_str = DummyClassifier(strategy="stratified")

In [140]:
cross_val_score(baseline_model_str, X_train, y_train, cv=5, scoring='accuracy').mean()

0.33364704848673277

## SGDClassifier

In [143]:
model= SGDClassifier()

In [144]:
pipe = Pipeline([
    ('preprocessing', preprocessor),
    ('model', model)])

In [145]:
# Cross validate pipeline
cross_val_score(pipe, X_train, y_train, cv=5, scoring='accuracy').mean()

0.32949015629742595

In [ ]:
# Hyperparameter Grid
grid = {'model__alpha':[100, 120, 140, 160, 180, 200, 220],
        'model__fit_intercept': [True, False], 
        'model__normalize': [True, False], 
        'model__tol': [0.01, 0.001, 0.0001],
        'model__solver':['auto', 'svd', 'cholesky', 'lsqr', 'sparse_cg', 'sag', 'saga']}

In [ ]:
search = GridSearchCV(pipe, 
                      grid, 
                      scoring = ['neg_mean_squared_error', 'r2','neg_mean_absolute_error'],
                      refit='neg_mean_squared_error',
                      cv = 5,
                      n_jobs=-1)