In [142]:
import numpy as np
import pandas as pd
import matplotlib
import requests
from pandas.tseries.offsets import BDay
import yfinance as yf
from datetime import datetime
import pickle

# Loading the dataset:

In [26]:
df_initial= pd.read_csv("/Users/manonlaffly/code/cobergmann/MA_PREDICTOR/raw_data/210906_LeWagon_finalproject_v2.csv")

In [27]:
df_initial = df_initial.rename(columns={'Acquiror Primary Ticker Symbol': 'Acquiror_Primary_Ticker_Symbol', 'Date Announced': 'Date_Announced'})

In [28]:
df_initial = df_initial.dropna(subset=['Acquiror_Primary_Ticker_Symbol'])

In [29]:
df_initial['Date_Announced'] = pd.to_datetime(df_initial['Date_Announced'])

Here is the initial dataframe with date as datetime and certain names of columns modified:

In [30]:
df_initial

,SDC Deal No,Date_Announced,"Deal Value\n(USD, Millions)",Acquiror Full Name,Acquiror_Primary_Ticker_Symbol,Target Full Name,Target Nation,Acquiror Nation,Target Public Status,Acquiror TRBC Industry,Target TRBC Industry,Percentage of Shares Held at Announcement,Percentage of Shares Acquired in Transaction,Consideration Offered\n('|'),Deal Attitude,Acquisition Techniques\n('|'),Acquiror Financial Advisors Name\n('|'),Target Financial Advisors Name\n('|')
0,1631732020,2005-01-01,12.00,Plains All American Pipeline LP,PAA,Shell Pipeline Co LP-Crude Oil Pipeline Assets...,United States,United States,Subsidiary,Oil & Gas Refining and Marketing,Oil & Gas Transportation Services,NaN,100.0,Cash|Cash Only,Friendly,Financial Acquiror|Divestiture,NaN,NaN
1,1653652020,2005-01-01,NaN,Regis Corp,RGS,Scot Lewis Schools,United States,United States,Private,Personal Services,Professional & Business Education,NaN,100.0,Unspecified,Friendly,Not Applicable,NaN,NaN
2,1670089020,2005-01-01,"1,700.00",Prudential Financial Inc,PRU,Prudential Financial Inc,United States,United States,Public,Life & Health Insurance,Life & Health Insurance,NaN,0.0,Cash|Cash Only,No Applicable,Open Market Purchase|Repurchase,NaN,NaN
3,1949421020,2005-01-01,NaN,Google Inc,GOOG,PhatBits,United States,United States,Private,Online Services,Software,NaN,100.0,Unspecified,Friendly,Not Applicable,NaN,NaN
4,1652453040,2005-01-01,20.03,Graco Inc,GGG,Gusmer Europe SL,Spain,United States,Private,Industrial Machinery & Equipment,Commodity Chemicals,NaN,100.0,Cash|Cash Only,Friendly,Not Applicable,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29314,3794100020,2021-01-09,NaN,Generac Holdings Inc,GNRC,Apricity Code Corp,United States,United States,Private,Electrical Components & Equipment,Construction & Engineering,NaN,100.0,Unspecified,Friendly,Financial Acquiror,NaN,NaN
29315,3793471020,2021-02-09,179.50,Builders FirstSource Inc,BLDR,California Trusframe LLC,United States,United States,Private,Home Improvement Products & Services Retailers,Construction & Engineering,NaN,100.0,Cash|Cash Only,Friendly,Financial Acquiror,NaN,NaN
29316,3793513020,2021-02-09,NaN,Pennant Group Inc,PNTG,Open Heart Hospice,United States,United States,Private,Healthcare Facilities & Services,Healthcare Facilities & Services,NaN,100.0,Unspecified,Friendly,Not Applicable,NaN,NaN
29317,3793867040,2021-03-09,NaN,Herc Holdings Inc,HRI,Dwight Crane Ltd,Canada,United States,Private,"Passenger Transportation, Ground & Sea",Business Support Services,NaN,100.0,Unspecified,Friendly,Financial Acquiror,NaN,NaN
29318,3793868020,2021-03-09,NaN,Herc Holdings Inc,HRI,LRX LLC,United States,United States,Private,"Passenger Transportation, Ground & Sea",Business Support Services,NaN,100.0,Unspecified,Friendly,Financial Acquiror,NaN,NaN

In [100]:
msft = yf.Ticker("AAPL")

In [101]:
hist = msft.history(start="2020-01-01", end="2020-04-30")[['Open', 'Close']]

In [102]:
hist

                 Open      Close
Date
2020-01-02  73.082501  74.096443
2020-01-03  73.307008  73.376083
2020-01-06  72.478106  73.960770
2020-01-07  73.970641  73.612930
2020-01-08  73.309478  74.797081
...               ...        ...
2020-04-23  68.218751  68.011032
2020-04-24  68.547636  69.974472
2020-04-27  69.685153  70.023941
2020-04-28  70.496259  68.888901
2020-04-29  70.409700  71.151558

[82 rows x 2 columns]

# Extracting the right interval of time

Then we do a copy of the dataframe by selecting the ticker and the announcement date for each merger:

In [31]:
df_min_max = df_initial[['Acquiror_Primary_Ticker_Symbol', 'Date_Announced']].copy()

We add another column that we will call date_max, which for now is just a copy of the date of announcement.

In [32]:
df_min_max['date_max']= df_initial['Date_Announced']

We create a new dataframe that is the result of a groupby function and where the column 'Date_Announced' represent the the most ancient announcement day for a merger and date_max is the most recent announcement day for a merger. Those 2 date are expressed for each ticker:

In [66]:
df_restricted = df_min_max.groupby('Acquiror_Primary_Ticker_Symbol').agg({
                "Date_Announced": min,
                "date_max": max
            })

In [67]:
df_restricted

                               Date_Announced   date_max
Acquiror_Primary_Ticker_Symbol
4704                               2005-06-14 2008-02-25
950140                             2017-01-02 2017-01-02
A                                  2005-01-20 2021-02-03
AAAC                               2007-07-25 2007-07-25
AABA                               2018-07-06 2018-07-06
...                                       ...        ...
ZTS                                2014-11-17 2020-08-04
ZVO                                2019-04-04 2019-04-04
ZY                                 2021-05-28 2021-05-28
ZYTC                               2017-01-13 2017-01-13
ZZ                                 2012-06-13 2012-06-13

[5673 rows x 2 columns]

Then, we create two new columns that will represent 300 days before the first merger and 50 days after the last merger for each company :

In [68]:
df_restricted['30_days_before']= df_restricted['Date_Announced'] - BDay(30)

In [69]:
df_restricted['30_days_after']= df_restricted['date_max'] + BDay(30)

Here is the final restricted dataframe with the correct interval of time:

In [70]:
df_restricted

,Date_Announced,date_max,30_days_before,30_days_after
Acquiror_Primary_Ticker_Symbol,,,,
4704,2005-06-14,2008-02-25,2005-05-03,2008-04-07
950140,2017-01-02,2017-01-02,2016-11-21,2017-02-13
A,2005-01-20,2021-02-03,2004-12-09,2021-03-17
AAAC,2007-07-25,2007-07-25,2007-06-13,2007-09-05
AABA,2018-07-06,2018-07-06,2018-05-25,2018-08-17
...,...,...,...,...
ZTS,2014-11-17,2020-08-04,2014-10-06,2020-09-15
ZVO,2019-04-04,2019-04-04,2019-02-21,2019-05-16
ZY,2021-05-28,2021-05-28,2021-04-16,2021-07-09
ZYTC,2017-01-13,2017-01-13,2016-12-02,2017-02-24
ZZ,2012-06-13,2012-06-13,2012-05-02,2012-07-25

# Extracting stock prices

Now, we extract the list of unique tickers from the df_initial :

In [38]:
unique_ac_code= df_initial['Acquiror_Primary_Ticker_Symbol'].unique().tolist()

In [39]:
#Here is the number of unique companies. 
len(unique_ac_code)

5673

Verify if duplicates in both list.

In [27]:
def checkIfDuplicates_2(listOfElems):
    ''' Check if given list contains any duplicates '''    
    setOfElems = set()
    for elem in listOfElems:
        if elem in setOfElems:
            return True
        else:
            setOfElems.add(elem)         
    return False

In [28]:
result = checkIfDuplicates_2(unique_ac_code)
if result:
    print('Yes, list contains duplicates')
else:
    print('No duplicates found in list')

No duplicates found in list

In [ ]:
def fix_datetime_on_dataframe(df):
    df['date'] = pd.to_datetime(df['date'])
    df.set_index(keys='date', inplace=True)

In [ ]:
def create_stock_df_of_company(company_code):
    """This function will retrieve a dataframe with the date as index and
    with the closing and op """
    url = f'http://iex.lewagon.com/stable/stock/{company_code}/chart/max'
    df = pd.read_json(url)
    fix_datetime_on_dataframe(df)
    df['company_code'] = company_code
    return df[['close', 'open']]

In [122]:
list_df=[]

In [123]:
list_errors=[]

In [124]:
for code in unique_ac_code:
        ticker = yf.Ticker(code)
        date_min=df_restricted.loc[code, '30_days_before'].strftime("%Y-%m-%d")
        date_max=df_restricted.loc[code, '30_days_after'].strftime("%Y-%m-%d")
        stock_data = ticker.history(start=date_min, end=date_max)[['Open', 'Close']]
        if len(stock_data) != 0:
            list_df.append(stock_data)
        else:
            list_errors.append(str(code))

- NPBC: No data found for this date range, symbol may be delisted
- MHA: No data found for this date range, symbol may be delisted
- PKY: No data found for this date range, symbol may be delisted
- GBTD: No data found, symbol may be delisted
- NAVR: No data found for this date range, symbol may be delisted
- SEGB: No data found for this date range, symbol may be delisted
- INMD: Data doesn't exist for startDate = 1124665200, endDate = 1298592000
- MBND: Data doesn't exist for startDate = 1121641200, endDate = 1324339200
- NWS: Data doesn't exist for startDate = 1105401600, endDate = 1356998400
- TUC: No data found for this date range, symbol may be delisted
- LBY: No data found, symbol may be delisted
- XTO: No data found for this date range, symbol may be delisted
- AGL: Data doesn't exist for startDate = 1102291200, endDate = 1137024000
- EK: No data found for this date range, symbol may be delisted
- TESV: No data found, symbol may be delisted
- PPDI: No data found for this date range, symbol may be delisted
- GLDN: No data found, symbol may be delisted
- EDS: No data found for this date range, symbol may be delisted
- KNOT: No data found for this date range, symbol may be delisted
- TSS: No data found, symbol may be delisted
- STIY: No data found for this date range, symbol may be delisted
- ASGC: No data found for this date range, symbol may be delisted
- MCIP: No data found for this date range, symbol may be delisted
- ATU: No data found, symbol may be delisted
- UWRL: No data found, symbol may be delisted
- MON: Data doesn't exist for startDate = 1102896000, endDate = 1407279600
- FAC: No data found for this date range, symbol may be delisted
- WIND: No data found for this date range, symbol may be delisted
- ATCB: Data doesn't exist for startDate = 1102896000, endDate = 1110153600
- LABL: No data found, symbol may be delisted
- MWE: No data found for this date range, symbol may be delisted
- RGRP: No data found, symbol may be delisted
- PNNW: No data found for this date range, symbol may be delisted
- YHOO: No data found for this date range, symbol may be delisted
- FNSR: No data found, symbol may be delisted
- SWIM: Data doesn't exist for startDate = 1103155200, endDate = 1218582000
- NCHP: No data found for this date range, symbol may be delisted
- FYHH: No data found, symbol may be delisted
- CWLC: No data found for this date range, symbol may be delisted
- ASWT: No data found for this date range, symbol may be delisted
- MPG: No data found for this date range, symbol may be delisted
- SMHG: No data found for this date range, symbol may be delisted
- MTMC: No data found for this date range, symbol may be delisted
- BGG: No data found, symbol may be delisted
- TRCR: No data found for this date range, symbol may be delisted
- DVTS: No data found for this date range, symbol may be delisted
- UTK: No data found for this date range, symbol may be delisted
- SXPI: No data found, symbol may be delisted
- SEMG: No data found, symbol may be delisted
- CKCM: No data found for this date range, symbol may be delisted
- SUSQ: No data found for this date range, symbol may be delisted
- ACAS: No data found for this date range, symbol may be delisted
- BHI: Data doesn't exist for startDate = 1103673600, endDate = 1410735600
- HCC: Data doesn't exist for startDate = 1103673600, endDate = 1415577600
- UNFY: No data found for this date range, symbol may be delisted
- BGTH: No data found for this date range, symbol may be delisted
- VARI: No data found for this date range, symbol may be delisted
- CCBI: No data found for this date range, symbol may be delisted
- FSL: No data found for this date range, symbol may be delisted
- PTSX: No data found for this date range, symbol may be delisted
- BTRX: No data found for this date range, symbol may be delisted
- WLSA: No data found for this date range, symbol may be delisted
- GENZ: No data found for this date range, symbol may be delisted
- RXPC: No data found for this date range, symbol may be delisted
- NCI: No data found, symbol may be delisted
- PWAV: No data found for this date range, symbol may be delisted
- RSFF: No data found for this date range, symbol may be delisted
- MWD: No data found for this date range, symbol may be delisted
- VTYC: No data found for this date range, symbol may be delisted
- KTEC: Data doesn't exist for startDate = 1104710400, endDate = 1365375600
- WFIW: No data found for this date range, symbol may be delisted
- CCBD: No data found for this date range, symbol may be delisted
- RSCR: No data found for this date range, symbol may be delisted
- HLND: No data found, symbol may be delisted
- BBT: No data found, symbol may be delisted
- GBSV: No data found for this date range, symbol may be delisted
- WCI: Data doesn't exist for startDate = 1104969600, endDate = 1112223600
- IRC: Data doesn't exist for startDate = 1104969600, endDate = 1452729600
- GISX: No data found for this date range, symbol may be delisted
- SSBN: No data found for this date range, symbol may be delisted
- SMMX: No data found for this date range, symbol may be delisted
- VRSO: No data found for this date range, symbol may be delisted
- SABA: No data found for this date range, symbol may be delisted
- SCOS: No data found for this date range, symbol may be delisted
- LDSH: No data found for this date range, symbol may be delisted
- WWMU: No data found, symbol may be delisted
- CBAI: No data found, symbol may be delisted
- PTRY: No data found for this date range, symbol may be delisted
- FST: Data doesn't exist for startDate = 1105920000, endDate = 1222642800
- HOVNU: No data found, symbol may be delisted
- YSI: No data found for this date range, symbol may be delisted
- CBG: No data found for this date range, symbol may be delisted
- ASFI: No data found, symbol may be delisted
- BRCM: No data found for this date range, symbol may be delisted
- S3C1: No data found, symbol may be delisted
- DLLR: No data found for this date range, symbol may be delisted
- IFLH: No data found for this date range, symbol may be delisted
- LVLT: No data found for this date range, symbol may be delisted
- MLXO: No data found for this date range, symbol may be delisted
- APL: Data doesn't exist for startDate = 1122246000, endDate = 1369695600
- API: Data doesn't exist for startDate = 1122246000, endDate = 1368572400
- AVNR: No data found for this date range, symbol may be delisted
- MOLR: No data found for this date range, symbol may be delisted
- DTG: No data found for this date range, symbol may be delisted
- SOSI: No data found for this date range, symbol may be delisted
- RJET: No data found for this date range, symbol may be delisted
- MIVT: No data found for this date range, symbol may be delisted
- VPWS: No data found for this date range, symbol may be delisted
- IMN: No data found for this date range, symbol may be delisted
- PTV: Data doesn't exist for startDate = 1107216000, endDate = 1270508400
- TARG: No data found for this date range, symbol may be delisted
- NCSH: No data found for this date range, symbol may be delisted
- CKH: No data found, symbol may be delisted
- PPDA: No data found for this date range, symbol may be delisted
- WIZD: Data doesn't exist for startDate = 1107475200, endDate = 1339714800
- UTX: No data found, symbol may be delisted
- ASBC: No data found for this date range, symbol may be delisted
- EDR: Data doesn't exist for startDate = 1107734400, endDate = 1618527600
- FADV: No data found for this date range, symbol may be delisted
- ARG: Data doesn't exist for startDate = 1101686400, endDate = 1452816000
- MHME: No data found for this date range, symbol may be delisted
- FPL: Data doesn't exist for startDate = 1108339200, endDate = 1118962800
- UNTD: No data found for this date range, symbol may be delisted
- TIV: No data found for this date range, symbol may be delisted
- PCL: No data found for this date range, symbol may be delisted
- SMOA: No data found, symbol may be delisted
- JRCC: No data found for this date range, symbol may be delisted
- PACT: Data doesn't exist for startDate = 1106784000, endDate = 1187823600
- CHK: Data doesn't exist for startDate = 1106784000, endDate = 1544486400

- OCR: No data found for this date range, symbol may be delisted
- ICO: Data doesn't exist for startDate = 1101168000, endDate = 1215471600
- ALY: No data found for this date range, symbol may be delisted
- CNXT: Data doesn't exist for startDate = 1108944000, endDate = 1227225600
- RMLX: No data found for this date range, symbol may be delisted
- VRDM: No data found for this date range, symbol may be delisted
- NTRZ: No data found for this date range, symbol may be delisted
- FBOR: No data found for this date range, symbol may be delisted
- LFGRQ: No data found, symbol may be delisted
- LLL: No data found, symbol may be delisted
- DPTR: No data found for this date range, symbol may be delisted
- GTIV: No data found for this date range, symbol may be delisted
- CKP: No data found for this date range, symbol may be delisted
- PTNW: No data found for this date range, symbol may be delisted
- KMP: No data found for this date range, symbol may be delisted
- CMDJ: No data found, symbol may be delisted
- MER: Data doesn't exist for startDate = 1127430000, endDate = 1343775600
- SSTI: Data doesn't exist for startDate = 1110412800, endDate = 1137110400
- CPFG: No data found, symbol may be delisted
- PQ: No data found for this date range, symbol may be delisted
- WOLV: Data doesn't exist for startDate = 1109721600, endDate = 1116975600
- PVTB: No data found for this date range, symbol may be delisted
- EFII: No data found, symbol may be delisted
- MERX: No data found for this date range, symbol may be delisted
- NWMKT: No data found, symbol may be delisted
- FBTC: No data found for this date range, symbol may be delisted
- BMR: No data found for this date range, symbol may be delisted
- VWKM: No data found, symbol may be delisted
- CEDC: No data found for this date range, symbol may be delisted
- BPFH: No data found, symbol may be delisted
- IBD: Data doesn't exist for startDate = 1110240000, endDate = 1117494000
- ARXX: No data found for this date range, symbol may be delisted
- CKEC: No data found for this date range, symbol may be delisted
- PVR: No data found for this date range, symbol may be delisted
- SIRF: No data found for this date range, symbol may be delisted
- VXEN: No data found for this date range, symbol may be delisted
- SCXC: No data found for this date range, symbol may be delisted
- INLM: No data found for this date range, symbol may be delisted
- RGC: Data doesn't exist for startDate = 1110931200, endDate = 1498777200
- ITPD: No data found for this date range, symbol may be delisted
- XTEX: No data found for this date range, symbol may be delisted
- AOB: No data found for this date range, symbol may be delisted
- MSRY: No data found for this date range, symbol may be delisted
- CBL: No data found, symbol may be delisted
- SIKY: No data found for this date range, symbol may be delisted
- WLP: No data found for this date range, symbol may be delisted
- PCBI: No data found for this date range, symbol may be delisted
- EYE: Data doesn't exist for startDate = 1109030400, endDate = 1181602800
- SLTCD: No data found, symbol may be delisted
- UFMC: No data found for this date range, symbol may be delisted
- EAR: Data doesn't exist for startDate = 1111622400, endDate = 1132185600
- MWV: No data found for this date range, symbol may be delisted
- PMFG: No data found for this date range, symbol may be delisted
- SXL: No data found for this date range, symbol may be delisted
- CPWR: Data doesn't exist for startDate = 1122246000, endDate = 1297987200
- ACV: Data doesn't exist for startDate = 1122246000, endDate = 1264377600
- ADCT: Data doesn't exist for startDate = 1118271600, endDate = 1200960000
- SY: Data doesn't exist for startDate = 1118876400, endDate = 1273791600
- WSTC: No data found for this date range, symbol may be delisted
- ZRAN: No data found for this date range, symbol may be delisted
- VAL: Data doesn't exist for startDate = 1124838000, endDate = 1478822400
- TEJS: No data found for this date range, symbol may be delisted
- DGFJ: No data found for this date range, symbol may be delisted
- FRX: No data found, symbol may be delisted
- NRGY: No data found for this date range, symbol may be delisted
- JW.A: No data found, symbol may be delisted
- CEPH: No data found for this date range, symbol may be delisted
- VLG: Data doesn't exist for startDate = 1112310000, endDate = 1136332800
- EGSR: No data found for this date range, symbol may be delisted
- CASM: No data found, symbol may be delisted
- SYMC: No data found, symbol may be delisted
- LVII: No data found for this date range, symbol may be delisted
- CHRS: Data doesn't exist for startDate = 1112828400, endDate = 1120086000
- EQY: No data found for this date range, symbol may be delisted
- MDH: Data doesn't exist for startDate = 1112914800, endDate = 1207609200
- UCBH: No data found for this date range, symbol may be delisted
- GWR: No data found, symbol may be delisted
- TSTF: No data found for this date range, symbol may be delisted
- NVLTD: No data found for this date range, symbol may be delisted
- TURI: No data found for this date range, symbol may be delisted
- MENT: No data found for this date range, symbol may be delisted
- MPWE: No data found, symbol may be delisted
- AFFX: No data found for this date range, symbol may be delisted
- KAD: No data found for this date range, symbol may be delisted
- HSP: No data found for this date range, symbol may be delisted
- PRTH: Data doesn't exist for startDate = 1101340800, endDate = 1174262400
- UGCE: Data doesn't exist for startDate = 1101340800, endDate = 1108598400
- MFE: Data doesn't exist for startDate = 1104105600, endDate = 1278370800
- AMMD: No data found for this date range, symbol may be delisted
- ECMM: No data found for this date range, symbol may be delisted
- ESL: No data found, symbol may be delisted
- TSFG: No data found for this date range, symbol may be delisted
- NTY: Data doesn't exist for startDate = 1116975600, endDate = 1226880000
- KMGB: No data found for this date range, symbol may be delisted
- TRGL: No data found for this date range, symbol may be delisted
- MCBI: Data doesn't exist for startDate = 1119826800, endDate = 1158706800
- IEAM: No data found for this date range, symbol may be delisted
- RHB: Data doesn't exist for startDate = 1122332400, endDate = 1249945200
- TIRR: No data found for this date range, symbol may be delisted
- XRIT: No data found for this date range, symbol may be delisted
- CGRH: No data found for this date range, symbol may be delisted
- PRSC: No data found, symbol may be delisted
- WTW: No data found, symbol may be delisted
- 4704: No data found, symbol may be delisted
- MYL: No data found, symbol may be delisted
- DNE: Data doesn't exist for startDate = 1115074800, endDate = 1180479600
- AMIS: No data found for this date range, symbol may be delisted
- IDTI: No data found, symbol may be delisted
- PAS: Data doesn't exist for startDate = 1115247600, endDate = 1179702000
- ASD: No data found for this date range, symbol may be delisted
- TXPO: No data found, symbol may be delisted
- CLDA: No data found for this date range, symbol may be delisted
- BLUD: No data found for this date range, symbol may be delisted
- CBR: No data found for this date range, symbol may be delisted
- AIDO: No data found for this date range, symbol may be delisted
- SLXP: No data found for this date range, symbol may be delisted
- LM: No data found, symbol may be delisted
- BRY: Data doesn't exist for startDate = 1116198000, endDate = 1292198400
- FII: No data found, symbol may be delisted
- EWAN: No data found for this date range, symbol may be delisted
- JAH: No data found for this date range, symbol may be delisted
- ROSE: No data found, symbol may be delisted
- AUML: No data found for this date range, symbol may be delisted
- NUCO: No data found for this date range, symbol may be delisted
- GDLS: No data found for this date range, symbol may be delisted
- MIL: No data found for this date range, symbol may be delisted
- MVC: No data found, symbol may be delisted
- SEYR: No data found for this date range, symbol may be delisted
- MOG.A: No data found, symbol may be delisted
- MSGIE: No data found for this date range, symbol may be delisted

- SBIB: No data found for this date range, symbol may be delisted
- PPP: No data found for this date range, symbol may be delisted
- BDFC: No data found, symbol may be delisted
- ATMI: No data found for this date range, symbol may be delisted
- HTRN: No data found for this date range, symbol may be delisted
- CLCT: No data found, symbol may be delisted
- PCLN: No data found for this date range, symbol may be delisted
- XXIA: No data found for this date range, symbol may be delisted
- CHB: Data doesn't exist for startDate = 1118098800, endDate = 1201737600
- WAVE: Data doesn't exist for startDate = 1118098800, endDate = 1199923200
- XCHCD: No data found, symbol may be delisted
- PER: No data found, symbol may be delisted
- FPO: No data found for this date range, symbol may be delisted
- GEEK: Data doesn't exist for startDate = 1118271600, endDate = 1180652400
- SCBT: No data found for this date range, symbol may be delisted
- CKXE: No data found for this date range, symbol may be delisted
- INFS: No data found for this date range, symbol may be delisted
- SGTL: No data found for this date range, symbol may be delisted
- ACTI: Data doesn't exist for startDate = 1118703600, endDate = 1264377600
- GKNT: No data found for this date range, symbol may be delisted
- JFGI: No data found, symbol may be delisted
- PSA.A: No data found, symbol may be delisted
- NYB: No data found for this date range, symbol may be delisted
- WEBX: No data found for this date range, symbol may be delisted
- SFY: Data doesn't exist for startDate = 1101686400, endDate = 1223506800
- NCOC: No data found for this date range, symbol may be delisted
- HMA: No data found for this date range, symbol may be delisted
- ALLI: No data found for this date range, symbol may be delisted
- SPMC: No data found for this date range, symbol may be delisted
- OVRL: No data found for this date range, symbol may be delisted
- ERFW: No data found for this date range, symbol may be delisted
- AVNA: No data found for this date range, symbol may be delisted
- KNXA: No data found for this date range, symbol may be delisted
- PCR: Data doesn't exist for startDate = 1127775600, endDate = 1235606400
- VSBS: No data found, symbol may be delisted
- ADY: No data found for this date range, symbol may be delisted
- SEHO: No data found for this date range, symbol may be delisted
- GDP: Data doesn't exist for startDate = 1120604400, endDate = 1275606000
- CNSC: Data doesn't exist for startDate = 1120604400, endDate = 1127862000
- JRN: No data found for this date range, symbol may be delisted
- MPLG: No data found, symbol may be delisted
- CGNI: Data doesn't exist for startDate = 1120777200, endDate = 1128034800
- EAC: Data doesn't exist for startDate = 1121036400, endDate = 1367276400
- CEAC: No data found for this date range, symbol may be delisted
- ELNK: No data found for this date range, symbol may be delisted
- KSP: No data found for this date range, symbol may be delisted
- PKTV: No data found, symbol may be delisted
- SDGLE: No data found, symbol may be delisted
- SNBC: No data found for this date range, symbol may be delisted
- PMCY: No data found for this date range, symbol may be delisted
- QLGC: No data found for this date range, symbol may be delisted
- S: Data doesn't exist for startDate = 1121641200, endDate = 1372633200
- HITT: No data found for this date range, symbol may be delisted
- AHMD: No data found, symbol may be delisted
- TRIS: No data found for this date range, symbol may be delisted
- FSNM: No data found for this date range, symbol may be delisted
- RVR: No data found, symbol may be delisted
- BRNC: No data found for this date range, symbol may be delisted
- EPCT: No data found for this date range, symbol may be delisted
- TRW: No data found for this date range, symbol may be delisted
- CALP: No data found for this date range, symbol may be delisted
- EECG: No data found, symbol may be delisted
- ALMI: No data found for this date range, symbol may be delisted
- RRA: No data found for this date range, symbol may be delisted
- FNFG: No data found for this date range, symbol may be delisted
- PRSP: No data found, symbol may be delisted
- CHWN: No data found, symbol may be delisted
- SPLS: No data found for this date range, symbol may be delisted
- BGMO: Data doesn't exist for startDate = 1123455600, endDate = 1187218800
- RADS: No data found for this date range, symbol may be delisted
- NRCI: No data found for this date range, symbol may be delisted
- RNGG: Data doesn't exist for startDate = 1123542000, endDate = 1130803200
- EDE: No data found for this date range, symbol may be delisted
- ATEA: No data found, symbol may be delisted
- TOBC: No data found for this date range, symbol may be delisted
- ATPG: No data found for this date range, symbol may be delisted
- DDMX: Data doesn't exist for startDate = 1123628400, endDate = 1130889600
- OMNI: Data doesn't exist for startDate = 1123714800, endDate = 1212620400
- PNRA: No data found for this date range, symbol may be delisted
- ROIAK: No data found for this date range, symbol may be delisted
- DRC: No data found for this date range, symbol may be delisted
- SCHK: Data doesn't exist for startDate = 1124060400, endDate = 1131321600
- LPET: No data found for this date range, symbol may be delisted
- FLCR: No data found for this date range, symbol may be delisted
- CWLM: No data found for this date range, symbol may be delisted
- DGCO: No data found for this date range, symbol may be delisted
- UACL: No data found for this date range, symbol may be delisted
- HAMP: No data found for this date range, symbol may be delisted
- BXG: No data found, symbol may be delisted
- MINI: No data found, symbol may be delisted
- SOLN: Data doesn't exist for startDate = 1112050800, endDate = 1133222400
- TPFS: No data found for this date range, symbol may be delisted
- NHP: Data doesn't exist for startDate = 1114729200, endDate = 1305586800
- TCT: Data doesn't exist for startDate = 1117407600, endDate = 1124406000
- SFC: Data doesn't exist for startDate = 1117407600, endDate = 1181257200
- BIOS: No data found, symbol may be delisted
- EVVV: No data found for this date range, symbol may be delisted
- BGC: No data found for this date range, symbol may be delisted
- OXFV: No data found for this date range, symbol may be delisted
- ATWO: No data found for this date range, symbol may be delisted
- PIII: No data found for this date range, symbol may be delisted
- BABY: No data found, symbol may be delisted
- CRRC: No data found for this date range, symbol may be delisted
- FNDT: No data found for this date range, symbol may be delisted
- MAUG: No data found for this date range, symbol may be delisted
- MPET: No data found for this date range, symbol may be delisted
- ROC: Data doesn't exist for startDate = 1126047600, endDate = 1364428800
- SNDK: No data found for this date range, symbol may be delisted
- IDIB: No data found for this date range, symbol may be delisted
- WR: No data found for this date range, symbol may be delisted
- NRF: No data found for this date range, symbol may be delisted
- TSET: No data found for this date range, symbol may be delisted
- PULB: No data found for this date range, symbol may be delisted
- DTTO: Data doesn't exist for startDate = 1126652400, endDate = 1134345600
- TRINC: No data found, symbol may be delisted
- ONFC: No data found for this date range, symbol may be delisted
- SVCF: No data found for this date range, symbol may be delisted
- PMCS: No data found for this date range, symbol may be delisted
- BONT: No data found for this date range, symbol may be delisted
- UBSH: No data found, symbol may be delisted
- TLP: No data found, symbol may be delisted
- TSRA: No data found for this date range, symbol may be delisted
- AVP: No data found, symbol may be delisted
- PZZ: No data found for this date range, symbol may be delisted
- CCNI: No data found, symbol may be delisted
- PTSG: Data doesn't exist for startDate = 1104451200, endDate = 1111708800
- MTXX: No data found for this date range, symbol may be delisted
- VMCI: No data found for this date range, symbol may be delisted
- HERO: Data doesn't exist for startDate = 1120086000, endDate = 1335826800

- EMGL: No data found for this date range, symbol may be delisted
- TVIN: No data found for this date range, symbol may be delisted
- HSTT: No data found, symbol may be delisted
- HAF: No data found for this date range, symbol may be delisted
- DEVC: No data found for this date range, symbol may be delisted
- AGN: No data found, symbol may be delisted
- CBHI: No data found for this date range, symbol may be delisted
- HLTH: No data found, symbol may be delisted
- IHS: No data found for this date range, symbol may be delisted
- FLIR: No data found, symbol may be delisted
- SNWL: No data found for this date range, symbol may be delisted
- MNCN: No data found, symbol may be delisted
- DNR: No data found, symbol may be delisted
- VITS: No data found for this date range, symbol may be delisted
- SNMD: No data found, symbol may be delisted
- AMDD: No data found, symbol may be delisted
- AFCO: No data found for this date range, symbol may be delisted
- MFCD: No data found for this date range, symbol may be delisted
- TARR: No data found for this date range, symbol may be delisted
- CHMD: No data found, symbol may be delisted
- DLKM: No data found, symbol may be delisted
- MDVX: No data found, symbol may be delisted
- CTB: No data found, symbol may be delisted
- ANSW: No data found for this date range, symbol may be delisted
- ICGE: No data found for this date range, symbol may be delisted
- TLKO: No data found for this date range, symbol may be delisted
- MDII: No data found for this date range, symbol may be delisted
- SNYL: Data doesn't exist for startDate = 1122850800, endDate = 1232323200
- WRES: No data found for this date range, symbol may be delisted
- ESIV: No data found, symbol may be delisted
- SDRG: No data found, symbol may be delisted
- NSR: Data doesn't exist for startDate = 1130976000, endDate = 1449619200
- SIGM: No data found, symbol may be delisted
- SUG: Data doesn't exist for startDate = 1131062400, endDate = 1138320000
- ACBT: No data found, symbol may be delisted
- PDE: No data found for this date range, symbol may be delisted
- ENMD: No data found for this date range, symbol may be delisted
- NCC: Data doesn't exist for startDate = 1131580800, endDate = 1173312000
- GRXI: No data found for this date range, symbol may be delisted
- PRX: Data doesn't exist for startDate = 1131580800, endDate = 1309734000
- HFIT: No data found for this date range, symbol may be delisted
- DYN: Data doesn't exist for startDate = 1132012800, endDate = 1496617200
- ABI: No data found for this date range, symbol may be delisted
- CACB: No data found for this date range, symbol may be delisted
- DSCO: No data found for this date range, symbol may be delisted
- DGTC: No data found for this date range, symbol may be delisted
- HME: No data found for this date range, symbol may be delisted
- ASIA: No data found for this date range, symbol may be delisted
- IRSN: No data found for this date range, symbol may be delisted
- THQI: No data found for this date range, symbol may be delisted
- DUSA: Data doesn't exist for startDate = 1137542400, endDate = 1144796400
- DTAS: No data found for this date range, symbol may be delisted
- HNT: No data found for this date range, symbol may be delisted
- FLA: Data doesn't exist for startDate = 1145487600, endDate = 1152745200
- HPT: No data found, symbol may be delisted
- ACTU: No data found for this date range, symbol may be delisted
- VVEA: No data found, symbol may be delisted
- PSPT: No data found for this date range, symbol may be delisted
- CCWW: No data found for this date range, symbol may be delisted
- IKAN: No data found for this date range, symbol may be delisted
- NZYM: Data doesn't exist for startDate = 1161298800, endDate = 1168560000
- URZ: No data found for this date range, symbol may be delisted
- GBTVQ: No data found, symbol may be delisted
- GRT: Data doesn't exist for startDate = 1133827200, endDate = 1391040000
- WBMD: No data found for this date range, symbol may be delisted
- APRO: Data doesn't exist for startDate = 1133913600, endDate = 1141171200
- IBSO: No data found, symbol may be delisted
- CNQR: No data found for this date range, symbol may be delisted
- ATSI: No data found for this date range, symbol may be delisted
- NITE: No data found, symbol may be delisted
- PRVB: Data doesn't exist for startDate = 1134432000, endDate = 1198540800
- NETL: Data doesn't exist for startDate = 1134518400, endDate = 1304290800
- NANO: No data found, symbol may be delisted
- PGRI: No data found, symbol may be delisted
- ESCH: Data doesn't exist for startDate = 1134604800, endDate = 1175468400
- INFA: No data found for this date range, symbol may be delisted
- FPFC: No data found for this date range, symbol may be delisted
- SUPG: No data found for this date range, symbol may be delisted
- CHVC: No data found, symbol may be delisted
- GSHG: No data found, symbol may be delisted
- MTPT: No data found for this date range, symbol may be delisted
- AM: Data doesn't exist for startDate = 1132531200, endDate = 1446163200
- PRGX: No data found, symbol may be delisted
- SVM: Data doesn't exist for startDate = 1135209600, endDate = 1142467200
- TRAK: No data found for this date range, symbol may be delisted
- SMDI: No data found for this date range, symbol may be delisted
- BNCN: No data found for this date range, symbol may be delisted
- NPYC: No data found, symbol may be delisted
- PL: Data doesn't exist for startDate = 1148252400, endDate = 1155250800
- BTUI: No data found for this date range, symbol may be delisted
- OO: No data found for this date range, symbol may be delisted
- NBL: No data found, symbol may be delisted
- DATA: No data found, symbol may be delisted
- STSA: Data doesn't exist for startDate = 1136160000, endDate = 1363651200
- NMSS: No data found for this date range, symbol may be delisted
- DGMF: No data found for this date range, symbol may be delisted
- PFNC: No data found for this date range, symbol may be delisted
- PILL: Data doesn't exist for startDate = 1136246400, endDate = 1169164800
- TCLP: No data found for this date range, symbol may be delisted
- GGXY: No data found for this date range, symbol may be delisted
- CYKN: No data found for this date range, symbol may be delisted
- ANLT: No data found for this date range, symbol may be delisted
- CTV: Data doesn't exist for startDate = 1136419200, endDate = 1287529200
- MHGC: No data found for this date range, symbol may be delisted
- PDHO: No data found for this date range, symbol may be delisted
- SSI: No data found, symbol may be delisted
- ETM: No data found, symbol may be delisted
- MKC.V: No data found, symbol may be delisted
- CD: Data doesn't exist for startDate = 1136764800, endDate = 1144018800
- CSA: Data doesn't exist for startDate = 1136937600, endDate = 1207782000
- CRRS: No data found for this date range, symbol may be delisted
- GTX: Data doesn't exist for startDate = 1133395200, endDate = 1220914800
- TLGD: No data found for this date range, symbol may be delisted
- DTV: No data found, symbol may be delisted
- CPTC: No data found for this date range, symbol may be delisted
- PPS: No data found for this date range, symbol may be delisted
- JNS: No data found for this date range, symbol may be delisted
- NCT: Data doesn't exist for startDate = 1133136000, endDate = 1407711600
- LENX: No data found, symbol may be delisted
- HOUM: No data found for this date range, symbol may be delisted
- TLR: No data found for this date range, symbol may be delisted
- HYDL: No data found for this date range, symbol may be delisted
- NCNC: No data found for this date range, symbol may be delisted
- SVI: Data doesn't exist for startDate = 1138579200, endDate = 1145833200
- LEAP: Data doesn't exist for startDate = 1138579200, endDate = 1237161600
- UBNK: No data found, symbol may be delisted
- PARS: No data found, symbol may be delisted
- CYN: Data doesn't exist for startDate = 1133308800, endDate = 1253142000
- CAMD: No data found for this date range, symbol may be delisted
- DELL: Data doesn't exist for startDate = 1139356800, endDate = 1374015600
- CHID: No data found for this date range, symbol may be delisted
- BVLE: No data found for this date range, symbol may be delisted

- RSTI: No data found for this date range, symbol may be delisted
- CMHT: No data found, symbol may be delisted
- MAEN: No data found for this date range, symbol may be delisted
- ALJ: No data found for this date range, symbol may be delisted
- AFGSV: No data found, symbol may be delisted
- OTRS: No data found, symbol may be delisted
- EPIX: Data doesn't exist for startDate = 1137974400, endDate = 1144969200
- HBDT: No data found for this date range, symbol may be delisted
- JEC: No data found, symbol may be delisted
- PCYC: No data found for this date range, symbol may be delisted
- CFHZ: No data found, symbol may be delisted
- ANX: No data found for this date range, symbol may be delisted
- OEGY: No data found, symbol may be delisted
- PWTC: No data found for this date range, symbol may be delisted
- DOTX: No data found for this date range, symbol may be delisted
- EESV: No data found for this date range, symbol may be delisted
- BBG: No data found for this date range, symbol may be delisted
- DSCI: No data found for this date range, symbol may be delisted
- IPCY: No data found for this date range, symbol may be delisted
- FDSA: No data found, symbol may be delisted
- HBRF: No data found, symbol may be delisted
- PNWP: No data found, symbol may be delisted
- PGNX: No data found, symbol may be delisted
- HFBC: No data found, symbol may be delisted
- RAI: No data found for this date range, symbol may be delisted
- SFG: Data doesn't exist for startDate = 1142294400, endDate = 1149548400
- ABBI: No data found for this date range, symbol may be delisted
- AULO: No data found, symbol may be delisted
- XCO: No data found for this date range, symbol may be delisted
- ESCC: No data found, symbol may be delisted
- GCS: Data doesn't exist for startDate = 1132790400, endDate = 1215471600
- GMCR: No data found for this date range, symbol may be delisted
- HW: No data found for this date range, symbol may be delisted
- ONCM: No data found, symbol may be delisted
- BBX: No data found, symbol may be delisted
- ARFR: No data found, symbol may be delisted
- WPCS: No data found for this date range, symbol may be delisted
- EGLY: No data found, symbol may be delisted
- AHDG: No data found, symbol may be delisted
- SFDE: No data found for this date range, symbol may be delisted
- DMND: No data found for this date range, symbol may be delisted
- MWIV: No data found for this date range, symbol may be delisted
- PKTR: No data found for this date range, symbol may be delisted
- NGNM: No data found for this date range, symbol may be delisted
- DORB: No data found, symbol may be delisted
- GLYT: No data found for this date range, symbol may be delisted
- ITC: Data doesn't exist for startDate = 1161644400, endDate = 1168905600
- PLFC: No data found for this date range, symbol may be delisted
- NTHH: No data found for this date range, symbol may be delisted
- BSLM: No data found for this date range, symbol may be delisted
- DIET: Data doesn't exist for startDate = 1144018800, endDate = 1151276400
- HSSO: No data found, symbol may be delisted
- LINTA: No data found for this date range, symbol may be delisted
- AMB: No data found for this date range, symbol may be delisted
- AQNT: No data found for this date range, symbol may be delisted
- TBHS: No data found for this date range, symbol may be delisted
- IMEN: No data found, symbol may be delisted
- CMRG: No data found for this date range, symbol may be delisted
- PKT: Data doesn't exist for startDate = 1144278000, endDate = 1376262000
- APSP: No data found for this date range, symbol may be delisted
- SDVC: No data found for this date range, symbol may be delisted
- QRUS: No data found for this date range, symbol may be delisted
- OEDV: No data found for this date range, symbol may be delisted
- OLGX: No data found for this date range, symbol may be delisted
- BRFG: No data found for this date range, symbol may be delisted
- WL: Data doesn't exist for startDate = 1144882800, endDate = 1187218800
- AXE: No data found, symbol may be delisted
- MGN: No data found for this date range, symbol may be delisted
- MBR: Data doesn't exist for startDate = 1145401200, endDate = 1189638000
- CZFC: No data found, symbol may be delisted
- IPRWF: No data found for this date range, symbol may be delisted
- AASG: No data found, symbol may be delisted
- PAYI: No data found, symbol may be delisted
- PCUV: No data found, symbol may be delisted
- CLRT: No data found for this date range, symbol may be delisted
- SGY: No data found for this date range, symbol may be delisted
- APC: No data found, symbol may be delisted
- DGMS: Data doesn't exist for startDate = 1147734000, endDate = 1193875200
- NLCI: No data found for this date range, symbol may be delisted
- INVC: No data found, symbol may be delisted
- ALEX: Data doesn't exist for startDate = 1147993200, endDate = 1246921200
- MSBT: No data found, symbol may be delisted
- PTRP: No data found for this date range, symbol may be delisted
- VEXP: No data found for this date range, symbol may be delisted
- ADPI: Data doesn't exist for startDate = 1143414000, endDate = 1261958400
- CSH: No data found for this date range, symbol may be delisted
- ANV: Data doesn't exist for startDate = 1156719600, endDate = 1163721600
- GBE: Data doesn't exist for startDate = 1156719600, endDate = 1279839600
- LUCE: No data found, symbol may be delisted
- RGNC: No data found for this date range, symbol may be delisted
- TADF: No data found for this date range, symbol may be delisted
- HGR: No data found for this date range, symbol may be delisted
- DLT.S: No data found, symbol may be delisted
- PLNR: No data found for this date range, symbol may be delisted
- WSII: No data found for this date range, symbol may be delisted
- AW: No data found for this date range, symbol may be delisted
- LINE: No data found for this date range, symbol may be delisted
- TRGD: No data found, symbol may be delisted
- CBTE: No data found for this date range, symbol may be delisted
- MFRI: No data found for this date range, symbol may be delisted
- IBKC: No data found, symbol may be delisted
- GBRC: No data found, symbol may be delisted
- LIV: Data doesn't exist for startDate = 1150326000, endDate = 1157583600
- TWTC: No data found for this date range, symbol may be delisted
- FEP: Data doesn't exist for startDate = 1150326000, endDate = 1157583600
- CPX: Data doesn't exist for startDate = 1133136000, endDate = 1266883200
- TZMT: No data found, symbol may be delisted
- WPTE: No data found for this date range, symbol may be delisted
- STI: No data found, symbol may be delisted
- ACI: Data doesn't exist for startDate = 1135728000, endDate = 1387497600
- VOCS: No data found for this date range, symbol may be delisted
- MAMS: No data found, symbol may be delisted
- TSCM: No data found for this date range, symbol may be delisted
- MMCE: No data found, symbol may be delisted
- TNVA: No data found, symbol may be delisted
- SVNT: No data found for this date range, symbol may be delisted
- ADAM: No data found for this date range, symbol may be delisted
- GSX: No data found, symbol may be delisted
- GNGI: No data found, symbol may be delisted
- WYN: No data found for this date range, symbol may be delisted
- ILG: Data doesn't exist for startDate = 1152140400, endDate = 1159398000
- IFCH: No data found, symbol may be delisted
- ECFL: No data found, symbol may be delisted
- WNR: No data found for this date range, symbol may be delisted
- RSDS: No data found, symbol may be delisted
- RACK: Data doesn't exist for startDate = 1153177200, endDate = 1234483200
- PDOS: Data doesn't exist for startDate = 1153263600, endDate = 1160521200
- IML: Data doesn't exist for startDate = 1133136000, endDate = 1140393600
- RSMIE: No data found, symbol may be delisted
- AATI: No data found for this date range, symbol may be delisted
- PNK: Data doesn't exist for startDate = 1143500400, endDate = 1359676800
- KBLH: No data found, symbol may be delisted
- EHNX: No data found, symbol may be delisted
- LTS: No data found, symbol may be delisted
- KG: No data found for this date range, symbol may be delisted
- DLCV: No data found for this date range, symbol may be delisted

- OME: No data found for this date range, symbol may be delisted
- APP: Data doesn't exist for startDate = 1159398000, endDate = 1181516400
- ID: Data doesn't exist for startDate = 1159398000, endDate = 1276556400
- EHHA: No data found, symbol may be delisted
- HCN: No data found for this date range, symbol may be delisted
- FOFH: No data found, symbol may be delisted
- GEOI: No data found for this date range, symbol may be delisted
- CZN: Data doesn't exist for startDate = 1154905200, endDate = 1182121200
- DTSI: No data found for this date range, symbol may be delisted
- FSKM: No data found, symbol may be delisted
- FKLE: No data found for this date range, symbol may be delisted
- DMED: No data found for this date range, symbol may be delisted
- GSB: No data found, symbol may be delisted
- ADMD: No data found for this date range, symbol may be delisted
- BDSB: No data found, symbol may be delisted
- BNHNA: No data found for this date range, symbol may be delisted
- TENG: Data doesn't exist for startDate = 1155769200, endDate = 1184281200
- HAPN: No data found, symbol may be delisted
- ACO: No data found for this date range, symbol may be delisted
- SWSI: No data found for this date range, symbol may be delisted
- LCRY: No data found for this date range, symbol may be delisted
- BEYV: No data found, symbol may be delisted
- SWY: No data found for this date range, symbol may be delisted
- ICPR: No data found, symbol may be delisted
- TMEN: No data found for this date range, symbol may be delisted
- SRLM: No data found for this date range, symbol may be delisted
- ISEE: Data doesn't exist for startDate = 1146438000, endDate = 1184022000
- SPSI: No data found, symbol may be delisted
- NOBL: Data doesn't exist for startDate = 1158188400, endDate = 1169164800
- ROX: No data found, symbol may be delisted
- FGP: No data found, symbol may be delisted
- IAO: No data found for this date range, symbol may be delisted
- XPOI: No data found for this date range, symbol may be delisted
- PEIX: No data found, symbol may be delisted
- PETD: No data found for this date range, symbol may be delisted
- TORA: No data found, symbol may be delisted
- OKS: No data found for this date range, symbol may be delisted
- PLRO: No data found, symbol may be delisted
- FIII: No data found, symbol may be delisted
- IRAE: No data found for this date range, symbol may be delisted
- GBIC: No data found for this date range, symbol may be delisted
- HSPL: No data found, symbol may be delisted
- VTIV: No data found for this date range, symbol may be delisted
- OCIC: Data doesn't exist for startDate = 1148943600, endDate = 1156201200
- SNIC: No data found for this date range, symbol may be delisted
- CMLI: No data found, symbol may be delisted
- BVX: No data found for this date range, symbol may be delisted
- OMTL: No data found for this date range, symbol may be delisted
- ISRL: No data found, symbol may be delisted
- BRVR: No data found, symbol may be delisted
- TISG: No data found, symbol may be delisted
- NWWM: No data found, symbol may be delisted
- MNAP: Data doesn't exist for startDate = 1160694000, endDate = 1167955200
- ASCE: No data found, symbol may be delisted
- IGAM: Data doesn't exist for startDate = 1161126000, endDate = 1168387200
- CKR: Data doesn't exist for startDate = 1161126000, endDate = 1168387200
- LHCS: No data found, symbol may be delisted
- GNXC: No data found, symbol may be delisted
- TXCC: No data found for this date range, symbol may be delisted
- ARBX: No data found for this date range, symbol may be delisted
- SGDM.O: No data found, symbol may be delisted
- HSYT: No data found, symbol may be delisted
- MEA: No data found for this date range, symbol may be delisted
- CRGO: No data found for this date range, symbol may be delisted
- MCCN: No data found, symbol may be delisted
- APHY: No data found, symbol may be delisted
- SWHC: No data found for this date range, symbol may be delisted
- CELL: Data doesn't exist for startDate = 1162771200, endDate = 1199145600
- EDA: Data doesn't exist for startDate = 1162857600, endDate = 1170115200
- KNTX: No data found, symbol may be delisted
- SHMM: No data found, symbol may be delisted
- BJS: No data found for this date range, symbol may be delisted
- BNE: Data doesn't exist for startDate = 1162944000, endDate = 1224111600
- RDEA: No data found for this date range, symbol may be delisted
- SCHW34: No data found, symbol may be delisted
- SGAS: No data found for this date range, symbol may be delisted
- PHGI: Data doesn't exist for startDate = 1163548800, endDate = 1170806400
- FEED: No data found for this date range, symbol may be delisted
- BVYH: No data found, symbol may be delisted
- FCS: No data found for this date range, symbol may be delisted
- BID: No data found, symbol may be delisted
- EVEP: No data found for this date range, symbol may be delisted
- KNOL: No data found for this date range, symbol may be delisted
- APOL: No data found for this date range, symbol may be delisted
- GBTS: No data found for this date range, symbol may be delisted
- HYC: No data found for this date range, symbol may be delisted
- DGRI: No data found, symbol may be delisted
- LNBB: No data found for this date range, symbol may be delisted
- OMAC: No data found, symbol may be delisted
- OMTR: No data found for this date range, symbol may be delisted
- HAQ: No data found for this date range, symbol may be delisted
- NMX: No data found, symbol may be delisted
- DRV: Data doesn't exist for startDate = 1165881600, endDate = 1173139200
- BLRS: No data found, symbol may be delisted
- DGLP: No data found for this date range, symbol may be delisted
- ARIS: No data found for this date range, symbol may be delisted
- TSO: No data found for this date range, symbol may be delisted
- APIA: No data found, symbol may be delisted
- MGFX: Data doesn't exist for startDate = 1166486400, endDate = 1173744000
- BKYF: No data found for this date range, symbol may be delisted
- HYSR: Data doesn't exist for startDate = 1166486400, endDate = 1173744000
- GVGC: No data found, symbol may be delisted
- ZMNL: No data found, symbol may be delisted
- VLCR: No data found for this date range, symbol may be delisted
- HPGI: No data found, symbol may be delisted
- GLBM: No data found for this date range, symbol may be delisted
- CSCA: No data found for this date range, symbol may be delisted
- DTLK: No data found for this date range, symbol may be delisted
- POLL: No data found for this date range, symbol may be delisted
- ADVS: No data found for this date range, symbol may be delisted
- HOLL: No data found for this date range, symbol may be delisted
- RBCF: No data found for this date range, symbol may be delisted
- GNNO: No data found, symbol may be delisted
- OKSB: No data found for this date range, symbol may be delisted
- SUTR: No data found for this date range, symbol may be delisted
- BITI: No data found for this date range, symbol may be delisted
- ASFG: No data found, symbol may be delisted
- LZ: Data doesn't exist for startDate = 1169769600, endDate = 1299196800
- FSON: No data found for this date range, symbol may be delisted
- NHWK: No data found for this date range, symbol may be delisted
- QPSA: No data found for this date range, symbol may be delisted
- ACLI: No data found for this date range, symbol may be delisted
- PNGB: No data found for this date range, symbol may be delisted
- CNVN: No data found, symbol may be delisted
- PX: Data doesn't exist for startDate = 1168300800, endDate = 1528239600
- EWRL: No data found, symbol may be delisted
- ACCP: No data found for this date range, symbol may be delisted
- WFMI: No data found for this date range, symbol may be delisted
- TAG: No data found for this date range, symbol may be delisted
- LEIW: No data found for this date range, symbol may be delisted
- GNMT: No data found for this date range, symbol may be delisted
- BERL: No data found, symbol may be delisted
- ATCT: No data found for this date range, symbol may be delisted
- IESO: No data found, symbol may be delisted
- TLEO: No data found for this date range, symbol may be delisted
- TCAR: No data found for this date range, symbol may be delisted

- INRA: No data found, symbol may be delisted
- STXX: Data doesn't exist for startDate = 1179788400, endDate = 1200614400
- BARE: No data found, symbol may be delisted
- CEP: Data doesn't exist for startDate = 1169683200, endDate = 1382050800
- DFODQ: No data found, symbol may be delisted
- CNSO: No data found for this date range, symbol may be delisted
- CHLN: No data found for this date range, symbol may be delisted
- MRM: Data doesn't exist for startDate = 1170115200, endDate = 1177369200
- GFSI: No data found for this date range, symbol may be delisted
- CCBX: No data found, symbol may be delisted
- UPI: Data doesn't exist for startDate = 1170288000, endDate = 1177542000
- ISLE: Data doesn't exist for startDate = 1170633600, endDate = 1276556400
- SNEN: No data found, symbol may be delisted
- UPBS: No data found, symbol may be delisted
- LGCY: Data doesn't exist for startDate = 1170720000, endDate = 1405551600
- GLXI: No data found for this date range, symbol may be delisted
- RTGV: No data found for this date range, symbol may be delisted
- MBHI: No data found for this date range, symbol may be delisted
- BDYT: No data found, symbol may be delisted
- CAM: No data found for this date range, symbol may be delisted
- OPBL: No data found, symbol may be delisted
- SONS: No data found for this date range, symbol may be delisted
- SKYH: No data found for this date range, symbol may be delisted
- CLAY: Data doesn't exist for startDate = 1171497600, endDate = 1178751600
- SXE: No data found, symbol may be delisted
- EROC: No data found for this date range, symbol may be delisted
- WATG: No data found for this date range, symbol may be delisted
- ATK: No data found for this date range, symbol may be delisted
- TNXI: No data found for this date range, symbol may be delisted
- MCGC: No data found for this date range, symbol may be delisted
- INHX: No data found for this date range, symbol may be delisted
- PWRV: No data found for this date range, symbol may be delisted
- MIG: Data doesn't exist for startDate = 1173139200, endDate = 1207090800
- ININ: No data found for this date range, symbol may be delisted
- GPSI: Data doesn't exist for startDate = 1173139200, endDate = 1180393200
- GNNS: No data found, symbol may be delisted
- CLPT: Data doesn't exist for startDate = 1173398400, endDate = 1205712000
- HMIT: No data found, symbol may be delisted
- RCAU: No data found, symbol may be delisted
- TYC: No data found for this date range, symbol may be delisted
- EVSF: No data found, symbol may be delisted
- UTVG: No data found, symbol may be delisted
- AQQ: Data doesn't exist for startDate = 1173744000, endDate = 1337641200
- PAQN: No data found, symbol may be delisted
- EUKO: No data found, symbol may be delisted
- JMG: No data found for this date range, symbol may be delisted
- APU: No data found, symbol may be delisted
- RDDI: No data found for this date range, symbol may be delisted
- URME: No data found, symbol may be delisted
- IAAC: No data found for this date range, symbol may be delisted
- USSU: No data found, symbol may be delisted
- GMXP: No data found, symbol may be delisted
- NUTR: No data found for this date range, symbol may be delisted
- AKNS: No data found, symbol may be delisted
- EPE: No data found, symbol may be delisted
- KANA: No data found for this date range, symbol may be delisted
- NEXS: No data found, symbol may be delisted
- CYCL: No data found for this date range, symbol may be delisted
- CCRC: Data doesn't exist for startDate = 1185318000, endDate = 1192575600
- IFLG: No data found, symbol may be delisted
- PCAI: No data found, symbol may be delisted
- NWWV: No data found for this date range, symbol may be delisted
- HMSO: No data found, symbol may be delisted
- TMRK: No data found for this date range, symbol may be delisted
- RAME: Data doesn't exist for startDate = 1175468400, endDate = 1196121600
- UTZE: No data found for this date range, symbol may be delisted
- SIRO: No data found for this date range, symbol may be delisted
- SLRY: No data found, symbol may be delisted
- WCSC: No data found, symbol may be delisted
- NXSN: No data found, symbol may be delisted
- KVA: No data found, symbol may be delisted
- GWOH: No data found, symbol may be delisted
- RBPAA: No data found for this date range, symbol may be delisted
- MIPI: No data found, symbol may be delisted
- SNAK: No data found for this date range, symbol may be delisted
- BWLD: No data found for this date range, symbol may be delisted
- GLA: No data found for this date range, symbol may be delisted
- EESX: No data found, symbol may be delisted
- SCEY: No data found, symbol may be delisted
- TSXT: No data found, symbol may be delisted
- VSUL: No data found for this date range, symbol may be delisted
- MTBR: No data found, symbol may be delisted
- RCRC: No data found for this date range, symbol may be delisted
- GRMK: No data found for this date range, symbol may be delisted
- DSCP: No data found for this date range, symbol may be delisted
- WIN: No data found, symbol may be delisted
- UCLP: No data found, symbol may be delisted
- HEOP: No data found for this date range, symbol may be delisted
- OCZ: No data found for this date range, symbol may be delisted
- ACTC: No data found, symbol may be delisted
- MXMC: No data found for this date range, symbol may be delisted
- NXTM: No data found, symbol may be delisted
- PMQC: No data found, symbol may be delisted
- GMML: No data found, symbol may be delisted
- DVR: Data doesn't exist for startDate = 1190674800, endDate = 1236297600
- ETLY: No data found, symbol may be delisted
- AVX: No data found, symbol may be delisted
- PBIB: No data found for this date range, symbol may be delisted
- CTPS: No data found, symbol may be delisted
- HRBN: No data found for this date range, symbol may be delisted
- INTN: Data doesn't exist for startDate = 1178492400, endDate = 1185750000
- WOLF: No data found for this date range, symbol may be delisted
- LUDVK: No data found, symbol may be delisted
- FHCS: No data found for this date range, symbol may be delisted
- JPST: Data doesn't exist for startDate = 1178751600, endDate = 1186009200
- LBMH: No data found for this date range, symbol may be delisted
- HNR: No data found for this date range, symbol may be delisted
- ABDS: No data found for this date range, symbol may be delisted
- HK: No data found, symbol may be delisted
- FRH: Data doesn't exist for startDate = 1179097200, endDate = 1186354800
- EFGO: No data found, symbol may be delisted
- ELMG: No data found for this date range, symbol may be delisted
- NXHD: No data found, symbol may be delisted
- YRCW: No data found, symbol may be delisted
- MEVT: No data found, symbol may be delisted
- SFLY: No data found, symbol may be delisted
- FOODU: No data found, symbol may be delisted
- ZHNP: No data found, symbol may be delisted
- PRRY: Data doesn't exist for startDate = 1169596800, endDate = 1176850800
- KFT: No data found for this date range, symbol may be delisted
- BLSW: No data found for this date range, symbol may be delisted
- NUMX: No data found, symbol may be delisted
- KDK: No data found for this date range, symbol may be delisted
- QSGIQ: No data found, symbol may be delisted
- ABCW: No data found for this date range, symbol may be delisted
- UMNG: No data found, symbol may be delisted
- CNW: No data found for this date range, symbol may be delisted
- OBNI: No data found, symbol may be delisted
- FCSI: No data found for this date range, symbol may be delisted
- SPRG: No data found, symbol may be delisted
- LOCM: No data found for this date range, symbol may be delisted
- GLFE: No data found for this date range, symbol may be delisted
- CCOW: No data found for this date range, symbol may be delisted
- OTGO: No data found, symbol may be delisted
- VSE: No data found for this date range, symbol may be delisted
- ARUN: No data found for this date range, symbol may be delisted
- MTKN: No data found, symbol may be delisted
- TTGL: No data found, symbol may be delisted
- SOUT: No data found, symbol may be delisted
- LPT: No data found, symbol may be delisted
- MSHIE: No data found, symbol may be delisted
- HOS: No data found, symbol may be delisted

- AFMI: No data found, symbol may be delisted
- CTSC: No data found for this date range, symbol may be delisted
- AAAC: No data found for this date range, symbol may be delisted
- HTZ: No data found, symbol may be delisted
- SLTA: No data found, symbol may be delisted
- SKH: No data found for this date range, symbol may be delisted
- SONO: Data doesn't exist for startDate = 1182121200, endDate = 1278543600
- AIRM: No data found for this date range, symbol may be delisted
- DRJ: Data doesn't exist for startDate = 1164585600, endDate = 1225065600
- GOAM: No data found for this date range, symbol may be delisted
- QLTY: No data found for this date range, symbol may be delisted
- RNIN: No data found for this date range, symbol may be delisted
- CHWG: No data found, symbol may be delisted
- ADSX: No data found for this date range, symbol may be delisted
- HS: Data doesn't exist for startDate = 1185750000, endDate = 1286492400
- BSPE: No data found, symbol may be delisted
- IUSNE: No data found for this date range, symbol may be delisted
- CTFE: No data found, symbol may be delisted
- EPCC: No data found for this date range, symbol may be delisted
- ASHI: No data found, symbol may be delisted
- SMXT: No data found for this date range, symbol may be delisted
- AHFP: No data found, symbol may be delisted
- ASVP: No data found for this date range, symbol may be delisted
- GSIC: No data found for this date range, symbol may be delisted
- FIRE: Data doesn't exist for startDate = 1183676400, endDate = 1190934000
- BUKX: No data found for this date range, symbol may be delisted
- VKNG: No data found for this date range, symbol may be delisted
- DIVX: No data found, symbol may be delisted
- TWRT: No data found, symbol may be delisted
- FNSC: No data found for this date range, symbol may be delisted
- ATML: No data found for this date range, symbol may be delisted
- BCSM: No data found, symbol may be delisted
- WNEA: No data found, symbol may be delisted
- FRED: No data found, symbol may be delisted
- VTG: No data found for this date range, symbol may be delisted
- INXI: No data found for this date range, symbol may be delisted
- SIPC: Data doesn't exist for startDate = 1184886000, endDate = 1307487600
- SLTS: No data found for this date range, symbol may be delisted
- SWAV: Data doesn't exist for startDate = 1172448000, endDate = 1256079600
- TECD: No data found, symbol may be delisted
- ANAD: No data found for this date range, symbol may be delisted
- BTC: Data doesn't exist for startDate = 1177887600, endDate = 1201219200
- TAM: Data doesn't exist for startDate = 1177887600, endDate = 1391385600
- GNRG: No data found for this date range, symbol may be delisted
- DYNI: No data found, symbol may be delisted
- EXCS: No data found, symbol may be delisted
- CELG: No data found, symbol may be delisted
- ENRJ: No data found for this date range, symbol may be delisted
- PAET: No data found for this date range, symbol may be delisted
- ENOC: No data found for this date range, symbol may be delisted
- ISNY: No data found, symbol may be delisted
- KEG: No data found, symbol may be delisted
- NGLS: No data found for this date range, symbol may be delisted
- SUSS: No data found for this date range, symbol may be delisted
- ARRS: No data found, symbol may be delisted
- FIGI: No data found, symbol may be delisted
- MMTE: No data found, symbol may be delisted
- ISIS: No data found for this date range, symbol may be delisted
- OCNW: No data found for this date range, symbol may be delisted
- NTMI: No data found for this date range, symbol may be delisted
- SYVT: No data found, symbol may be delisted
- JGAC: No data found, symbol may be delisted
- RLH: No data found, symbol may be delisted
- RCTY: No data found for this date range, symbol may be delisted
- PMACA: No data found for this date range, symbol may be delisted
- RZ: No data found, symbol may be delisted
- GMTI: No data found for this date range, symbol may be delisted
- BOGA: No data found, symbol may be delisted
- FUBC: No data found for this date range, symbol may be delisted
- VCDV: No data found, symbol may be delisted
- BCFT: No data found, symbol may be delisted
- OGTX: No data found for this date range, symbol may be delisted
- LSAL: No data found, symbol may be delisted
- LSGP: No data found for this date range, symbol may be delisted
- POTP: Data doesn't exist for startDate = 1188342000, endDate = 1195603200
- DSBO: No data found, symbol may be delisted
- NENG: No data found for this date range, symbol may be delisted
- WPO: No data found for this date range, symbol may be delisted
- ABCC: No data found for this date range, symbol may be delisted
- CBST: No data found for this date range, symbol may be delisted
- AHII: Data doesn't exist for startDate = 1188860400, endDate = 1196121600
- IFLO: No data found for this date range, symbol may be delisted
- JLWT: No data found for this date range, symbol may be delisted
- ICLK: Data doesn't exist for startDate = 1189033200, endDate = 1196294400
- SKFL: No data found, symbol may be delisted
- LENF: No data found for this date range, symbol may be delisted
- SROE: No data found for this date range, symbol may be delisted
- KEYO: No data found for this date range, symbol may be delisted
- VTYE: No data found, symbol may be delisted
- FUTR: No data found for this date range, symbol may be delisted
- FMR: No data found, symbol may be delisted
- HNSN: No data found for this date range, symbol may be delisted
- GKK: No data found for this date range, symbol may be delisted
- SOLD: No data found for this date range, symbol may be delisted
- TRMA: No data found for this date range, symbol may be delisted
- AKYI: No data found, symbol may be delisted
- NHLD: No data found, symbol may be delisted
- NASV: No data found, symbol may be delisted
- SDSR: No data found, symbol may be delisted
- CPBY: No data found, symbol may be delisted
- ALC: Data doesn't exist for startDate = 1193702400, endDate = 1343343600
- NTG: Data doesn't exist for startDate = 1193702400, endDate = 1223593200
- EFGU: No data found, symbol may be delisted
- AOGN: No data found for this date range, symbol may be delisted
- NBS: No data found for this date range, symbol may be delisted
- GTRY: No data found, symbol may be delisted
- HGLC: No data found for this date range, symbol may be delisted
- TCHL: No data found, symbol may be delisted
- CHBO: No data found for this date range, symbol may be delisted
- IKN: No data found for this date range, symbol may be delisted
- AWEC: No data found, symbol may be delisted
- NPDP: No data found, symbol may be delisted
- IMUC: Data doesn't exist for startDate = 1192402800, endDate = 1199664000
- DMX: No data found for this date range, symbol may be delisted
- NNSR: No data found for this date range, symbol may be delisted
- CTWS: No data found, symbol may be delisted
- GLUU: No data found, symbol may be delisted
- GLCP: No data found, symbol may be delisted
- EVBS: No data found for this date range, symbol may be delisted
- EGVI: No data found, symbol may be delisted
- CTIX: No data found for this date range, symbol may be delisted
- REXX: No data found for this date range, symbol may be delisted
- PURO: No data found for this date range, symbol may be delisted
- FOFN: No data found for this date range, symbol may be delisted
- NLC: Data doesn't exist for startDate = 1188514800, endDate = 1286146800
- REDZ: No data found, symbol may be delisted
- CNOA: No data found, symbol may be delisted
- ONJP: No data found, symbol may be delisted
- CVVT: No data found for this date range, symbol may be delisted
- IRLD: No data found, symbol may be delisted
- SEAB: No data found for this date range, symbol may be delisted
- SCIL: No data found, symbol may be delisted
- UFFC: No data found for this date range, symbol may be delisted
- HCPE: No data found, symbol may be delisted
- FCH: No data found for this date range, symbol may be delisted
- RMDX: No data found for this date range, symbol may be delisted
- VNRR: No data found, symbol may be delisted
- KGLK: No data found, symbol may be delisted
- BEDA: No data found, symbol may be delisted
- BOMJ: No data found, symbol may be delisted

- ME: Data doesn't exist for startDate = 1195171200, endDate = 1202428800
- DEGH: No data found, symbol may be delisted
- MSEG: No data found, symbol may be delisted
- SMTX: No data found, symbol may be delisted
- MVE: Data doesn't exist for startDate = 1198195200, endDate = 1205452800
- MNDL: No data found for this date range, symbol may be delisted
- ATVG: No data found, symbol may be delisted
- NRPT: No data found for this date range, symbol may be delisted
- YCKM: No data found for this date range, symbol may be delisted
- LBCP: No data found, symbol may be delisted
- VMSY: No data found for this date range, symbol may be delisted
- DYGO: No data found, symbol may be delisted
- HMPR: No data found for this date range, symbol may be delisted
- RXEI: Data doesn't exist for startDate = 1219186800, endDate = 1226448000
- TWC: No data found for this date range, symbol may be delisted
- SGLP: No data found, symbol may be delisted
- MRT: No data found, symbol may be delisted
- VLCM: No data found for this date range, symbol may be delisted
- AWYIE: No data found, symbol may be delisted
- TRES: No data found, symbol may be delisted
- CHEV: No data found for this date range, symbol may be delisted
- FNDM: Data doesn't exist for startDate = 1196899200, endDate = 1273532400
- PAPO: No data found for this date range, symbol may be delisted
- NAGA: No data found for this date range, symbol may be delisted
- ESA.U: No data found, symbol may be delisted
- INVB: No data found, symbol may be delisted
- GMT: No data found for this date range, symbol may be delisted
- COIN: Data doesn't exist for startDate = 1197590400, endDate = 1366153200
- EAG: Data doesn't exist for startDate = 1197849600, endDate = 1205107200
- AYXC: No data found, symbol may be delisted
- COPA: No data found, symbol may be delisted
- PRCC: No data found for this date range, symbol may be delisted
- NSFB: No data found, symbol may be delisted
- ESRG: No data found, symbol may be delisted
- NTRO: No data found for this date range, symbol may be delisted
- SGCO: No data found, symbol may be delisted
- SMYD: No data found, symbol may be delisted
- MBTL: No data found, symbol may be delisted
- NBLQ: No data found, symbol may be delisted
- SWS: No data found for this date range, symbol may be delisted
- OZM: No data found, symbol may be delisted
- SCXN: No data found for this date range, symbol may be delisted
- LQTI: No data found, symbol may be delisted
- HF: No data found, symbol may be delisted
- PWDR: No data found, symbol may be delisted
- SMOD: No data found for this date range, symbol may be delisted
- VTRQU: No data found, symbol may be delisted
- QELP: No data found, symbol may be delisted
- ARTX: No data found, symbol may be delisted
- CHIC: Data doesn't exist for startDate = 1199836800, endDate = 1207090800
- REVU: No data found for this date range, symbol may be delisted
- MONA: No data found, symbol may be delisted
- GENH: Data doesn't exist for startDate = 1200009600, endDate = 1207263600
- CYPB: No data found for this date range, symbol may be delisted
- AHER: No data found, symbol may be delisted
- FMLE: No data found, symbol may be delisted
- USQ: No data found for this date range, symbol may be delisted
- ATYD: No data found, symbol may be delisted
- CMHM: No data found, symbol may be delisted
- ZIGO: No data found for this date range, symbol may be delisted
- OMGI: No data found, symbol may be delisted
- DRAM: No data found for this date range, symbol may be delisted
- FXRE: No data found for this date range, symbol may be delisted
- FRGY: Data doesn't exist for startDate = 1206316800, endDate = 1218150000
- RRPH: No data found for this date range, symbol may be delisted
- MPIX: No data found, symbol may be delisted
- BVNI: No data found, symbol may be delisted
- FCOM: Data doesn't exist for startDate = 1212966000, endDate = 1226620800
- JOMR: No data found, symbol may be delisted
- EMCI: No data found, symbol may be delisted
- AVII: No data found for this date range, symbol may be delisted
- CVLL: No data found for this date range, symbol may be delisted
- VCGH: No data found for this date range, symbol may be delisted
- FBCM: No data found, symbol may be delisted
- FPWR: No data found for this date range, symbol may be delisted
- PIP: Data doesn't exist for startDate = 1202342400, endDate = 1488412800
- OEHL: No data found, symbol may be delisted
- LMRA: No data found for this date range, symbol may be delisted
- SNH: No data found, symbol may be delisted
- TVLH: No data found for this date range, symbol may be delisted
- GLOB: Data doesn't exist for startDate = 1196121600, endDate = 1210546800
- GTH: Data doesn't exist for startDate = 1195776000, endDate = 1417046400
- EV: No data found, symbol may be delisted
- FMGQ: No data found, symbol may be delisted
- ASEN: No data found for this date range, symbol may be delisted
- FRNV: Data doesn't exist for startDate = 1203638400, endDate = 1217199600
- KPPC: No data found, symbol may be delisted
- BPOT: No data found, symbol may be delisted
- NTAH: No data found, symbol may be delisted
- WRII: No data found for this date range, symbol may be delisted
- PWSF: No data found, symbol may be delisted
- PFGD: No data found, symbol may be delisted
- DOVR: No data found for this date range, symbol may be delisted
- IMGW: No data found, symbol may be delisted
- SAKH: Data doesn't exist for startDate = 1204761600, endDate = 1212015600
- TOMO: No data found for this date range, symbol may be delisted
- SWVL: No data found, symbol may be delisted
- MCHM: No data found for this date range, symbol may be delisted
- YGYB: No data found, symbol may be delisted
- GLOI: No data found for this date range, symbol may be delisted
- AEC: No data found for this date range, symbol may be delisted
- ALMY: No data found for this date range, symbol may be delisted
- ALNS: No data found, symbol may be delisted
- HLS: No data found for this date range, symbol may be delisted
- MTSC: No data found, symbol may be delisted
- PLLL: No data found for this date range, symbol may be delisted
- BKTK: No data found, symbol may be delisted
- BLT: No data found for this date range, symbol may be delisted
- SYPJ: No data found, symbol may be delisted
- RELM: No data found for this date range, symbol may be delisted
- CVDT: No data found, symbol may be delisted
- IECE: No data found for this date range, symbol may be delisted
- ACAQ: No data found, symbol may be delisted
- CVC: No data found for this date range, symbol may be delisted
- NBDL: No data found, symbol may be delisted
- ZHYP: No data found, symbol may be delisted
- ADXM: No data found for this date range, symbol may be delisted
- NZ: Data doesn't exist for startDate = 1207177200, endDate = 1239058800
- AUSI: Data doesn't exist for startDate = 1207177200, endDate = 1214434800
- GERT: No data found, symbol may be delisted
- MKED: No data found, symbol may be delisted
- IAQGU: No data found, symbol may be delisted
- CYLO: No data found, symbol may be delisted
- ANTS: No data found for this date range, symbol may be delisted
- PINR: No data found, symbol may be delisted
- HEK: No data found for this date range, symbol may be delisted
- WSEG: No data found, symbol may be delisted
- DOMK: Data doesn't exist for startDate = 1207609200, endDate = 1310079600
- CNSV: No data found for this date range, symbol may be delisted
- CBAY: Data doesn't exist for startDate = 1207782000, endDate = 1290988800
- AFDG: Data doesn't exist for startDate = 1207868400, endDate = 1215126000
- CVIT: No data found, symbol may be delisted
- GLF: Data doesn't exist for startDate = 1208386800, endDate = 1215644400
- ICXT: No data found, symbol may be delisted
- OCCF: No data found for this date range, symbol may be delisted
- N: No data found for this date range, symbol may be delisted
- LPAD: No data found for this date range, symbol may be delisted
- CXO: No data found, symbol may be delisted
- SERV: No data found, symbol may be delisted
- SOSA: No data found for this date range, symbol may be delisted
- QRCP: No data found for this date range, symbol may be delisted
- SYHI: No data found for this date range, symbol may be delisted

- HRCT: No data found for this date range, symbol may be delisted
- GCA: No data found for this date range, symbol may be delisted
- CWDK: No data found, symbol may be delisted
- SNXX: No data found, symbol may be delisted
- ORCD: No data found, symbol may be delisted
- TAON: No data found, symbol may be delisted
- TWZS: No data found, symbol may be delisted
- EXLP: No data found for this date range, symbol may be delisted
- MZYH: No data found, symbol may be delisted
- IPCM: No data found for this date range, symbol may be delisted
- BWMS: No data found for this date range, symbol may be delisted
- FFLT: No data found, symbol may be delisted
- LPME: No data found, symbol may be delisted
- GTI: No data found for this date range, symbol may be delisted
- USG: No data found, symbol may be delisted
- HTGT: No data found, symbol may be delisted
- GIGR: No data found, symbol may be delisted
- LEGE: No data found, symbol may be delisted
- KWK: No data found for this date range, symbol may be delisted
- TSC: Data doesn't exist for startDate = 1211756400, endDate = 1219014000
- ULU: No data found for this date range, symbol may be delisted
- OPXT: No data found for this date range, symbol may be delisted
- LO: No data found for this date range, symbol may be delisted
- WSRA: No data found, symbol may be delisted
- IHSN: No data found, symbol may be delisted
- EFPS: No data found, symbol may be delisted
- IPSU: No data found for this date range, symbol may be delisted
- VETS: Data doesn't exist for startDate = 1212706800, endDate = 1219964400
- BGOI: No data found for this date range, symbol may be delisted
- LPS: Data doesn't exist for startDate = 1213052400, endDate = 1334703600
- FCE.A: No data found, symbol may be delisted
- POFR: No data found, symbol may be delisted
- PMFI: No data found for this date range, symbol may be delisted
- SLH: No data found for this date range, symbol may be delisted
- CDI: No data found for this date range, symbol may be delisted
- ACTL: Data doesn't exist for startDate = 1213657200, endDate = 1220914800
- DRCO: No data found, symbol may be delisted
- LABC: No data found for this date range, symbol may be delisted
- AVR: Data doesn't exist for startDate = 1196121600, endDate = 1287961200
- CSJP: No data found for this date range, symbol may be delisted
- KED: No data found for this date range, symbol may be delisted
- HMBH: No data found, symbol may be delisted
- PHMD: No data found for this date range, symbol may be delisted
- BPAX: No data found for this date range, symbol may be delisted
- NOVS: No data found, symbol may be delisted
- SITO: No data found, symbol may be delisted
- SNWT: No data found for this date range, symbol may be delisted
- FHTI: No data found, symbol may be delisted
- HRTE-5: No data found, symbol may be delisted
- ASRS: No data found for this date range, symbol may be delisted
- RSOL: No data found for this date range, symbol may be delisted
- IPZI: No data found for this date range, symbol may be delisted
- AEN: No data found for this date range, symbol may be delisted
- GLME: No data found, symbol may be delisted
- STGI: No data found, symbol may be delisted
- SNBP: No data found, symbol may be delisted
- PENC: No data found, symbol may be delisted
- ADPT: Data doesn't exist for startDate = 1216249200, endDate = 1317078000
- SHSH: No data found, symbol may be delisted
- TCLT: No data found, symbol may be delisted
- KDGL: No data found, symbol may be delisted
- TONJ: No data found, symbol may be delisted
- TGEV: No data found, symbol may be delisted
- MNLU: No data found for this date range, symbol may be delisted
- JFBI: No data found for this date range, symbol may be delisted
- BRIT: No data found, symbol may be delisted
- BCAS: No data found, symbol may be delisted
- TEWI: No data found for this date range, symbol may be delisted
- RRLB: No data found, symbol may be delisted
- BNLB: No data found for this date range, symbol may be delisted
- ETHT: No data found for this date range, symbol may be delisted
- BRSH: No data found, symbol may be delisted
- DFTW: No data found, symbol may be delisted
- FSMO: Data doesn't exist for startDate = 1217804400, endDate = 1224802800
- TGAL: No data found for this date range, symbol may be delisted
- EPB: No data found for this date range, symbol may be delisted
- VTPI: No data found for this date range, symbol may be delisted
- SQNM: No data found for this date range, symbol may be delisted
- UPG: Data doesn't exist for startDate = 1218668400, endDate = 1225929600
- LHSI: No data found, symbol may be delisted
- RDBO: No data found for this date range, symbol may be delisted
- OXGN: No data found for this date range, symbol may be delisted
- SPKL: No data found for this date range, symbol may be delisted
- TAL: Data doesn't exist for startDate = 1196294400, endDate = 1203552000
- CBPO: No data found, symbol may be delisted
- JAGH: No data found for this date range, symbol may be delisted
- HGUE: No data found, symbol may be delisted
- CMIN: No data found for this date range, symbol may be delisted
- FAVC: No data found, symbol may be delisted
- IVTH: No data found, symbol may be delisted
- PVRE: No data found, symbol may be delisted
- SSTA: No data found, symbol may be delisted
- EDF: Data doesn't exist for startDate = 1220569200, endDate = 1227830400
- STIV: No data found for this date range, symbol may be delisted
- MODY: No data found, symbol may be delisted
- RAX: No data found for this date range, symbol may be delisted
- RMDM: No data found, symbol may be delisted
- TKTM: No data found, symbol may be delisted
- PIVX: No data found for this date range, symbol may be delisted
- FUR: No data found for this date range, symbol may be delisted
- PMC: Data doesn't exist for startDate = 1221778800, endDate = 1493247600
- GOBK: No data found, symbol may be delisted
- PCQC: No data found, symbol may be delisted
- JUHL: Data doesn't exist for startDate = 1204243200, endDate = 1418947200
- CCOP: No data found, symbol may be delisted
- CEGE: No data found for this date range, symbol may be delisted
- FIDM: No data found, symbol may be delisted
- AMWO: No data found, symbol may be delisted
- SMSA: No data found, symbol may be delisted
- GVLR: No data found, symbol may be delisted
- MMGC: No data found for this date range, symbol may be delisted
- SACQ: No data found, symbol may be delisted
- HSWI: No data found for this date range, symbol may be delisted
- ORGC: No data found, symbol may be delisted
- BLVT: No data found, symbol may be delisted
- DFR: Data doesn't exist for startDate = 1204502400, endDate = 1296518400
- WFSV: No data found, symbol may be delisted
- DEP: Data doesn't exist for startDate = 1214866800, endDate = 1222124400
- KGS: No data found for this date range, symbol may be delisted
- WNDM: No data found, symbol may be delisted
- PLXT: No data found for this date range, symbol may be delisted
- MXWF: No data found, symbol may be delisted
- HYGN: Data doesn't exist for startDate = 1226016000, endDate = 1233273600
- GLG: Data doesn't exist for startDate = 1226016000, endDate = 1233273600
- PHUN: Data doesn't exist for startDate = 1226275200, endDate = 1233532800
- RPSE: No data found, symbol may be delisted
- NBTE: No data found, symbol may be delisted
- LGDI: No data found for this date range, symbol may be delisted
- PHIG: Data doesn't exist for startDate = 1237507200, endDate = 1269561600
- HDIX: No data found, symbol may be delisted
- AITG: No data found, symbol may be delisted
- HBA: No data found for this date range, symbol may be delisted
- TLLE: No data found, symbol may be delisted
- BHCG: No data found for this date range, symbol may be delisted
- MFGD: No data found for this date range, symbol may be delisted
- FCSX: No data found, symbol may be delisted
- HRYC: No data found for this date range, symbol may be delisted
- DYHB: No data found, symbol may be delisted
- TW: Data doesn't exist for startDate = 1228694400, endDate = 1450310400
- TIER: No data found, symbol may be delisted
- HKTU: No data found, symbol may be delisted
- FRBE: No data found, symbol may be delisted
- FLTT: No data found, symbol may be delisted
- INSU: No data found, symbol may be delisted

- HSTX: No data found, symbol may be delisted
- SYTO: No data found, symbol may be delisted
- BVNC: No data found for this date range, symbol may be delisted
- AGTI: Data doesn't exist for startDate = 1231200000, endDate = 1238454000
- HBSC: No data found for this date range, symbol may be delisted
- GRDO: No data found, symbol may be delisted
- ISYS: No data found for this date range, symbol may be delisted
- PWSA: No data found, symbol may be delisted
- PPTO: No data found, symbol may be delisted
- WMNS: No data found for this date range, symbol may be delisted
- CCKH: No data found, symbol may be delisted
- STEM: Data doesn't exist for startDate = 1229990400, endDate = 1237248000
- CDDY: No data found, symbol may be delisted
- TRIH: No data found for this date range, symbol may be delisted
- LGTTD: No data found, symbol may be delisted
- HRRN: No data found for this date range, symbol may be delisted
- GRIG: No data found, symbol may be delisted
- SRLU: No data found, symbol may be delisted
- EENI: No data found for this date range, symbol may be delisted
- NFRX: No data found, symbol may be delisted
- GORV: No data found, symbol may be delisted
- REIS: Data doesn't exist for startDate = 1233619200, endDate = 1240873200
- OMCY: No data found for this date range, symbol may be delisted
- CWOI: No data found, symbol may be delisted
- TECM: No data found, symbol may be delisted
- GWRC: No data found, symbol may be delisted
- OD0.F: No data found, symbol may be delisted
- NAV: No data found, symbol may be delisted
- GHLV: No data found, symbol may be delisted
- ESVCE: No data found, symbol may be delisted
- BDEV: No data found, symbol may be delisted
- TTXP: No data found for this date range, symbol may be delisted
- DBLE: No data found for this date range, symbol may be delisted
- AXVC: No data found, symbol may be delisted
- ATIM: No data found, symbol may be delisted
- MRGE: Data doesn't exist for startDate = 1227571200, endDate = 1428447600
- YTNO: No data found, symbol may be delisted
- SPEV: No data found, symbol may be delisted
- VSBN: No data found, symbol may be delisted
- ADVE: No data found, symbol may be delisted
- TBAC: No data found for this date range, symbol may be delisted
- JJIM: No data found, symbol may be delisted
- CCRO: No data found for this date range, symbol may be delisted
- AMGOF: No data found, symbol may be delisted
- PPDAQ: No data found for this date range, symbol may be delisted
- DFRH: No data found for this date range, symbol may be delisted
- TIF: No data found, symbol may be delisted
- FSYS: No data found for this date range, symbol may be delisted
- IMXC: No data found, symbol may be delisted
- TMI: No data found for this date range, symbol may be delisted
- NYMH: No data found, symbol may be delisted
- MCRL: No data found for this date range, symbol may be delisted
- CTHP: No data found for this date range, symbol may be delisted
- FTR: No data found, symbol may be delisted
- CVRG: No data found for this date range, symbol may be delisted
- MNGA: No data found, symbol may be delisted
- TSYS: No data found for this date range, symbol may be delisted
- BTXI: No data found for this date range, symbol may be delisted
- PPLB: No data found for this date range, symbol may be delisted
- ECOS: No data found, symbol may be delisted
- MLXG: No data found, symbol may be delisted
- HEAT: No data found, symbol may be delisted
- EMGS: Data doesn't exist for startDate = 1232668800, endDate = 1239922800
- SARO: No data found, symbol may be delisted
- CART: No data found, symbol may be delisted
- PTPC: No data found, symbol may be delisted
- EMDH: No data found for this date range, symbol may be delisted
- TAMO: No data found, symbol may be delisted
- ALXA: No data found for this date range, symbol may be delisted
- MTIZ: No data found, symbol may be delisted
- GNXO: No data found, symbol may be delisted
- WESA: No data found for this date range, symbol may be delisted
- VCSY: No data found, symbol may be delisted
- RTK: No data found for this date range, symbol may be delisted
- DNRR: No data found for this date range, symbol may be delisted
- SYNW: No data found for this date range, symbol may be delisted
- GNOI: No data found for this date range, symbol may be delisted
- HKN: Data doesn't exist for startDate = 1242687600, endDate = 1311807600
- NBTF: No data found for this date range, symbol may be delisted
- PIKE: No data found for this date range, symbol may be delisted
- CRXX: No data found for this date range, symbol may be delisted
- BFCF: No data found for this date range, symbol may be delisted
- GWBU: No data found, symbol may be delisted
- FSTC: No data found, symbol may be delisted
- ESPI: No data found for this date range, symbol may be delisted
- NAEY: No data found for this date range, symbol may be delisted
- RSOX: No data found, symbol may be delisted
- SPNG: No data found for this date range, symbol may be delisted
- QBSW: No data found, symbol may be delisted
- CLBN: No data found for this date range, symbol may be delisted
- EVLN: No data found for this date range, symbol may be delisted
- MATH: Data doesn't exist for startDate = 1243983600, endDate = 1251241200
- USMM: No data found, symbol may be delisted
- AMBC: Data doesn't exist for startDate = 1243983600, endDate = 1251241200
- OSLE: No data found for this date range, symbol may be delisted
- DCRD: No data found, symbol may be delisted
- BCHC: No data found, symbol may be delisted
- ENER: Data doesn't exist for startDate = 1244588400, endDate = 1251846000
- ONEZ: No data found, symbol may be delisted
- LBGE: No data found for this date range, symbol may be delisted
- HMMH: No data found, symbol may be delisted
- URBF: Data doesn't exist for startDate = 1245106800, endDate = 1256166000
- XRGI: No data found for this date range, symbol may be delisted
- IVGN: No data found for this date range, symbol may be delisted
- ESTU: No data found, symbol may be delisted
- RDSN: No data found, symbol may be delisted
- SGBK: No data found for this date range, symbol may be delisted
- TOH: No data found for this date range, symbol may be delisted
- FEEL: No data found, symbol may be delisted
- PGNE: Data doesn't exist for startDate = 1235520000, endDate = 1242774000
- ATRN: No data found for this date range, symbol may be delisted
- CYSA: No data found, symbol may be delisted
- HOL: No data found, symbol may be delisted
- CAEL: No data found, symbol may be delisted
- WOC: No data found for this date range, symbol may be delisted
- ROTB: No data found, symbol may be delisted
- EQNX: No data found for this date range, symbol may be delisted
- WIEC: No data found, symbol may be delisted
- COPY: No data found for this date range, symbol may be delisted
- STHG: No data found, symbol may be delisted
- XNEZ: No data found, symbol may be delisted
- FEGR: No data found for this date range, symbol may be delisted
- CRAY: No data found, symbol may be delisted
- YASH: No data found for this date range, symbol may be delisted
- WZYFQ: No data found, symbol may be delisted
- TDSC: Data doesn't exist for startDate = 1228089600, endDate = 1318806000
- BIOC: Data doesn't exist for startDate = 1227830400, endDate = 1273186800
- RICP: No data found, symbol may be delisted
- CHIP: No data found, symbol may be delisted
- PAX: Data doesn't exist for startDate = 1248822000, endDate = 1256079600
- GHC.U: No data found, symbol may be delisted
- MHR: No data found for this date range, symbol may be delisted
- PTRZ: No data found, symbol may be delisted
- VBLU: No data found, symbol may be delisted
- PWRX: No data found, symbol may be delisted
- GPAX: No data found for this date range, symbol may be delisted
- ADLR: No data found for this date range, symbol may be delisted
- UVHO: No data found, symbol may be delisted
- CSHA: No data found, symbol may be delisted
- LPHC: No data found, symbol may be delisted
- TBII: No data found for this date range, symbol may be delisted
- ENTK: No data found for this date range, symbol may be delisted
- SNDZ: Data doesn't exist for startDate = 1250550000, endDate = 1257811200
- AAGH: Data doesn't exist for startDate = 1250550000, endDate = 1257811200

- CAEG: No data found, symbol may be delisted
- UCCO: No data found, symbol may be delisted
- CDOM: No data found for this date range, symbol may be delisted
- FKLT: No data found for this date range, symbol may be delisted
- KITD: No data found for this date range, symbol may be delisted
- LIQR: No data found for this date range, symbol may be delisted
- FORC: No data found, symbol may be delisted
- RGA.A: No data found, symbol may be delisted
- CNBR: No data found, symbol may be delisted
- TNTD: No data found, symbol may be delisted
- MBPI: No data found, symbol may be delisted
- MESA: Data doesn't exist for startDate = 1252537200, endDate = 1259798400
- GAGI: No data found, symbol may be delisted
- IOVE: No data found, symbol may be delisted
- AMCG: No data found for this date range, symbol may be delisted
- NMGL: No data found for this date range, symbol may be delisted
- ETAK: No data found for this date range, symbol may be delisted
- GTLT: No data found for this date range, symbol may be delisted
- HAYZ: No data found for this date range, symbol may be delisted
- VRTU: No data found, symbol may be delisted
- MDHO: No data found, symbol may be delisted
- GGOX: No data found for this date range, symbol may be delisted
- FMER: No data found for this date range, symbol may be delisted
- CNOZ: No data found, symbol may be delisted
- MMG: Data doesn't exist for startDate = 1254438000, endDate = 1261699200
- HMEX: No data found, symbol may be delisted
- MOCN: No data found, symbol may be delisted
- GWYC: No data found, symbol may be delisted
- DOLV: No data found for this date range, symbol may be delisted
- SPAR: No data found, symbol may be delisted
- RYSD: No data found, symbol may be delisted
- LCPM: No data found, symbol may be delisted
- NEWN: No data found, symbol may be delisted
- LIEG: No data found for this date range, symbol may be delisted
- CCMM: No data found for this date range, symbol may be delisted
- PMAH: No data found for this date range, symbol may be delisted
- ZINC: No data found for this date range, symbol may be delisted
- LCTZ: No data found, symbol may be delisted
- GOK: Data doesn't exist for startDate = 1233187200, endDate = 1240441200
- MLNK: Data doesn't exist for startDate = 1243810800, endDate = 1517184000
- TYPE: No data found, symbol may be delisted
- ASGP: No data found, symbol may be delisted
- AAEX: No data found, symbol may be delisted
- UQM: No data found, symbol may be delisted
- PPHI: Data doesn't exist for startDate = 1257206400, endDate = 1264464000
- FHMS: No data found, symbol may be delisted
- PCOM: Data doesn't exist for startDate = 1257292800, endDate = 1264550400
- MEMS: No data found for this date range, symbol may be delisted
- UPLS: No data found, symbol may be delisted
- HBHC: No data found for this date range, symbol may be delisted
- BUCY: No data found for this date range, symbol may be delisted
- CBEH: No data found for this date range, symbol may be delisted
- TSCI: No data found for this date range, symbol may be delisted
- ORFG: No data found, symbol may be delisted
- EVRS: No data found, symbol may be delisted
- AGHD: No data found, symbol may be delisted
- ZEP: No data found for this date range, symbol may be delisted
- AUM: Data doesn't exist for startDate = 1266451200, endDate = 1312498800
- GNTO: No data found, symbol may be delisted
- ESYS: Data doesn't exist for startDate = 1269216000, endDate = 1276210800
- LNKR: No data found, symbol may be delisted
- END: No data found for this date range, symbol may be delisted
- INSH: No data found, symbol may be delisted
- CHFC: No data found, symbol may be delisted
- ASOG: No data found, symbol may be delisted
- TMH: No data found for this date range, symbol may be delisted
- SLPI: No data found, symbol may be delisted
- GGHO: No data found for this date range, symbol may be delisted
- CSXB: No data found, symbol may be delisted
- ETFC: No data found, symbol may be delisted
- MCNC: No data found, symbol may be delisted
- OCTI: No data found for this date range, symbol may be delisted
- TMCI: Data doesn't exist for startDate = 1260230400, endDate = 1267488000
- NWGC: Data doesn't exist for startDate = 1260316800, endDate = 1321401600
- ATNY: No data found for this date range, symbol may be delisted
- AOL: No data found for this date range, symbol may be delisted
- EM: Data doesn't exist for startDate = 1260835200, endDate = 1302822000
- SWI: Data doesn't exist for startDate = 1260835200, endDate = 1433804400
- UGLB: No data found for this date range, symbol may be delisted
- LDST: No data found, symbol may be delisted
- PMDP: No data found for this date range, symbol may be delisted
- TTWZ: No data found, symbol may be delisted
- CPST: No data found, symbol may be delisted
- FWON: No data found, symbol may be delisted
- GBRG: Data doesn't exist for startDate = 1263859200, endDate = 1337554800
- BTXN: No data found, symbol may be delisted
- SFSF: No data found for this date range, symbol may be delisted
- SLRX: Data doesn't exist for startDate = 1269216000, endDate = 1276210800
- QSII: No data found for this date range, symbol may be delisted
- FRSC: No data found, symbol may be delisted
- TCLN: No data found for this date range, symbol may be delisted
- NNAS: No data found, symbol may be delisted
- SPWRA: No data found for this date range, symbol may be delisted
- PEPR: No data found for this date range, symbol may be delisted
- APBS: No data found, symbol may be delisted
- PSID: No data found, symbol may be delisted
- VDSC: No data found, symbol may be delisted
- GLDY: No data found, symbol may be delisted
- MOBE: No data found for this date range, symbol may be delisted
- SGI: Data doesn't exist for startDate = 1263254400, endDate = 1361404800
- PINN: Data doesn't exist for startDate = 1263254400, endDate = 1270508400
- DUCP: Data doesn't exist for startDate = 1263254400, endDate = 1270681200
- HBOS: No data found for this date range, symbol may be delisted
- GMTD: Data doesn't exist for startDate = 1263513600, endDate = 1270767600
- RMSI: No data found, symbol may be delisted
- MXB: No data found for this date range, symbol may be delisted
- SHAR: No data found for this date range, symbol may be delisted
- SOA: No data found for this date range, symbol may be delisted
- TRCI: No data found for this date range, symbol may be delisted
- EUTR: No data found, symbol may be delisted
- SOPA: No data found, symbol may be delisted
- ADK: Data doesn't exist for startDate = 1277852400, endDate = 1446508800
- MBIT: Data doesn't exist for startDate = 1287702000, endDate = 1335913200
- MSE.OB: No data found, symbol may be delisted
- GRPR: No data found for this date range, symbol may be delisted
- MJN: No data found for this date range, symbol may be delisted
- CBM: No data found, symbol may be delisted
- FWAV: Data doesn't exist for startDate = 1265673600, endDate = 1272927600
- PTX: No data found, symbol may be delisted
- ARGN: No data found for this date range, symbol may be delisted
- RNGC: No data found, symbol may be delisted
- RSOO: No data found, symbol may be delisted
- GNTQ: No data found, symbol may be delisted
- CUB: No data found, symbol may be delisted
- IDVC: No data found, symbol may be delisted
- SRWY: No data found, symbol may be delisted
- PBEC: No data found, symbol may be delisted
- HLPL: No data found, symbol may be delisted
- CRPZ: No data found for this date range, symbol may be delisted
- AEFI: No data found, symbol may be delisted
- ECDC: No data found for this date range, symbol may be delisted
- ANTF: No data found, symbol may be delisted
- HNHI: No data found, symbol may be delisted
- WAC: No data found for this date range, symbol may be delisted
- NNAN: No data found for this date range, symbol may be delisted
- CTL: No data found, symbol may be delisted
- TUFF: No data found, symbol may be delisted
- NIUS: No data found for this date range, symbol may be delisted
- FOFU: No data found for this date range, symbol may be delisted
- AWDM: No data found, symbol may be delisted
- ECBI: No data found, symbol may be delisted
- WLT: No data found for this date range, symbol may be delisted
- SILA: Data doesn't exist for startDate = 1268870400, endDate = 1276124400

- BTIM: Data doesn't exist for startDate = 1268870400, endDate = 1276124400
- CHSP: No data found, symbol may be delisted
- VASC: No data found for this date range, symbol may be delisted
- MMED: No data found for this date range, symbol may be delisted
- WSHA: No data found for this date range, symbol may be delisted
- QRVI: No data found for this date range, symbol may be delisted
- HMSM: No data found, symbol may be delisted
- GUID: No data found for this date range, symbol may be delisted
- VIRZ: No data found, symbol may be delisted
- BDE: No data found for this date range, symbol may be delisted
- ETE: Data doesn't exist for startDate = 1285282800, endDate = 1519689600
- VRAZ: No data found, symbol may be delisted
- SFCF: No data found for this date range, symbol may be delisted
- FCPG: No data found for this date range, symbol may be delisted
- SSGI: No data found for this date range, symbol may be delisted
- TIII: No data found for this date range, symbol may be delisted
- BRBH: No data found, symbol may be delisted
- KNSL: Data doesn't exist for startDate = 1270681200, endDate = 1285628400
- IAGI: No data found for this date range, symbol may be delisted
- AFGR: No data found, symbol may be delisted
- UIL: No data found for this date range, symbol may be delisted
- FLPC: No data found, symbol may be delisted
- AAVG: No data found for this date range, symbol may be delisted
- HWCC: No data found, symbol may be delisted
- NST: No data found for this date range, symbol may be delisted
- ANVS: Data doesn't exist for startDate = 1259107200, endDate = 1266364800
- SREH: No data found, symbol may be delisted
- STKO: No data found for this date range, symbol may be delisted
- LRAL: No data found, symbol may be delisted
- CNAM: No data found for this date range, symbol may be delisted
- MSOL: No data found for this date range, symbol may be delisted
- BPL: No data found, symbol may be delisted
- QLTS: No data found for this date range, symbol may be delisted
- EDMC: No data found for this date range, symbol may be delisted
- ADEP: No data found for this date range, symbol may be delisted
- FDML: No data found for this date range, symbol may be delisted
- BFAR: No data found, symbol may be delisted
- APXG: No data found, symbol may be delisted
- UAHC: Data doesn't exist for startDate = 1273446000, endDate = 1280444400
- MTWO: No data found for this date range, symbol may be delisted
- CDVV: No data found for this date range, symbol may be delisted
- GTF: Data doesn't exist for startDate = 1273791600, endDate = 1281049200
- NNUT: No data found, symbol may be delisted
- MUSA: Data doesn't exist for startDate = 1274137200, endDate = 1358121600
- AALA: No data found for this date range, symbol may be delisted
- KKTZ: No data found, symbol may be delisted
- FXIT: No data found for this date range, symbol may be delisted
- RDC: No data found, symbol may be delisted
- EVCPD: No data found, symbol may be delisted
- PAPT: No data found for this date range, symbol may be delisted
- RPC: No data found for this date range, symbol may be delisted
- SE: Data doesn't exist for startDate = 1275519600, endDate = 1356307200
- CDII: No data found for this date range, symbol may be delisted
- RMGX: No data found for this date range, symbol may be delisted
- MBHS: No data found for this date range, symbol may be delisted
- IDCX: No data found for this date range, symbol may be delisted
- FXPT: No data found for this date range, symbol may be delisted
- WHDX: No data found, symbol may be delisted
- ENCO: No data found, symbol may be delisted
- MWBL: No data found for this date range, symbol may be delisted
- ROGI: No data found for this date range, symbol may be delisted
- KCG: No data found for this date range, symbol may be delisted
- UYMG: No data found, symbol may be delisted
- SOLR: Data doesn't exist for startDate = 1276729200, endDate = 1283986800
- ACCM: No data found for this date range, symbol may be delisted
- DYNV: No data found for this date range, symbol may be delisted
- BPI: No data found, symbol may be delisted
- OPNN: No data found, symbol may be delisted
- USTP: No data found, symbol may be delisted
- AMNG: No data found, symbol may be delisted
- CBRX: No data found for this date range, symbol may be delisted
- LNCM: No data found for this date range, symbol may be delisted
- EPDS: No data found for this date range, symbol may be delisted
- ECHD: No data found, symbol may be delisted
- SENZ: No data found, symbol may be delisted
- SSIE: No data found for this date range, symbol may be delisted
- INSW: Data doesn't exist for startDate = 1259539200, endDate = 1420502400
- LLUX: No data found, symbol may be delisted
- XTML: No data found, symbol may be delisted
- ABKIE: No data found for this date range, symbol may be delisted
- CJTF: No data found, symbol may be delisted
- FRDR: No data found for this date range, symbol may be delisted
- SNTS: No data found for this date range, symbol may be delisted
- GTEC: Data doesn't exist for startDate = 1267401600, endDate = 1287961200
- DCT: Data doesn't exist for startDate = 1280703600, endDate = 1430694000
- VYTR: No data found for this date range, symbol may be delisted
- MGQG: No data found, symbol may be delisted
- ABTL: No data found for this date range, symbol may be delisted
- PICO: No data found, symbol may be delisted
- HOT: No data found for this date range, symbol may be delisted
- VRNG: No data found for this date range, symbol may be delisted
- SBRD: No data found, symbol may be delisted
- CASL: No data found for this date range, symbol may be delisted
- CPTAD: No data found for this date range, symbol may be delisted
- XCHC: No data found for this date range, symbol may be delisted
- CIST: No data found, symbol may be delisted
- CLGL: No data found for this date range, symbol may be delisted
- IAGID: No data found for this date range, symbol may be delisted
- BSFT: No data found for this date range, symbol may be delisted
- REMD: No data found, symbol may be delisted
- REPO: Data doesn't exist for startDate = 1283814000, endDate = 1291075200
- CY: No data found, symbol may be delisted
- EEPU: No data found, symbol may be delisted
- CCPF: No data found for this date range, symbol may be delisted
- ELGX: No data found, symbol may be delisted
- ARMX: No data found, symbol may be delisted
- NCSLF: No data found, symbol may be delisted
- RP: No data found, symbol may be delisted
- CBEY: No data found for this date range, symbol may be delisted
- PDII: No data found for this date range, symbol may be delisted
- RPIDD: No data found for this date range, symbol may be delisted
- ZAGG: No data found, symbol may be delisted
- GBSX: No data found for this date range, symbol may be delisted
- BEAT: No data found, symbol may be delisted
- URXED: No data found, symbol may be delisted
- SGMZ: No data found for this date range, symbol may be delisted
- DUKS: No data found, symbol may be delisted
- PTGI: No data found for this date range, symbol may be delisted
- VYCO: Data doesn't exist for startDate = 1288569600, endDate = 1295568000
- TEDG: No data found for this date range, symbol may be delisted
- TNAV: No data found, symbol may be delisted
- MONTD: No data found for this date range, symbol may be delisted
- IILG: No data found for this date range, symbol may be delisted
- EHSI: No data found, symbol may be delisted
- NTKS: No data found, symbol may be delisted
- CANA: Data doesn't exist for startDate = 1272841200, endDate = 1299110400
- NARA: No data found for this date range, symbol may be delisted
- HCP: No data found, symbol may be delisted
- CHKM: No data found for this date range, symbol may be delisted
- ASCMA: No data found, symbol may be delisted
- SQI: No data found for this date range, symbol may be delisted
- ROVI: No data found for this date range, symbol may be delisted
- MTXS: No data found, symbol may be delisted
- SYRG: No data found for this date range, symbol may be delisted
- PNG: Data doesn't exist for startDate = 1289952000, endDate = 1297209600
- STGH: No data found, symbol may be delisted
- SSVM: No data found for this date range, symbol may be delisted
- SLMU: No data found for this date range, symbol may be delisted

- ETEV: No data found, symbol may be delisted
- FOHE: No data found, symbol may be delisted
- VELV: No data found, symbol may be delisted
- FRF: No data found, symbol may be delisted
- BOLT: Data doesn't exist for startDate = 1290384000, endDate = 1297382400
- BBLU: No data found for this date range, symbol may be delisted
- BCDI: No data found for this date range, symbol may be delisted
- TCSX: No data found, symbol may be delisted
- AEOH: No data found, symbol may be delisted
- EXAM: No data found for this date range, symbol may be delisted
- SGCA: Data doesn't exist for startDate = 1291680000, endDate = 1317164400
- RAS: No data found for this date range, symbol may be delisted
- AREX: No data found, symbol may be delisted
- WSCU: No data found for this date range, symbol may be delisted
- DFZ: No data found for this date range, symbol may be delisted
- GMXR: No data found for this date range, symbol may be delisted
- CNVO: No data found for this date range, symbol may be delisted
- MOTR: No data found for this date range, symbol may be delisted
- CYNO: No data found for this date range, symbol may be delisted
- TYCV: No data found for this date range, symbol may be delisted
- HGCO: No data found for this date range, symbol may be delisted
- TNBI: Data doesn't exist for startDate = 1313967600, endDate = 1320969600
- AMNN: No data found, symbol may be delisted
- DKII: No data found for this date range, symbol may be delisted
- MSMYD: No data found, symbol may be delisted
- RSO: No data found for this date range, symbol may be delisted
- RAPT: Data doesn't exist for startDate = 1294099200, endDate = 1301353200
- RLOC: No data found for this date range, symbol may be delisted
- DAML: No data found, symbol may be delisted
- APIT: No data found, symbol may be delisted
- FASV: No data found, symbol may be delisted
- MMAX: No data found for this date range, symbol may be delisted
- UTOG: No data found for this date range, symbol may be delisted
- CMLP: No data found for this date range, symbol may be delisted
- SWTP: No data found for this date range, symbol may be delisted
- OCEE: No data found, symbol may be delisted
- JCP: No data found, symbol may be delisted
- MXGI: No data found, symbol may be delisted
- FRM: Data doesn't exist for startDate = 1295222400, endDate = 1356307200
- SBPV: No data found, symbol may be delisted
- FXCM: No data found for this date range, symbol may be delisted
- DMD: No data found for this date range, symbol may be delisted
- CLKZ: No data found for this date range, symbol may be delisted
- ZLUS: No data found for this date range, symbol may be delisted
- CCRT: No data found for this date range, symbol may be delisted
- ONCSD: No data found, symbol may be delisted
- RPPR: No data found, symbol may be delisted
- CEU: No data found, symbol may be delisted
- LLSR: No data found for this date range, symbol may be delisted
- BONE: No data found for this date range, symbol may be delisted
- HLBC: No data found for this date range, symbol may be delisted
- RAPP: No data found for this date range, symbol may be delisted
- EXTL: No data found for this date range, symbol may be delisted
- FOGC: No data found for this date range, symbol may be delisted
- LEXG: No data found, symbol may be delisted
- TNGS: No data found, symbol may be delisted
- RXII: No data found for this date range, symbol may be delisted
- RDMP: No data found for this date range, symbol may be delisted
- AMOK: No data found for this date range, symbol may be delisted
- TXI: No data found for this date range, symbol may be delisted
- GVRS: No data found for this date range, symbol may be delisted
- INTL: No data found, symbol may be delisted
- IBOS: No data found for this date range, symbol may be delisted
- AMSG: No data found for this date range, symbol may be delisted
- SCLN: No data found for this date range, symbol may be delisted
- GCAP: No data found, symbol may be delisted
- XWND: No data found, symbol may be delisted
- JST: No data found for this date range, symbol may be delisted
- DVOP: Data doesn't exist for startDate = 1300233600, endDate = 1307487600
- DGHG: No data found, symbol may be delisted
- BEST: Data doesn't exist for startDate = 1293408000, endDate = 1300406400
- AKRX: No data found, symbol may be delisted
- GGP: No data found for this date range, symbol may be delisted
- WWBUE: No data found, symbol may be delisted
- NHSH: No data found, symbol may be delisted
- SAQU: No data found, symbol may be delisted
- ZNHL: No data found, symbol may be delisted
- FMTB: No data found for this date range, symbol may be delisted
- BZNE: No data found for this date range, symbol may be delisted
- OBJE: No data found for this date range, symbol may be delisted
- OBAF: No data found for this date range, symbol may be delisted
- CSFL: No data found, symbol may be delisted
- SAGE: Data doesn't exist for startDate = 1303167600, endDate = 1331856000
- RAP: Data doesn't exist for startDate = 1290643200, endDate = 1297900800
- STIR: Data doesn't exist for startDate = 1295827200, endDate = 1302822000
- COOL: Data doesn't exist for startDate = 1303686000, endDate = 1529881200
- RBCC: No data found, symbol may be delisted
- UXG: No data found, symbol may be delisted
- KEM: No data found, symbol may be delisted
- ELGO: No data found for this date range, symbol may be delisted
- DTLV: No data found for this date range, symbol may be delisted
- ICOG: No data found for this date range, symbol may be delisted
- MDSO: No data found, symbol may be delisted
- PSTR: No data found for this date range, symbol may be delisted
- FGLD: No data found, symbol may be delisted
- ARCL: No data found for this date range, symbol may be delisted
- MISS: No data found for this date range, symbol may be delisted
- SONA: No data found, symbol may be delisted
- BNZA: No data found, symbol may be delisted
- PSMH: No data found, symbol may be delisted
- FTER: No data found for this date range, symbol may be delisted
- ALR: Data doesn't exist for startDate = 1303772400, endDate = 1440630000
- AEBF: No data found for this date range, symbol may be delisted
- SCRA: No data found for this date range, symbol may be delisted
- SMXI: No data found, symbol may be delisted
- EWSI: No data found, symbol may be delisted
- SILV: Data doesn't exist for startDate = 1308178800, endDate = 1324252800
- GSVC: No data found, symbol may be delisted
- LBGO: No data found for this date range, symbol may be delisted
- BTZO: No data found, symbol may be delisted
- CALY: No data found, symbol may be delisted
- FFN: Data doesn't exist for startDate = 1306710000, endDate = 1314572400
- LOGM: No data found, symbol may be delisted
- ENKG: No data found for this date range, symbol may be delisted
- AUGT: No data found for this date range, symbol may be delisted
- TKSZ: No data found, symbol may be delisted
- OMBP: No data found, symbol may be delisted
- CNUV: No data found for this date range, symbol may be delisted
- SGGH: No data found for this date range, symbol may be delisted
- WWON: No data found for this date range, symbol may be delisted
- EGAS: No data found for this date range, symbol may be delisted
- FBRC: No data found for this date range, symbol may be delisted
- THOR: No data found, symbol may be delisted
- SMBL: No data found, symbol may be delisted
- FIO: No data found for this date range, symbol may be delisted
- BZ: Data doesn't exist for startDate = 1298592000, endDate = 1305846000
- ELLI: No data found, symbol may be delisted
- COBK: No data found for this date range, symbol may be delisted
- NXES: No data found, symbol may be delisted
- GNC: No data found, symbol may be delisted
- BTHR: No data found, symbol may be delisted
- MHCC: No data found, symbol may be delisted
- BMOM: No data found for this date range, symbol may be delisted
- MDMC: No data found for this date range, symbol may be delisted
- VRCV: Data doesn't exist for startDate = 1310943600, endDate = 1318201200
- STVS: No data found for this date range, symbol may be delisted
- TEG: Data doesn't exist for startDate = 1290988800, endDate = 1297987200
- CYLU: No data found for this date range, symbol may be delisted
- IRET: No data found, symbol may be delisted

- LEI: No data found for this date range, symbol may be delisted
- SFBL: No data found, symbol may be delisted
- GRMH: No data found for this date range, symbol may be delisted
- MERU: No data found for this date range, symbol may be delisted
- QRE: No data found for this date range, symbol may be delisted
- GPLH: No data found for this date range, symbol may be delisted
- RNPR: No data found, symbol may be delisted
- XWES: No data found for this date range, symbol may be delisted
- IWDM: No data found, symbol may be delisted
- GGS: No data found for this date range, symbol may be delisted
- SGAE: No data found for this date range, symbol may be delisted
- CVTR: No data found, symbol may be delisted
- CEB: Data doesn't exist for startDate = 1313708400, endDate = 1463353200
- KOPR: No data found, symbol may be delisted
- STBR: No data found for this date range, symbol may be delisted
- ECIT: No data found for this date range, symbol may be delisted
- CCLRD: No data found for this date range, symbol may be delisted
- AKS: No data found, symbol may be delisted
- RNGE: No data found for this date range, symbol may be delisted
- LNKD: No data found for this date range, symbol may be delisted
- ALCL: No data found for this date range, symbol may be delisted
- FFG: No data found, symbol may be delisted
- CBSS: No data found for this date range, symbol may be delisted
- TAEI: No data found, symbol may be delisted
- RATE: No data found for this date range, symbol may be delisted
- DOLE: Data doesn't exist for startDate = 1317250800, endDate = 1331856000
- ZOOM: No data found, symbol may be delisted
- SAJA: No data found for this date range, symbol may be delisted
- SKGP: No data found, symbol may be delisted
- RTI: Data doesn't exist for startDate = 1315263600, endDate = 1440716400
- MILV: No data found, symbol may be delisted
- CCE: No data found for this date range, symbol may be delisted
- CVCT: No data found, symbol may be delisted
- IPHS: No data found, symbol may be delisted
- CEYY: No data found for this date range, symbol may be delisted
- AQUM: No data found for this date range, symbol may be delisted
- VRHD: Data doesn't exist for startDate = 1309388400, endDate = 1316646000
- VRML: No data found, symbol may be delisted
- ACTV: Data doesn't exist for startDate = 1314658800, endDate = 1321920000
- ARCP: No data found for this date range, symbol may be delisted
- BOCL: No data found for this date range, symbol may be delisted
- ABD: No data found for this date range, symbol may be delisted
- AMID: No data found, symbol may be delisted
- BAGL: No data found for this date range, symbol may be delisted
- SLOU: No data found, symbol may be delisted
- ICMC: No data found for this date range, symbol may be delisted
- FSC: No data found for this date range, symbol may be delisted
- OSLH: No data found for this date range, symbol may be delisted
- MNTA: No data found, symbol may be delisted
- RIVR: No data found for this date range, symbol may be delisted
- ANSH: No data found for this date range, symbol may be delisted
- SKAX: No data found, symbol may be delisted
- DHSM: Data doesn't exist for startDate = 1309474800, endDate = 1316732400
- VPFG: No data found for this date range, symbol may be delisted
- VELA: No data found for this date range, symbol may be delisted
- SXCL: No data found for this date range, symbol may be delisted
- RCKE: No data found, symbol may be delisted
- APRI: No data found for this date range, symbol may be delisted
- VCAN: No data found, symbol may be delisted
- CYPW: No data found, symbol may be delisted
- PERF: Data doesn't exist for startDate = 1320969600, endDate = 1328227200
- WLB: No data found for this date range, symbol may be delisted
- PYTO: No data found for this date range, symbol may be delisted
- COVR: No data found for this date range, symbol may be delisted
- CRTX: Data doesn't exist for startDate = 1321574400, endDate = 1340665200
- HRMY: Data doesn't exist for startDate = 1321574400, endDate = 1328832000
- NWTR: No data found for this date range, symbol may be delisted
- ASCQ: No data found for this date range, symbol may be delisted
- TROV: No data found, symbol may be delisted
- RPMD: No data found for this date range, symbol may be delisted
- TNGO: No data found for this date range, symbol may be delisted
- UAM: Data doesn't exist for startDate = 1348095600, endDate = 1470092400
- SBHL: No data found, symbol may be delisted
- LTSN: No data found, symbol may be delisted
- LVNTA: No data found for this date range, symbol may be delisted
- BNTED: No data found, symbol may be delisted
- SELRD: No data found for this date range, symbol may be delisted
- FSNN: No data found, symbol may be delisted
- GFMD: No data found, symbol may be delisted
- ASMC: No data found for this date range, symbol may be delisted
- RA: Data doesn't exist for startDate = 1321833600, endDate = 1329091200
- SHOR: No data found for this date range, symbol may be delisted
- TKSS: No data found for this date range, symbol may be delisted
- HTCH: No data found for this date range, symbol may be delisted
- CMXI: No data found for this date range, symbol may be delisted
- SDGU: No data found for this date range, symbol may be delisted
- PAWS: No data found, symbol may be delisted
- GPCM: No data found for this date range, symbol may be delisted
- LACO: No data found for this date range, symbol may be delisted
- MEDL: No data found for this date range, symbol may be delisted
- SNPKD: No data found, symbol may be delisted
- ISLT: No data found for this date range, symbol may be delisted
- KCAP: No data found, symbol may be delisted
- ARCT: Data doesn't exist for startDate = 1321920000, endDate = 1329177600
- URRE: No data found for this date range, symbol may be delisted
- EZJR: No data found, symbol may be delisted
- DDOO: No data found for this date range, symbol may be delisted
- RCKB: No data found for this date range, symbol may be delisted
- ARP: No data found for this date range, symbol may be delisted
- DSKX: No data found, symbol may be delisted
- DAKP: No data found for this date range, symbol may be delisted
- LUXR: No data found for this date range, symbol may be delisted
- CDYY: No data found for this date range, symbol may be delisted
- PGLC: No data found, symbol may be delisted
- NDBE: No data found, symbol may be delisted
- BARZ: No data found, symbol may be delisted
- TLLP: No data found for this date range, symbol may be delisted
- RLJAU: No data found, symbol may be delisted
- HSNI: No data found for this date range, symbol may be delisted
- VIAS: No data found for this date range, symbol may be delisted
- ESRI: No data found for this date range, symbol may be delisted
- RT: No data found for this date range, symbol may be delisted
- MEMP: No data found for this date range, symbol may be delisted
- BEAX: No data found, symbol may be delisted
- PPKS: No data found, symbol may be delisted
- BVIG: No data found, symbol may be delisted
- BABAD: No data found, symbol may be delisted
- DCIN: No data found for this date range, symbol may be delisted
- NABI: No data found for this date range, symbol may be delisted
- LUCB: No data found, symbol may be delisted
- BBRD: No data found, symbol may be delisted
- ALAND: No data found, symbol may be delisted
- SRCI: No data found, symbol may be delisted
- HHII: No data found for this date range, symbol may be delisted
- MEXP: No data found for this date range, symbol may be delisted
- LRE: No data found for this date range, symbol may be delisted
- FRNK: No data found for this date range, symbol may be delisted
- HEVI: No data found for this date range, symbol may be delisted
- CMLS: Data doesn't exist for startDate = 1337814000, endDate = 1523574000
- SPYE: No data found, symbol may be delisted
- NRGM: No data found for this date range, symbol may be delisted
- EVCA: No data found for this date range, symbol may be delisted
- NANI: No data found for this date range, symbol may be delisted
- CTBX: No data found, symbol may be delisted
- MCKE: No data found for this date range, symbol may be delisted
- IMSU: No data found, symbol may be delisted
- WAIR: No data found, symbol may be delisted

- BV: Data doesn't exist for startDate = 1333062000, endDate = 1401145200
- MYOC: No data found, symbol may be delisted
- HLBCD: No data found for this date range, symbol may be delisted
- VGLD: No data found, symbol may be delisted
- EFLO: No data found for this date range, symbol may be delisted
- DSTI: No data found for this date range, symbol may be delisted
- SPSY: No data found, symbol may be delisted
- PGRX: No data found, symbol may be delisted
- CJ: No data found, symbol may be delisted
- BAZI: No data found for this date range, symbol may be delisted
- ABFS: No data found for this date range, symbol may be delisted
- CUUU: No data found for this date range, symbol may be delisted
- DEPO: No data found for this date range, symbol may be delisted
- GLLA: No data found, symbol may be delisted
- JWCAU: No data found, symbol may be delisted
- BLUF: No data found, symbol may be delisted
- SWDZ: No data found, symbol may be delisted
- CLD: No data found, symbol may be delisted
- APDQ: No data found, symbol may be delisted
- RNET: No data found, symbol may be delisted
- VGGL: No data found, symbol may be delisted
- UBPSU: No data found for this date range, symbol may be delisted
- VYOG: No data found for this date range, symbol may be delisted
- ZIP: Data doesn't exist for startDate = 1348614000, endDate = 1355875200
- GELT: No data found, symbol may be delisted
- BLBK: No data found for this date range, symbol may be delisted
- EXBS: No data found, symbol may be delisted
- CCGI: No data found for this date range, symbol may be delisted
- APPO: No data found for this date range, symbol may be delisted
- WCG: No data found, symbol may be delisted
- FNGU: Data doesn't exist for startDate = 1339110000, endDate = 1346367600
- GY: No data found for this date range, symbol may be delisted
- DWA: No data found for this date range, symbol may be delisted
- DGI: No data found for this date range, symbol may be delisted
- EEDG: No data found, symbol may be delisted
- RNBI: Data doesn't exist for startDate = 1340060400, endDate = 1347318000
- TMK: No data found, symbol may be delisted
- SRER: No data found, symbol may be delisted
- MNVN: Data doesn't exist for startDate = 1327536000, endDate = 1334790000
- BCME: No data found, symbol may be delisted
- DIDG: No data found for this date range, symbol may be delisted
- WIFI: No data found, symbol may be delisted
- DUMA: No data found for this date range, symbol may be delisted
- ASTV: Data doesn't exist for startDate = 1346022000, endDate = 1391385600
- MPO: No data found, symbol may be delisted
- AMNP: Data doesn't exist for startDate = 1341183600, endDate = 1348441200
- LNET: No data found for this date range, symbol may be delisted
- PRTN: No data found for this date range, symbol may be delisted
- MSGO: No data found, symbol may be delisted
- FCMP: No data found for this date range, symbol may be delisted
- CVSL: No data found for this date range, symbol may be delisted
- AMR: Data doesn't exist for startDate = 1342738800, endDate = 1349996400
- UNSN: No data found, symbol may be delisted
- CHKE: No data found for this date range, symbol may be delisted
- VINTB: No data found, symbol may be delisted
- SHDH: No data found, symbol may be delisted
- WBC: No data found, symbol may be delisted
- SFEG: No data found, symbol may be delisted
- ACLP: No data found for this date range, symbol may be delisted
- MSL: No data found, symbol may be delisted
- GYSA: No data found, symbol may be delisted
- GNIN: No data found, symbol may be delisted
- TGPO: No data found, symbol may be delisted
- KOKX: No data found for this date range, symbol may be delisted
- WSPBP: No data found for this date range, symbol may be delisted
- CXM: Data doesn't exist for startDate = 1322524800, endDate = 1329782400
- GFN: No data found, symbol may be delisted
- AOIL: Data doesn't exist for startDate = 1327881600, endDate = 1334876400
- CPN WI: No data found, symbol may be delisted
- SWVI: No data found, symbol may be delisted
- VAEV: No data found for this date range, symbol may be delisted
- EPAQU: No data found, symbol may be delisted
- BBCN: No data found for this date range, symbol may be delisted
- BIRT: No data found for this date range, symbol may be delisted
- MYCG: No data found for this date range, symbol may be delisted
- VNTV: No data found for this date range, symbol may be delisted
- RNF: No data found for this date range, symbol may be delisted
- SOST: Data doesn't exist for startDate = 1322611200, endDate = 1329868800
- JIVE: No data found for this date range, symbol may be delisted
- ENT: No data found, symbol may be delisted
- SVEN: No data found, symbol may be delisted
- BECO: Data doesn't exist for startDate = 1351555200, endDate = 1358812800
- MDNT: No data found for this date range, symbol may be delisted
- PBCW: No data found, symbol may be delisted
- NAOG: No data found, symbol may be delisted
- RVLT: No data found, symbol may be delisted
- REN: No data found, symbol may be delisted
- LGP: No data found for this date range, symbol may be delisted
- REVO: No data found, symbol may be delisted
- DIIG: No data found for this date range, symbol may be delisted
- ACMP: No data found for this date range, symbol may be delisted
- DMHI: No data found, symbol may be delisted
- GNNC: No data found, symbol may be delisted
- AMRE: No data found for this date range, symbol may be delisted
- DGTED: No data found, symbol may be delisted
- LIPN: No data found, symbol may be delisted
- SCGQ: No data found for this date range, symbol may be delisted
- LG: No data found for this date range, symbol may be delisted
- AQLV: No data found, symbol may be delisted
- VSI: No data found, symbol may be delisted
- CTVN: No data found for this date range, symbol may be delisted
- TCO: No data found, symbol may be delisted
- ACSR: No data found, symbol may be delisted
- SHLO: No data found, symbol may be delisted
- MMMS: No data found, symbol may be delisted
- FDO: No data found for this date range, symbol may be delisted
- GRAS: No data found, symbol may be delisted
- WAGE: No data found, symbol may be delisted
- GCH: No data found for this date range, symbol may be delisted
- RRMS: No data found for this date range, symbol may be delisted
- EOX: No data found for this date range, symbol may be delisted
- SMTP: No data found for this date range, symbol may be delisted
- RVEN: No data found, symbol may be delisted
- REMY: No data found for this date range, symbol may be delisted
- SCSS: No data found for this date range, symbol may be delisted
- KTRC: No data found, symbol may be delisted
- ICOR: No data found for this date range, symbol may be delisted
- STWS: No data found for this date range, symbol may be delisted
- MSCT: No data found, symbol may be delisted
- MSEI: No data found, symbol may be delisted
- SOUL: No data found, symbol may be delisted
- OPEN: Data doesn't exist for startDate = 1355788800, endDate = 1405292400
- ROIQU: No data found, symbol may be delisted
- SWCAU: No data found, symbol may be delisted
- PMCM: No data found for this date range, symbol may be delisted
- HCLP: No data found for this date range, symbol may be delisted
- YFRM: No data found, symbol may be delisted
- IRG: No data found for this date range, symbol may be delisted
- JMGE: No data found for this date range, symbol may be delisted
- CLUB: No data found, symbol may be delisted
- AEXP: No data found, symbol may be delisted
- VAPN: No data found, symbol may be delisted
- SURE: No data found for this date range, symbol may be delisted
- MM: No data found for this date range, symbol may be delisted
- LNCO: No data found for this date range, symbol may be delisted
- HSKAD: No data found, symbol may be delisted
- SFXE: No data found for this date range, symbol may be delisted
- QFOR: No data found for this date range, symbol may be delisted
- CCG: No data found for this date range, symbol may be delisted
- FRZZ: No data found, symbol may be delisted
- SUGO: No data found for this date range, symbol may be delisted
- SPCN: No data found for this date range, symbol may be delisted
- DPS: No data found for this date range, symbol may be delisted
- HVPA: No data found, symbol may be delisted

- SN: No data found, symbol may be delisted
- TSON: No data found for this date range, symbol may be delisted
- AMPD: No data found for this date range, symbol may be delisted
- BHNN: No data found, symbol may be delisted
- CLPI: No data found for this date range, symbol may be delisted
- CUGI: No data found for this date range, symbol may be delisted
- AMKT: No data found for this date range, symbol may be delisted
- PSKC: No data found, symbol may be delisted
- CHYR: No data found for this date range, symbol may be delisted
- NPSP: No data found for this date range, symbol may be delisted
- SYRX: No data found for this date range, symbol may be delisted
- ASAB: No data found, symbol may be delisted
- RST: No data found, symbol may be delisted
- TCKM: No data found, symbol may be delisted
- IL: No data found for this date range, symbol may be delisted
- ECAU: Data doesn't exist for startDate = 1364169600, endDate = 1371164400
- TUNG: No data found, symbol may be delisted
- DSETD: No data found, symbol may be delisted
- MGT: No data found for this date range, symbol may be delisted
- DDRI: No data found, symbol may be delisted
- SIMH: No data found for this date range, symbol may be delisted
- CBNJ: No data found for this date range, symbol may be delisted
- HEPI: No data found for this date range, symbol may be delisted
- HVFI: No data found, symbol may be delisted
- QBC: No data found for this date range, symbol may be delisted
- TZYM: No data found for this date range, symbol may be delisted
- AAHC: No data found, symbol may be delisted
- AUXL: No data found for this date range, symbol may be delisted
- MIMV: No data found, symbol may be delisted
- ADSW: No data found, symbol may be delisted
- NVEEU: No data found for this date range, symbol may be delisted
- BDBD: No data found for this date range, symbol may be delisted
- CIGW: No data found for this date range, symbol may be delisted
- ONE: Data doesn't exist for startDate = 1353974400, endDate = 1376607600
- REOND: No data found, symbol may be delisted
- TUCA: No data found, symbol may be delisted
- ACT: Data doesn't exist for startDate = 1371078000, endDate = 1384473600
- FBTN: No data found, symbol may be delisted
- TCP: No data found, symbol may be delisted
- AVIV: No data found for this date range, symbol may be delisted
- TE: No data found for this date range, symbol may be delisted
- NHYT: No data found for this date range, symbol may be delisted
- TPNI: No data found for this date range, symbol may be delisted
- NSLP: No data found for this date range, symbol may be delisted
- WIBC: No data found for this date range, symbol may be delisted
- POTO: No data found, symbol may be delisted
- RTIX: No data found, symbol may be delisted
- NBBC: No data found for this date range, symbol may be delisted
- COLE: No data found for this date range, symbol may be delisted
- AEGN: No data found, symbol may be delisted
- OXF: No data found for this date range, symbol may be delisted
- SXCP: No data found, symbol may be delisted
- PINS: Data doesn't exist for startDate = 1368572400, endDate = 1375830000
- OUTR: No data found for this date range, symbol may be delisted
- FULB: No data found for this date range, symbol may be delisted
- ATVP: No data found, symbol may be delisted
- WMXG: No data found, symbol may be delisted
- NLTX: Data doesn't exist for startDate = 1372201200, endDate = 1379458800
- XPWR: No data found for this date range, symbol may be delisted
- JOEZ: No data found for this date range, symbol may be delisted
- EQM: No data found, symbol may be delisted
- KOOLD: No data found, symbol may be delisted
- MHFI: No data found for this date range, symbol may be delisted
- HIIQ: No data found, symbol may be delisted
- WFM: No data found for this date range, symbol may be delisted
- KWIT: No data found for this date range, symbol may be delisted
- RKUS: No data found for this date range, symbol may be delisted
- NGEYE: No data found, symbol may be delisted
- MBAR: No data found, symbol may be delisted
- GNBP: No data found for this date range, symbol may be delisted
- SJML: No data found for this date range, symbol may be delisted
- EOPN: No data found for this date range, symbol may be delisted
- FROT: No data found, symbol may be delisted
- PAMT: No data found for this date range, symbol may be delisted
- RTYFZ: No data found, symbol may be delisted
- SWFT: No data found for this date range, symbol may be delisted
- TPLM: No data found, symbol may be delisted
- CATM: No data found, symbol may be delisted
- AMZG: No data found for this date range, symbol may be delisted
- SCTY: Data doesn't exist for startDate = 1372719600, endDate = 1434668400
- SFES: No data found for this date range, symbol may be delisted
- Q: No data found for this date range, symbol may be delisted
- BURG: No data found, symbol may be delisted
- MLGT: No data found for this date range, symbol may be delisted
- PLPE: No data found for this date range, symbol may be delisted
- LPSTD: No data found, symbol may be delisted
- ITEN: No data found for this date range, symbol may be delisted
- RGDX: No data found for this date range, symbol may be delisted
- ZFC: No data found for this date range, symbol may be delisted
- SAVID: No data found, symbol may be delisted
- LTXC: No data found for this date range, symbol may be delisted
- BUKA: No data found, symbol may be delisted
- SCGC: No data found for this date range, symbol may be delisted
- RBIT: No data found, symbol may be delisted
- PMLT: Data doesn't exist for startDate = 1376607600, endDate = 1383868800
- BDGE: No data found, symbol may be delisted
- EGI: No data found, symbol may be delisted
- XUII: No data found, symbol may be delisted
- RCAP: No data found for this date range, symbol may be delisted
- GEIA: No data found, symbol may be delisted
- INVN: No data found for this date range, symbol may be delisted
- PETX: No data found, symbol may be delisted
- CCACU: No data found, symbol may be delisted
- EFFI: No data found, symbol may be delisted
- ATHL: No data found for this date range, symbol may be delisted
- OXBT: No data found for this date range, symbol may be delisted
- EGZ: No data found for this date range, symbol may be delisted
- CRZO: No data found, symbol may be delisted
- BNNY: No data found for this date range, symbol may be delisted
- SLTD: No data found for this date range, symbol may be delisted
- AWAY: Data doesn't exist for startDate = 1362096000, endDate = 1449446400
- TXTR: No data found for this date range, symbol may be delisted
- PBFI: No data found for this date range, symbol may be delisted
- AXIH: No data found for this date range, symbol may be delisted
- JONE: No data found, symbol may be delisted
- KOFF: No data found, symbol may be delisted
- HTWR: No data found for this date range, symbol may be delisted
- NYLD: No data found for this date range, symbol may be delisted
- KITM: No data found for this date range, symbol may be delisted
- SGBL: No data found, symbol may be delisted
- PFNI: No data found for this date range, symbol may be delisted
- APLL: No data found for this date range, symbol may be delisted
- RTRX: No data found, symbol may be delisted
- MKTO: No data found for this date range, symbol may be delisted
- PINV: No data found, symbol may be delisted
- ECIG: No data found for this date range, symbol may be delisted
- FOX: Data doesn't exist for startDate = 1383868800, endDate = 1502233200
- EGL: Data doesn't exist for startDate = 1384128000, endDate = 1418083200
- LSTG: No data found, symbol may be delisted
- XON: No data found, symbol may be delisted
- BTOP: No data found, symbol may be delisted
- INNV: Data doesn't exist for startDate = 1384732800, endDate = 1481673600
- SNTI: No data found for this date range, symbol may be delisted
- ZNTH: No data found for this date range, symbol may be delisted
- SAGA: No data found, symbol may be delisted
- VRS: Data doesn't exist for startDate = 1387152000, endDate = 1405033200
- ITMV: No data found for this date range, symbol may be delisted
- ILIV: No data found, symbol may be delisted
- XOOM: No data found for this date range, symbol may be delisted
- PVEC: No data found, symbol may be delisted

- DEACD: No data found for this date range, symbol may be delisted
- KFN: No data found for this date range, symbol may be delisted
- CNBC: No data found for this date range, symbol may be delisted
- DWRE: No data found for this date range, symbol may be delisted
- MCIG: No data found, symbol may be delisted
- ANPZ: No data found for this date range, symbol may be delisted
- DUSR: No data found, symbol may be delisted
- DANE: No data found for this date range, symbol may be delisted
- WEFT: No data found, symbol may be delisted
- TFER: No data found for this date range, symbol may be delisted
- FNRG: No data found for this date range, symbol may be delisted
- ARX: No data found for this date range, symbol may be delisted
- PDO: Data doesn't exist for startDate = 1398034800, endDate = 1405292400
- AHP: No data found for this date range, symbol may be delisted
- MSTX: No data found for this date range, symbol may be delisted
- IMMY: No data found for this date range, symbol may be delisted
- CEGX: No data found, symbol may be delisted
- TEAR: No data found, symbol may be delisted
- PDLI: No data found, symbol may be delisted
- DOGI: No data found for this date range, symbol may be delisted
- CAK: No data found for this date range, symbol may be delisted
- OWW: No data found for this date range, symbol may be delisted
- MYCC: No data found for this date range, symbol may be delisted
- DNAP: No data found for this date range, symbol may be delisted
- WRSS: No data found for this date range, symbol may be delisted
- VMGI: No data found, symbol may be delisted
- WGAS: No data found for this date range, symbol may be delisted
- QPAC.U: No data found, symbol may be delisted
- COSI: No data found for this date range, symbol may be delisted
- CXI.S: No data found, symbol may be delisted
- XBKS: No data found for this date range, symbol may be delisted
- UCP: Data doesn't exist for startDate = 1392163200, endDate = 1399417200
- ECOB: No data found, symbol may be delisted
- RGSE: No data found, symbol may be delisted
- SOCU: No data found, symbol may be delisted
- ICNB: Data doesn't exist for startDate = 1392595200, endDate = 1556578800
- AMSE: No data found for this date range, symbol may be delisted
- DLPM: Data doesn't exist for startDate = 1392595200, endDate = 1399849200
- DCOU: No data found for this date range, symbol may be delisted
- RESX: No data found for this date range, symbol may be delisted
- AOI: No data found for this date range, symbol may be delisted
- KGKO: No data found for this date range, symbol may be delisted
- PFDS: No data found for this date range, symbol may be delisted
- JOY: No data found for this date range, symbol may be delisted
- BLVO: No data found, symbol may be delisted
- ZLCS: No data found for this date range, symbol may be delisted
- UBIQ: No data found for this date range, symbol may be delisted
- ASTM: No data found for this date range, symbol may be delisted
- HPTX: No data found for this date range, symbol may be delisted
- MMAXD: No data found, symbol may be delisted
- QTETU: No data found, symbol may be delisted
- ANCI: No data found for this date range, symbol may be delisted
- PEGI: No data found, symbol may be delisted
- TIS: No data found, symbol may be delisted
- ALQA: No data found, symbol may be delisted
- SAAS: Data doesn't exist for startDate = 1398294000, endDate = 1456272000
- QEPM: No data found, symbol may be delisted
- IMS: No data found for this date range, symbol may be delisted
- TELK: No data found for this date range, symbol may be delisted
- OHRP: No data found, symbol may be delisted
- CGIX: No data found, symbol may be delisted
- VTUS: No data found, symbol may be delisted
- CRPT: Data doesn't exist for startDate = 1397602800, endDate = 1404860400
- SSNI: No data found for this date range, symbol may be delisted
- PETV: Data doesn't exist for startDate = 1388016000, endDate = 1395273600
- ROCP: No data found for this date range, symbol may be delisted
- PSX WI: No data found, symbol may be delisted
- PPFT: No data found, symbol may be delisted
- IFAN: Data doesn't exist for startDate = 1398380400, endDate = 1405638000
- GLHO: No data found, symbol may be delisted
- SDSPD: No data found, symbol may be delisted
- WPT: No data found for this date range, symbol may be delisted
- MEP: Data doesn't exist for startDate = 1399503600, endDate = 1444777200
- OAK: No data found, symbol may be delisted
- WLH: No data found, symbol may be delisted
- ADNC: No data found for this date range, symbol may be delisted
- NGHC: No data found, symbol may be delisted
- BEMG: No data found, symbol may be delisted
- KORX: No data found for this date range, symbol may be delisted
- TSPT: No data found for this date range, symbol may be delisted
- RICE: Data doesn't exist for startDate = 1401058800, endDate = 1504479600
- TRTH: No data found, symbol may be delisted
- CRCM: No data found, symbol may be delisted
- ASBB: No data found for this date range, symbol may be delisted
- GSJK: No data found for this date range, symbol may be delisted
- CBSO: No data found for this date range, symbol may be delisted
- FLKM: No data found, symbol may be delisted
- CBWPE: No data found for this date range, symbol may be delisted
- IPHI: No data found, symbol may be delisted
- FISH: No data found for this date range, symbol may be delisted
- FTD: No data found, symbol may be delisted
- HMTF: No data found, symbol may be delisted
- FUEL: No data found for this date range, symbol may be delisted
- BANRD: No data found for this date range, symbol may be delisted
- ONTY: No data found for this date range, symbol may be delisted
- GLSI: Data doesn't exist for startDate = 1404428400, endDate = 1411686000
- BKW: No data found for this date range, symbol may be delisted
- INPT: No data found for this date range, symbol may be delisted
- ITGC: No data found, symbol may be delisted
- IDGG: No data found for this date range, symbol may be delisted
- COLV: No data found for this date range, symbol may be delisted
- NXFI: No data found, symbol may be delisted
- FRSH: No data found, symbol may be delisted
- OREO: No data found for this date range, symbol may be delisted
- HTWO: No data found, symbol may be delisted
- TERP: No data found, symbol may be delisted
- HCAC: No data found, symbol may be delisted
- MLES: No data found, symbol may be delisted
- WNRL: No data found for this date range, symbol may be delisted
- SUSP: No data found for this date range, symbol may be delisted
- AMAG: No data found, symbol may be delisted
- QPOND: No data found, symbol may be delisted
- CIVI: No data found, symbol may be delisted
- GTT: No data found, symbol may be delisted
- IALB: No data found, symbol may be delisted
- UDHI: No data found, symbol may be delisted
- LGLR: No data found, symbol may be delisted
- GRAH: No data found for this date range, symbol may be delisted
- AJSB: No data found, symbol may be delisted
- EURC: No data found for this date range, symbol may be delisted
- CLNY: No data found, symbol may be delisted
- AGRN: No data found, symbol may be delisted
- CVT: Data doesn't exist for startDate = 1398812400, endDate = 1442358000
- VPCO: No data found for this date range, symbol may be delisted
- AEGR: No data found for this date range, symbol may be delisted
- VWR: No data found for this date range, symbol may be delisted
- PRCD: No data found for this date range, symbol may be delisted
- BOUTD: No data found for this date range, symbol may be delisted
- MVNR: No data found for this date range, symbol may be delisted
- EVDY: No data found for this date range, symbol may be delisted
- WEFC: No data found for this date range, symbol may be delisted
- RUBI: No data found, symbol may be delisted
- MDMJE: No data found, symbol may be delisted
- CSBQ: No data found for this date range, symbol may be delisted
- NCAP: No data found, symbol may be delisted
- DUOT: Data doesn't exist for startDate = 1409526000, endDate = 1416528000
- WMPL: No data found, symbol may be delisted
- PIH: No data found, symbol may be delisted
- MJCO: No data found, symbol may be delisted
- ZLDV: No data found for this date range, symbol may be delisted
- MRD: No data found for this date range, symbol may be delisted

- AAC: Data doesn't exist for startDate = 1414972800, endDate = 1439506800
- POCO: No data found for this date range, symbol may be delisted
- NEMD: Data doesn't exist for startDate = 1415750400, endDate = 1423008000
- NBCB: No data found for this date range, symbol may be delisted
- AHC: No data found, symbol may be delisted
- CAGC: No data found for this date range, symbol may be delisted
- EAGLU: No data found, symbol may be delisted
- HWKR: No data found for this date range, symbol may be delisted
- CLRX: No data found for this date range, symbol may be delisted
- BRDR: No data found, symbol may be delisted
- CNCK: No data found for this date range, symbol may be delisted
- NEPG: No data found, symbol may be delisted
- PN: No data found for this date range, symbol may be delisted
- PDRG: No data found, symbol may be delisted
- GRUB: Data doesn't exist for startDate = 1424304000, endDate = 1541462400
- SYYC: Data doesn't exist for startDate = 1420502400, endDate = 1427756400
- LNTP: No data found, symbol may be delisted
- SBY: No data found for this date range, symbol may be delisted
- ARCX: No data found for this date range, symbol may be delisted
- AXMM: No data found, symbol may be delisted
- NNRF: No data found, symbol may be delisted
- DPLO: No data found, symbol may be delisted
- BOTA: No data found for this date range, symbol may be delisted
- DWTPD: No data found, symbol may be delisted
- AMBR: No data found, symbol may be delisted
- LEAF: No data found, symbol may be delisted
- TRGT: No data found for this date range, symbol may be delisted
- CLAC: No data found for this date range, symbol may be delisted
- IDGS: No data found for this date range, symbol may be delisted
- KITE: No data found for this date range, symbol may be delisted
- JASN: No data found, symbol may be delisted
- FHWY: No data found for this date range, symbol may be delisted
- MIFI: Data doesn't exist for startDate = 1424044800, endDate = 1434495600
- BVIGD: No data found, symbol may be delisted
- COB: No data found for this date range, symbol may be delisted
- EMSF: No data found for this date range, symbol may be delisted
- TGRI: No data found, symbol may be delisted
- JPEP: No data found for this date range, symbol may be delisted
- HBK: No data found, symbol may be delisted
- CGWB: No data found for this date range, symbol may be delisted
- TTHX: No data found for this date range, symbol may be delisted
- BLVDU: No data found for this date range, symbol may be delisted
- IMPR: No data found for this date range, symbol may be delisted
- ERA: No data found, symbol may be delisted
- PTBI: No data found, symbol may be delisted
- GLBL: Data doesn't exist for startDate = 1432508400, endDate = 1439506800
- SGBY: No data found for this date range, symbol may be delisted
- BISN: No data found, symbol may be delisted
- TIME: No data found for this date range, symbol may be delisted
- GBGM: No data found, symbol may be delisted
- WMLP: No data found for this date range, symbol may be delisted
- STCK: No data found for this date range, symbol may be delisted
- GDEF: No data found for this date range, symbol may be delisted
- SMCG: No data found for this date range, symbol may be delisted
- GNTP: No data found, symbol may be delisted
- EZRT: No data found for this date range, symbol may be delisted
- MELA: No data found for this date range, symbol may be delisted
- HTS: No data found for this date range, symbol may be delisted
- DMPD.P: No data found, symbol may be delisted
- WNYND: No data found for this date range, symbol may be delisted
- ENRG: Data doesn't exist for startDate = 1431990000, endDate = 1439247600
- ERI: No data found, symbol may be delisted
- NCOM: No data found, symbol may be delisted
- WPX: No data found, symbol may be delisted
- MKRS: No data found, symbol may be delisted
- GK: Data doesn't exist for startDate = 1433718000, endDate = 1440975600
- CDRB: No data found for this date range, symbol may be delisted
- CAP: Data doesn't exist for startDate = 1434409200, endDate = 1441666800
- PRAH: No data found, symbol may be delisted
- EIGI: No data found, symbol may be delisted
- AZUR: No data found for this date range, symbol may be delisted
- TRMR: Data doesn't exist for startDate = 1430089200, endDate = 1437346800
- UBNT: No data found, symbol may be delisted
- SAKL: Data doesn't exist for startDate = 1432681200, endDate = 1454889600
- ENFC: No data found, symbol may be delisted
- AREN: No data found for this date range, symbol may be delisted
- DRII: No data found for this date range, symbol may be delisted
- PGND: No data found for this date range, symbol may be delisted
- CAPN: No data found for this date range, symbol may be delisted
- MDGN: No data found for this date range, symbol may be delisted
- EPRS: No data found for this date range, symbol may be delisted
- CBPX: No data found, symbol may be delisted
- TRXC: No data found, symbol may be delisted
- GIG: Data doesn't exist for startDate = 1439247600, endDate = 1463353200
- ADRO: No data found, symbol may be delisted
- NEFF: No data found for this date range, symbol may be delisted
- SPPR: No data found for this date range, symbol may be delisted
- PKGM: No data found for this date range, symbol may be delisted
- OVMS: No data found, symbol may be delisted
- IG: Data doesn't exist for startDate = 1441062000, endDate = 1448323200
- SMRS: No data found, symbol may be delisted
- REVB: No data found, symbol may be delisted
- BNCL: No data found, symbol may be delisted
- DNKN: No data found, symbol may be delisted
- EEVR: No data found, symbol may be delisted
- LION: No data found, symbol may be delisted
- USEL: No data found, symbol may be delisted
- MYXY: No data found, symbol may be delisted
- MZZL: No data found for this date range, symbol may be delisted
- EHSK: No data found, symbol may be delisted
- FNGN: No data found, symbol may be delisted
- MCRN: No data found, symbol may be delisted
- ZAYO: No data found, symbol may be delisted
- KSIX: No data found for this date range, symbol may be delisted
- CLDN: No data found for this date range, symbol may be delisted
- ADAT: No data found for this date range, symbol may be delisted
- SEGN: No data found, symbol may be delisted
- CBF: No data found for this date range, symbol may be delisted
- SKIS: No data found, symbol may be delisted
- TXFX: No data found, symbol may be delisted
- HLIX: No data found, symbol may be delisted
- LLEX: No data found, symbol may be delisted
- PE: No data found, symbol may be delisted
- TUMI: No data found for this date range, symbol may be delisted
- CARO.O: No data found, symbol may be delisted
- CSAL: No data found for this date range, symbol may be delisted
- APHB: No data found, symbol may be delisted
- USAT: No data found, symbol may be delisted
- PRHR: No data found, symbol may be delisted
- XGT: No data found for this date range, symbol may be delisted
- AVDX: No data found, symbol may be delisted
- PSAV: No data found, symbol may be delisted
- UCFC: No data found, symbol may be delisted
- CLOW: Data doesn't exist for startDate = 1450310400, endDate = 1457568000
- MIK: No data found, symbol may be delisted
- BLOX: No data found for this date range, symbol may be delisted
- YUMA: No data found, symbol may be delisted
- ONCE: No data found, symbol may be delisted
- ETHG: No data found for this date range, symbol may be delisted
- FNTCU: No data found for this date range, symbol may be delisted
- CYID: No data found, symbol may be delisted
- AI: Data doesn't exist for startDate = 1469401200, endDate = 1476399600
- WLRHU: No data found, symbol may be delisted
- TFSCU: No data found, symbol may be delisted
- FCIA: No data found, symbol may be delisted
- SGGV: No data found, symbol may be delisted
- NNAB: No data found for this date range, symbol may be delisted
- AXLL: No data found for this date range, symbol may be delisted
- FIGOD: No data found, symbol may be delisted
- BETR: No data found for this date range, symbol may be delisted
- FIT: No data found, symbol may be delisted
- BKFS: No data found for this date range, symbol may be delisted
- ABRW: Data doesn't exist for startDate = 1460329200, endDate = 1467586800

- BIOD: No data found for this date range, symbol may be delisted
- BXLT: No data found for this date range, symbol may be delisted
- CRMV: No data found, symbol may be delisted
- CTRV: No data found, symbol may be delisted
- CHITD: No data found, symbol may be delisted
- SSOL: No data found, symbol may be delisted
- TDCP: No data found for this date range, symbol may be delisted
- CZMR: No data found for this date range, symbol may be delisted
- MEET: No data found, symbol may be delisted
- VLOVD: No data found, symbol may be delisted
- GRSHU: No data found, symbol may be delisted
- MSG: No data found, symbol may be delisted
- HDRAU: No data found, symbol may be delisted
- DFBG: No data found for this date range, symbol may be delisted
- SHRK: Data doesn't exist for startDate = 1465340400, endDate = 1472598000
- SRAQ: No data found, symbol may be delisted
- PRFC: No data found, symbol may be delisted
- FH: No data found for this date range, symbol may be delisted
- SUHE: No data found, symbol may be delisted
- BATS: No data found for this date range, symbol may be delisted
- SCAI: No data found for this date range, symbol may be delisted
- STND: No data found, symbol may be delisted
- MB: No data found, symbol may be delisted
- UCLE: Data doesn't exist for startDate = 1464562800, endDate = 1471561200
- CATQ: No data found, symbol may be delisted
- GRLD: No data found, symbol may be delisted
- APPY: No data found for this date range, symbol may be delisted
- MWFH: No data found, symbol may be delisted
- CMKID: No data found, symbol may be delisted
- EBIO: No data found for this date range, symbol may be delisted
- CNXC: Data doesn't exist for startDate = 1453939200, endDate = 1461193200
- ICTL: No data found for this date range, symbol may be delisted
- APFH: No data found for this date range, symbol may be delisted
- POIL: No data found for this date range, symbol may be delisted
- AMTD: No data found, symbol may be delisted
- MGEN: No data found, symbol may be delisted
- TECR: No data found, symbol may be delisted
- MMEG: No data found, symbol may be delisted
- LMOS: No data found for this date range, symbol may be delisted
- CBBD: No data found for this date range, symbol may be delisted
- MRNA: Data doesn't exist for startDate = 1475622000, endDate = 1500332400
- STMH: Data doesn't exist for startDate = 1475622000, endDate = 1595372400
- SDOI: No data found for this date range, symbol may be delisted
- LKSD: No data found, symbol may be delisted
- RTHM: Data doesn't exist for startDate = 1459378800, endDate = 1502060400
- VYEYD: No data found, symbol may be delisted
- OMNT: No data found, symbol may be delisted
- TKAI: No data found for this date range, symbol may be delisted
- DPRX: No data found for this date range, symbol may be delisted
- ATXG: Data doesn't exist for startDate = 1479081600, endDate = 1486339200
- OGXI: No data found for this date range, symbol may be delisted
- ZYTC: No data found, symbol may be delisted
- QPACU: No data found, symbol may be delisted
- CADY: No data found, symbol may be delisted
- CYTX: No data found, symbol may be delisted
- MKAU: No data found for this date range, symbol may be delisted
- 950140: No data found, symbol may be delisted
- HVSTD: No data found, symbol may be delisted
- MRDN: No data found for this date range, symbol may be delisted
- BDCI: No data found for this date range, symbol may be delisted
- MXWL: No data found, symbol may be delisted
- ZBB: No data found for this date range, symbol may be delisted
- NXEO: No data found, symbol may be delisted
- DFRG: No data found, symbol may be delisted
- HRMNU: No data found for this date range, symbol may be delisted
- ESDI: No data found for this date range, symbol may be delisted
- CERU: No data found for this date range, symbol may be delisted
- CLACU: No data found for this date range, symbol may be delisted
- SWFR: No data found, symbol may be delisted
- CCN: No data found for this date range, symbol may be delisted
- FBM: No data found, symbol may be delisted
- BMCH: No data found, symbol may be delisted
- PTRA: Data doesn't exist for startDate = 1487635200, endDate = 1533769200
- APHD: No data found, symbol may be delisted
- SBBX: No data found, symbol may be delisted
- CPAA: No data found, symbol may be delisted
- NVLS: No data found for this date range, symbol may be delisted
- EMES: No data found, symbol may be delisted
- MVTG: No data found for this date range, symbol may be delisted
- LFGR: No data found for this date range, symbol may be delisted
- SCBH: No data found, symbol may be delisted
- QEGY: Data doesn't exist for startDate = 1506294000, endDate = 1513296000
- FRAC: No data found, symbol may be delisted
- SHRV: No data found, symbol may be delisted
- HISP: No data found for this date range, symbol may be delisted
- BIVVV: No data found, symbol may be delisted
- ETRM: No data found for this date range, symbol may be delisted
- LONE: Data doesn't exist for startDate = 1492470000, endDate = 1518998400
- FRLF: No data found, symbol may be delisted
- STNY: No data found, symbol may be delisted
- GDI: No data found, symbol may be delisted
- ENVV: No data found for this date range, symbol may be delisted
- MSDI: No data found for this date range, symbol may be delisted
- NOVZ: Data doesn't exist for startDate = 1494198000, endDate = 1501455600
- INMG: No data found for this date range, symbol may be delisted
- NBLX: No data found, symbol may be delisted
- BOMK: No data found for this date range, symbol may be delisted
- VNGE: No data found for this date range, symbol may be delisted
- OPXA: No data found for this date range, symbol may be delisted
- KOOL: No data found, symbol may be delisted
- CNAB: No data found, symbol may be delisted
- SLIF: No data found, symbol may be delisted
- OXIS: No data found for this date range, symbol may be delisted
- CGNT: Data doesn't exist for startDate = 1497394800, endDate = 1504652400
- GPAC: Data doesn't exist for startDate = 1497481200, endDate = 1504738800
- FRZT: Data doesn't exist for startDate = 1497826800, endDate = 1505084400
- MLNT: No data found, symbol may be delisted
- SE1: No data found, symbol may be delisted
- HOMR: No data found for this date range, symbol may be delisted
- GRMMD: No data found, symbol may be delisted
- MMMB: Data doesn't exist for startDate = 1499727600, endDate = 1506985200
- YOGA: No data found, symbol may be delisted
- GOPH: No data found, symbol may be delisted
- UPD: No data found for this date range, symbol may be delisted
- ELTZ: No data found, symbol may be delisted
- ARCI: No data found, symbol may be delisted
- BCF: Data doesn't exist for startDate = 1501628400, endDate = 1534374000
- THCI: No data found, symbol may be delisted
- SMGIU: No data found for this date range, symbol may be delisted
- ABHI: Data doesn't exist for startDate = 1502838000, endDate = 1510099200
- BIOP: No data found for this date range, symbol may be delisted
- NEOT: No data found for this date range, symbol may be delisted
- VEGL: No data found, symbol may be delisted
- MIII: No data found, symbol may be delisted
- INST: Data doesn't exist for startDate = 1508194800, endDate = 1554159600
- AIRW: No data found for this date range, symbol may be delisted
- FMCIU: No data found, symbol may be delisted
- SABK: Data doesn't exist for startDate = 1509494400, endDate = 1516752000
- ETAH: No data found, symbol may be delisted
- NAVG: No data found, symbol may be delisted
- CRSS: Data doesn't exist for startDate = 1509926400, endDate = 1517184000
- SKLN: No data found for this date range, symbol may be delisted
- FNTEU: No data found for this date range, symbol may be delisted
- HDS: No data found, symbol may be delisted
- DDRT: No data found for this date range, symbol may be delisted
- INAP: No data found, symbol may be delisted
- ANDX: No data found, symbol may be delisted
- CNXM: No data found, symbol may be delisted
- SGSIF: No data found for this date range, symbol may be delisted
- RSSV: No data found, symbol may be delisted
- OHGI: No data found, symbol may be delisted
- ANDV: No data found for this date range, symbol may be delisted
- WMIH: No data found for this date range, symbol may be delisted

- NDVN: Data doesn't exist for startDate = 1515024000, endDate = 1522278000
- NWIN: No data found, symbol may be delisted
- INOLD: No data found, symbol may be delisted
- ACHI: No data found for this date range, symbol may be delisted
- MACQ: Data doesn't exist for startDate = 1516060800, endDate = 1523314800
- PKKW: Data doesn't exist for startDate = 1511308800, endDate = 1518566400
- LITEV: No data found, symbol may be delisted
- TPGE U: No data found, symbol may be delisted
- TEGP: No data found for this date range, symbol may be delisted
- SPEX: No data found, symbol may be delisted
- PSDVV: No data found, symbol may be delisted
- ATACU: No data found, symbol may be delisted
- PCFP: No data found for this date range, symbol may be delisted
- PSDO: No data found, symbol may be delisted
- BOFI: No data found for this date range, symbol may be delisted
- VVUS: No data found, symbol may be delisted
- FUSB.O: No data found, symbol may be delisted
- BPET: No data found, symbol may be delisted
- AIPT: No data found, symbol may be delisted
- MBLC: No data found for this date range, symbol may be delisted
- WETM: No data found for this date range, symbol may be delisted
- EN1: No data found, symbol may be delisted
- XSPL: No data found, symbol may be delisted
- IOTS: No data found, symbol may be delisted
- FSNNQ: No data found, symbol may be delisted
- CHWI: No data found, symbol may be delisted
- TPIV: No data found for this date range, symbol may be delisted
- ARGBE: No data found for this date range, symbol may be delisted
- LCAHU: Data doesn't exist for startDate = 1522796400, endDate = 1597014000
- ATIS: No data found, symbol may be delisted
- IMMD: No data found for this date range, symbol may be delisted
- OSPRU: No data found, symbol may be delisted
- VSAR: No data found for this date range, symbol may be delisted
- AABA: No data found, symbol may be delisted
- TLRA: No data found, symbol may be delisted
- MPACU: Data doesn't exist for startDate = 1528066800, endDate = 1535065200
- TDEY: No data found, symbol may be delisted
- INCDZ: No data found, symbol may be delisted
- KAACU: No data found, symbol may be delisted
- RESI: No data found, symbol may be delisted
- NULF: No data found for this date range, symbol may be delisted
- SMPI: No data found, symbol may be delisted
- FSACU: No data found, symbol may be delisted
- INCB: No data found for this date range, symbol may be delisted
- BIQ: No data found for this date range, symbol may be delisted
- BHCVD: No data found, symbol may be delisted
- ECR: No data found, symbol may be delisted
- USMN: No data found for this date range, symbol may be delisted
- RVRA: No data found, symbol may be delisted
- TLLT: No data found for this date range, symbol may be delisted
- BHGE: No data found, symbol may be delisted
- MTEC: No data found, symbol may be delisted
- DVLP: No data found for this date range, symbol may be delisted
- TRXD: No data found, symbol may be delisted
- SIML: No data found, symbol may be delisted
- OPHT: No data found, symbol may be delisted
- EGLT: No data found, symbol may be delisted
- HAYU: No data found, symbol may be delisted
- WGP: No data found, symbol may be delisted
- LTN U: No data found, symbol may be delisted
- FCRE: No data found, symbol may be delisted
- EDGE: No data found, symbol may be delisted
- ASNS: No data found, symbol may be delisted
- CFDB: No data found, symbol may be delisted
- LEV: Data doesn't exist for startDate = 1519862400, endDate = 1527116400
- BRAC: No data found, symbol may be delisted
- LMFAU: No data found, symbol may be delisted
- SMSH: No data found, symbol may be delisted
- JCAP: No data found, symbol may be delisted
- FLKS: No data found, symbol may be delisted
- VIGC: No data found, symbol may be delisted
- PNTTD: No data found, symbol may be delisted
- CHYUD: No data found for this date range, symbol may be delisted
- JSYNU: No data found, symbol may be delisted
- DAVE: No data found, symbol may be delisted
- GTXI: No data found, symbol may be delisted
- EXDI.P: No data found, symbol may be delisted
- TKCM: No data found, symbol may be delisted
- DAVC: No data found, symbol may be delisted
- NSCO: No data found, symbol may be delisted
- HSGX: No data found, symbol may be delisted
- MATN: No data found, symbol may be delisted
- DRVD: No data found, symbol may be delisted
- FCOL: No data found, symbol may be delisted
- KBLMU: No data found, symbol may be delisted
- IMLED: No data found, symbol may be delisted
- ACLZ: No data found, symbol may be delisted
- PVT.U: No data found, symbol may be delisted
- XAN: No data found, symbol may be delisted
- TCEL: No data found, symbol may be delisted
- NTYN: No data found, symbol may be delisted
- POCI: No data found for this date range, symbol may be delisted
- DFBH: No data found, symbol may be delisted
- TAX: No data found, symbol may be delisted
- WRLSU: No data found, symbol may be delisted
- SVMK: No data found, symbol may be delisted
- AQXP: No data found, symbol may be delisted
- TMCXU: No data found, symbol may be delisted
- MNIA: No data found for this date range, symbol may be delisted
- GHHC: No data found, symbol may be delisted
- FRGA: No data found, symbol may be delisted
- STKSU: No data found, symbol may be delisted
- ALP: No data found for this date range, symbol may be delisted
- JMDA: No data found, symbol may be delisted
- MOSC: No data found, symbol may be delisted
- INLL: No data found, symbol may be delisted
- USDR: Data doesn't exist for startDate = 1565046000, endDate = 1572307200
- OAKA: No data found, symbol may be delisted
- MNTMD: No data found, symbol may be delisted
- NLNK: No data found, symbol may be delisted
- HSAC: No data found, symbol may be delisted
- WEYL: No data found, symbol may be delisted
- TIBRU: No data found, symbol may be delisted
- GFNL: No data found, symbol may be delisted
- EM2: No data found, symbol may be delisted
- PVT: No data found, symbol may be delisted
- GMEC: No data found, symbol may be delisted
- PHCG: Data doesn't exist for startDate = 1570402800, endDate = 1603321200
- PPETE: No data found for this date range, symbol may be delisted
- DRNE: No data found, symbol may be delisted
- GSAH: Data doesn't exist for startDate = 1567378800, endDate = 1574380800
- EDTXU: Data doesn't exist for startDate = 1572480000, endDate = 1579737600
- BRPM: Data doesn't exist for startDate = 1572480000, endDate = 1579737600
- NEBU: No data found, symbol may be delisted
- APY: No data found, symbol may be delisted
- DEACU: No data found, symbol may be delisted
- CLNT: No data found for this date range, symbol may be delisted
- WIZP: No data found, symbol may be delisted
- MUDS.O: No data found, symbol may be delisted
- RTTR: No data found, symbol may be delisted
- FPAC: Data doesn't exist for startDate = 1575504000, endDate = 1582761600
- WHEN: Data doesn't exist for startDate = 1576454400, endDate = 1583712000
- BPMX: No data found, symbol may be delisted
- TGAN: Data doesn't exist for startDate = 1576627200, endDate = 1583884800
- GSW: No data found for this date range, symbol may be delisted
- VTIQ: Data doesn't exist for startDate = 1579564800, endDate = 1586818800
- INLXD: No data found, symbol may be delisted
- FBNK: No data found, symbol may be delisted
- PLYN: Data doesn't exist for startDate = 1587596400, endDate = 1594854000
- GRTD: No data found, symbol may be delisted
- TORC: No data found, symbol may be delisted
- ORNI: No data found for this date range, symbol may be delisted
- PACQU: No data found, symbol may be delisted
- BJCD: No data found, symbol may be delisted
- SKDI: No data found, symbol may be delisted
- MFAC: No data found, symbol may be delisted
- BUDT: No data found, symbol may be delisted
- BMSN: No data found, symbol may be delisted
- FWDR: No data found, symbol may be delisted
- ANFC: No data found, symbol may be delisted
- PYX: No data found, symbol may be delisted
- RNN: No data found, symbol may be delisted
- SHLL: No data found, symbol may be delisted
- BMRG U: No data found, symbol may be delisted
- ORSNU: No data found, symbol may be delisted
- GRAF U: No data found, symbol may be delisted
- UMRX: No data found, symbol may be delisted

- CCXX: No data found, symbol may be delisted
- SPAQ: Data doesn't exist for startDate = 1590966000, endDate = 1598223600
- HYAC: Data doesn't exist for startDate = 1590966000, endDate = 1598223600
- FVAC U: No data found, symbol may be delisted
- TZAC: No data found, symbol may be delisted
- DMYT: No data found, symbol may be delisted
- HCCO: No data found, symbol may be delisted
- PTAC: No data found, symbol may be delisted
- FTAC: No data found, symbol may be delisted
- DPHC: No data found, symbol may be delisted
- CFFA: No data found, symbol may be delisted
- ASIN: No data found, symbol may be delisted
- SAQN: No data found, symbol may be delisted
- HPTY: No data found, symbol may be delisted
- GMHI: No data found, symbol may be delisted
- MWK: No data found, symbol may be delisted
- TRNE: No data found, symbol may be delisted
- FEAC: No data found, symbol may be delisted
- KCAC U: No data found, symbol may be delisted
- XSNXD: No data found, symbol may be delisted
- CCA: No data found, symbol may be delisted
- NVUS: No data found, symbol may be delisted
- PIC: No data found, symbol may be delisted
- LGC U: No data found, symbol may be delisted
- EVGI: No data found, symbol may be delisted
- GHIVU: No data found, symbol may be delisted
- SBE U: No data found, symbol may be delisted
- NOVSU: No data found, symbol may be delisted
- EDNT: No data found, symbol may be delisted
- ZMTP: No data found, symbol may be delisted
- MCAC: No data found, symbol may be delisted
- GOIG: No data found, symbol may be delisted
- RMG: No data found, symbol may be delisted
- LOAK: No data found, symbol may be delisted
- CCX U: No data found, symbol may be delisted
- SMMC: No data found, symbol may be delisted
- CBLI: Data doesn't exist for startDate = 1599433200, endDate = 1606694400
- PANA U: No data found, symbol may be delisted
- JOES: No data found for this date range, symbol may be delisted
- DMYD: No data found, symbol may be delisted
- IPV U: No data found, symbol may be delisted
- WTSG: No data found, symbol may be delisted
- STSFF: No data found for this date range, symbol may be delisted
- TSRD: No data found, symbol may be delisted
- ROCH: No data found, symbol may be delisted
- HYBG: No data found, symbol may be delisted
- VDXI: No data found, symbol may be delisted
- LGVW: No data found, symbol may be delisted
- APXTU: No data found, symbol may be delisted
- GIX.U: No data found, symbol may be delisted
- FSIC: No data found for this date range, symbol may be delisted
- NGA: No data found, symbol may be delisted
- SNSSD: No data found for this date range, symbol may be delisted
- CFII: No data found, symbol may be delisted
- JUPW: Data doesn't exist for startDate = 1580342400, endDate = 1587596400
- STPK: No data found, symbol may be delisted
- BFT.U: No data found, symbol may be delisted
- VSPRU: No data found, symbol may be delisted
- QEBR: Data doesn't exist for startDate = 1593558000, endDate = 1600815600
- CGRO: No data found, symbol may be delisted
- EXPC: No data found, symbol may be delisted
- NPA: No data found, symbol may be delisted
- STIC U: No data found, symbol may be delisted
- SNCA.O: No data found, symbol may be delisted
- DFHT: No data found, symbol may be delisted
- NK: No data found, symbol may be delisted
- JIH: No data found, symbol may be delisted
- FTIVU: No data found, symbol may be delisted
- ETFM: No data found, symbol may be delisted
- UTZ: Data doesn't exist for startDate = 1632092400, endDate = 1639353600
- AMRX: Data doesn't exist for startDate = 1634684400, endDate = 1641945600
- HECCU: No data found, symbol may be delisted
- CRSA: No data found, symbol may be delisted
- CLII: No data found, symbol may be delisted
- WPF: No data found, symbol may be delisted
- SPRQ U: No data found, symbol may be delisted
- TSIAU: No data found, symbol may be delisted
- HOLUU: No data found, symbol may be delisted
- ACRID: No data found, symbol may be delisted
- CLKA: No data found, symbol may be delisted
- FRX.U: No data found, symbol may be delisted
- CMLFU: No data found for this date range, symbol may be delisted
- FGNA: No data found for this date range, symbol may be delisted
- NEBCU: Data doesn't exist for startDate = 1632178800, endDate = 1639440000
- FCAC: No data found, symbol may be delisted
- SBG U: No data found, symbol may be delisted
- CAPA: No data found, symbol may be delisted
- FAII: No data found, symbol may be delisted
- RTPZ.U: No data found, symbol may be delisted
- GWACU: No data found, symbol may be delisted
- NBA U: No data found, symbol may be delisted
- DFNSU: No data found, symbol may be delisted
- RACA: No data found, symbol may be delisted
- SPNV.U: No data found, symbol may be delisted
- LFAC: No data found, symbol may be delisted
- BKYM: No data found, symbol may be delisted
- FMCI: No data found, symbol may be delisted
- GHLD: Data doesn't exist for startDate = 1632438000, endDate = 1639699200
- CURI: Data doesn't exist for startDate = 1632438000, endDate = 1639699200
- ITRK: No data found, symbol may be delisted
- JMDAD: No data found, symbol may be delisted
- CNM: Data doesn't exist for startDate = 1619391600, endDate = 1626649200
- MIGI: Data doesn't exist for startDate = 1635202800, endDate = 1642464000
- BWMN: Data doesn't exist for startDate = 1611532800, endDate = 1618786800
- GRVI: Data doesn't exist for startDate = 1616972400, endDate = 1623970800
- CHPT: Data doesn't exist for startDate = 1632697200, endDate = 1639958400
- SSKIN: No data found, symbol may be delisted

In [128]:
(len(unique_ac_code) - len(list_errors)) / len(unique_ac_code)

0.46483342147012163

We take the tickers that don't work with the API out of the list of tickers.

In [129]:
for code in list_errors:
    unique_ac_code.remove(code)

In [130]:
len(unique_ac_code)

2637

Finally, we zip our two lists into a dictionary where each key will be a unique ticker that does work with the API. The value of each key will be a dataframe of the stock prices of this company 300 days before the first merger and 50 days after the last one.

In [131]:
dictionary = dict(zip(unique_ac_code, list_df))

In [140]:
dictionary["PAA"]["Open"]

Date
2004-11-22    5.939119
2004-11-23    5.970242
2004-11-24    6.060327
2004-11-26    6.142221
2004-11-29    6.101277
                ...
2020-05-07    7.178367
2020-05-08    7.258922
2020-05-11    7.437934
2020-05-12    7.428983
2020-05-13    7.437934
Name: Open, Length: 3895, dtype: float64

In [143]:
with open('stockdata.pickle', 'wb') as handle:
    pickle.dump(dictionary, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [1]:
!pwd

/Users/manonlaffly/code/cobergmann/MA_PREDICTOR/notebooks

In [145]:
pd.read_pickle('stockdata.pickle')

{'PAA':                 Open     Close
 Date
 2004-11-22  5.939119  5.958775
 2004-11-23  5.970242  6.047225
 2004-11-24  6.060327  6.183172
 2004-11-26  6.142221  6.119290
 2004-11-29  6.101277  6.129122
 ...              ...       ...
 2020-05-07  7.178367  7.079910
 2020-05-08  7.258922  7.500588
 2020-05-11  7.437934  7.375279
 2020-05-12  7.428983  7.473736
 2020-05-13  7.437934  7.285774

 [3895 rows x 2 columns],
 'RGS':                  Open      Close
 Date
 2004-11-22  41.451579  41.737072
 2004-11-23  41.856792  41.783115
 2004-11-24  41.672607  41.967308
 2004-11-26  41.948876  41.838364
 2004-11-29  41.810736  41.764687
 ...               ...        ...
 2020-02-04  17.709999  14.990000
 2020-02-05  15.140000  14.820000
 2020-02-06  14.980000  14.860000
 2020-02-07  14.740000  14.150000
 2020-02-10  14.090000  13.390000

 [3830 rows x 2 columns],
 'PRU':                  Open      Close
 Date
 2004-11-22  29.198998  29.543022
 2004-11-23  29.684309  30.181915
 2004-11-24  30.286360  30.298647
 2004-11-26  30.188063  30.335503
 2004-11-29  30.280215  30.077486
 ...               ...        ...
 2019-06-13  87.714707  88.015984
 2019-06-14  88.281809  87.927376
 2019-06-17  88.228645  86.784309
 2019-06-18  86.837478  88.157761
 2019-06-19  88.884357  87.696991

 [3668 rows x 2 columns],
 'GOOG':                    Open        Close
 Date
 2004-11-22    81.927917    82.241737
 2004-11-23    83.671379    83.447220
 2004-11-24    87.083588    87.053703
 2004-11-26    87.571762    89.360054
 2004-11-29    89.843246    90.186958
 ...                 ...          ...
 2020-08-04  1476.569946  1464.969971
 2020-08-05  1469.300049  1473.609985
 2020-08-06  1471.750000  1500.099976
 2020-08-07  1500.000000  1494.489990
 2020-08-10  1487.180054  1496.099976

 [3956 rows x 2 columns],
 'GGG':                  Open      Close
 Date
 2004-11-22   9.197940   9.255272
 2004-11-23   9.192954   9.222866
 2004-11-24   9.222869   9.250288
 2004-11-26   9.285184   9.260257
 2004-11-29   9.310114   9.173018
 ...               ...        ...
 2018-01-19  45.261676  45.893768
 2018-01-22  45.654339  45.893768
 2018-01-23  46.296005  46.975983
 2018-01-24  47.301609  46.937675
 2018-01-25  47.224991  46.736553

 [3317 rows x 2 columns],
 'XOM':                  Open      Close
 Date
 2004-11-22  29.226948  29.534416
 2004-11-23  29.534421  29.702660
 2004-11-24  29.702659  29.870897
 2004-11-26  29.928910  29.963718
 2004-11-29  29.981120  29.801279
 ...               ...        ...
 2018-06-01  67.683536  67.650467
 2018-06-04  67.832342  66.939484
 2018-06-05  66.625322  66.699730
 2018-06-06  67.361107  67.840599
 2018-06-07  68.394514  68.518517

 [3409 rows x 2 columns],
 'PXD':                   Open       Close
 Date
 2004-12-21   31.796643   32.219376
 2004-12-22   32.256130   31.732313
 2004-12-23   31.631234   31.879358
 2004-12-27   32.109113   31.695576
 2004-12-28   32.026391   31.888546
 ...                ...         ...
 2021-02-08  126.797851  130.778717
 2021-02-09  130.031670  126.837151
 2021-02-10  127.299138  130.090668
 2021-02-11  129.500911  127.653000
 2021-02-12  126.797832  130.031662

 [4065 rows x 2 columns],
 'STBA':                  Open      Close
 Date
 2005-01-18  21.907060  22.154997
 2005-01-19  21.765377  21.558764
 2005-01-20  21.877549  21.617804
 2005-01-21  21.842127  21.842127
 2005-01-24  22.019222  21.806704
 ...               ...        ...
 2014-12-04  23.284217  23.480501
 2014-12-05  23.447793  23.676792
 2014-12-08  23.635897  23.578648
 2014-12-09  23.251510  23.840363
 2014-12-10  23.684967  23.276041

 [2493 rows x 2 columns],
 'BC':                  Open      Close
 Date
 2004-12-23  39.962197  40.518250
 2004-12-27  40.469191  39.643288
 2004-12-28  39.536974  40.354698
 2004-12-29  40.346519  40.542774
 2004-12-30  40.542782  40.395592
 ...               ...        ...
 2021-02-11  89.662921  89.861046
 2021-02-12  89.474699  90.762535
 2021-02-16  91.069630  91.386635
 2021-02-17  90.663468  89.662926
 2021-02-18  89.504415  88.266113

 [4066 rows x 2 columns],
 'ECL':                   Open       Close
 Date
 2005-01-18   27.612558   28.256823
 2005-01-19   28.149443   28.298117
 2005-01-20   28.207266   28.190746
 2005-01-21   28.190745   27.835573
 2005-01-24   27.835586   27.596050
 ...                ...         ...
 2020-10-06  198.674397  195.128052
 2020-10-07  198.316780  200.065109
 2020-10-08  201.992254  200.124725
 2020-10-09  202.290260  201.813446
 2020-10-12  202.995564  201.386292

 [3962 rows x 2 columns],
 'SVU':                   Open       Close
 Date
 2005-02-18  178.675432  177.794708
 2005-02-22  176.969048  172.730591
 2005-02-23  173.115897  176.418579
 2005-02-24  176.308496  179.115784
 2005-02-25  178.963711  177.525803
 ...                ...         ...
 2017-11-21   16.389999   15.950000
 2017-11-22   16.049999   16.639999
 2017-11-24   16.700001   16.389999
 2017-11-27   16.430000   16.469999
 2017-11-28   16.459999   17.230000

 [3216 rows x 2 columns],
 'WTS':                  Open      Close
 Date
 2005-01-03  26.634175  25.262213
 2005-01-04  25.221121  25.188259
 2005-01-05  25.245779  24.604982
 2005-01-06  24.604981  25.122547
 2005-01-07  25.155405  24.752851
 ...               ...        ...
 2020-04-09  81.420536  82.961243
 2020-04-13  82.240266  80.304504
 2020-04-14  80.887203  80.482269
 2020-04-15  78.062582  76.867546
 2020-04-16  76.897165  75.721878

 [3848 rows x 2 columns],
 'ITW':                  Open      Close
 Date
 2004-12-28  31.596356  31.606510
 2004-12-29  31.572569  31.572569
 2004-12-30  31.698171  31.538610
 2004-12-31  31.538624  31.463936
 2005-01-03  31.575961  31.287395
 ...               ...        ...
 2016-02-29  83.629216  82.855606
 2016-03-01  83.629216  85.132484
 2016-03-02  84.745693  85.290733
 2016-03-03  85.167662  84.895142
 2016-03-04  85.062177  85.914909

 [2816 rows x 2 columns],
 'BRO':                  Open      Close
 Date
 2004-11-29   8.178895   8.318214
 2004-11-30   8.318216   8.307972
 2004-12-01   8.310021   8.363290
 2004-12-02   8.361245   8.435002
 2004-12-03   8.434995   8.445240
 ...               ...        ...
 2021-06-21  51.991604  52.370956
 2021-06-22  52.420869  52.760292
 2021-06-23  52.760293  52.830173
 2021-06-24  52.969941  53.129669
 2021-06-25  53.149632  53.399208

 [4173 rows x 2 columns],
 'CIT':                  Open      Close
 Date
 2009-12-10  22.438466  24.092264
 2009-12-11  24.042395  24.632442
 2009-12-14  24.615825  23.685043
 2009-12-15  23.286131  21.773613
 2009-12-16  21.831790  21.781925
 ...               ...        ...
 2018-05-30  45.315945  44.677940
 2018-05-31  44.491859  44.243748
 2018-06-01  44.899470  44.580471
 2018-06-04  44.837447  45.537479
 2018-06-05  45.289358  45.183025

 [2135 rows x 2 columns],
 'FDS':                   Open       Close
 Date
 2004-11-29   28.891540   29.163628
 2004-11-30   29.163639   28.680542
 2004-12-01   28.819362   29.097008
 2004-12-02   29.096997   29.324665
 2004-12-03   29.346881   29.052580
 ...                ...         ...
 2017-04-24  156.750870  155.350967
 2017-04-25  156.055666  155.341431
 2017-04-26  155.198606  155.684280
 2017-04-27  156.341361  156.017578
 2017-04-28  156.369909  155.474731

 [3126 rows x 2 columns],
 'RPT':                  Open      Close
 Date
 2005-02-18  10.579824  10.579824
 2005-02-22  10.528142  10.454311
 2005-02-23  10.520759  10.424780
 2005-02-24  10.373097  10.446926
 2005-02-25  10.428473  10.384174
 ...               ...        ...
 2017-03-24  10.908944  11.027519
 2017-03-27  11.011710  10.877324
 2017-03-28  10.853609  10.845704
 2017-03-29  10.821989  10.908945
 2017-03-30  10.916849  10.972184

 [3049 rows x 2 columns],
 'ANSS':                   Open       Close
 Date
 2005-03-21   17.555000   17.565001
 2005-03-22   17.650000   17.805000
 2005-03-23   17.915001   17.405001
 2005-03-24   17.450001   17.379999
 2005-03-28   17.500000   17.340000
 ...                ...         ...
 2021-06-21  331.929993  336.829987
 2021-06-22  337.140015  340.619995
 2021-06-23  340.779999  339.000000
 2021-06-24  342.399994  341.549988
 2021-06-25  343.049988  343.480011

 [4096 rows x 2 columns],
 'NVR':                    Open        Close
 Date
 2005-03-21   787.500000   789.750000
 2005-03-22   796.500000   795.500000
 2005-03-23   795.500000   798.500000
 2005-03-24   802.500000   801.250000
 2005-03-28   802.299988   798.000000
 ...                 ...          ...
 2013-02-04  1021.989990  1009.929993
 2013-02-05  1013.000000  1013.750000
 2013-02-06  1011.960022  1006.979980
 2013-02-07  1006.849976  1006.469971
 2013-02-08  1007.880005  1004.169983

 [1987 rows x 2 columns],
 'A':                   Open       Close
 Date
 2004-12-09   14.474571   14.622586
 2004-12-10   14.955624   14.610257
 2004-12-13   14.702765   14.702765
 2004-12-14   14.634927   14.924789
 2004-12-15   14.924786   14.912451
 ...                ...         ...
 2021-03-10  120.248722  119.650421
 2021-03-11  121.076386  121.485229
 2021-03-12  120.228788  121.096329
 2021-03-15  120.577792  123.688965
 2021-03-16  124.396956  122.651909

 [4094 rows x 2 columns],
 'JKHY':                   Open       Close
 Date
 2004-12-23   15.895902   15.855455
 2004-12-27   15.815012   15.774565
 2004-12-28   15.774560   15.847365
 2004-12-29   15.879724   16.138590
 2004-12-30   16.098135   16.211390
 ...                ...         ...
 2019-02-11  129.566975  127.826050
 2019-02-12  128.429093  129.070999
 2019-02-13  129.800412  129.868484
 2019-02-14  129.829563  128.740265
 2019-02-15  129.557255  130.121338

 [3561 rows x 2 columns],
 'PG':                   Open       Close
 Date
 2004-12-17   34.830746   34.513252
 2004-12-20   34.675119   34.606640
 2004-12-21   34.594190   34.905457
 2004-12-22   34.643987   34.812069
 2004-12-23   34.799626   34.606640
 ...                ...         ...
 2021-08-30  142.600006  142.929993
 2021-08-31  143.039993  142.389999
 2021-09-01  142.330002  143.839996
 2021-09-02  143.970001  143.949997
 2021-09-03  143.759995  144.050003

 [4208 rows x 2 columns],
 'BMS':                  Open      Close
 Date
 2005-03-21  20.510957  20.417906
 2005-03-22  20.318209  20.404613
 2005-03-23  20.417905  20.318209
 2005-03-24  20.437843  20.510954
 2005-03-28  20.550832  20.510954
 ...               ...        ...
 2016-05-24  44.597525  45.121769
 2016-05-25  45.342504  45.581635
 2016-05-26  45.765577  45.563240
 2016-05-27  45.691997  46.243832
 2016-05-31  46.207044  46.299015

 [2819 rows x 2 columns],
 'VRSN':                  Open      Close
 Date
 2005-03-14  24.260247  24.447062
 2005-03-15  24.455552  24.370638
 2005-03-16  24.081925  23.767738
 2005-03-17  23.521484  23.810196
 2005-03-18  23.699807  23.538467
 ...               ...        ...
 2006-12-28  20.490016  20.464542
 2006-12-29  20.379626  20.422083
 2007-01-03  20.583422  20.439066
 2007-01-04  20.574932  20.872135
 2007-01-05  20.880627  20.880627

 [458 rows x 2 columns],
 'NUE':                   Open       Close
 Date
 2005-03-07   18.446375   18.173204
 2005-03-08   18.108587   17.579868
 2005-03-09   17.908839   17.289064
 2005-03-10   17.289074   16.933659
 2005-03-11   17.917659   18.372944
 ...                ...         ...
 2021-08-24  123.699997  123.250000
 2021-08-25  123.120003  119.959999
 2021-08-26  120.669998  118.059998
 2021-08-27  119.029999  119.849998
 2021-08-30  121.110001  121.040001

 [4151 rows x 2 columns],
 'WFC':                  Open      Close
 Date
 2005-03-30  18.498441  18.727436
 2005-03-31  18.805861  18.758806
 2005-04-01  18.868603  18.642744
 2005-04-04  18.677249  18.771357
 2005-04-05  18.771355  18.721165
 ...               ...        ...
 2021-08-30  49.759998  48.410000
 2021-08-31  48.410000  45.700001
 2021-09-01  45.700001  43.450001
 2021-09-02  43.680000  44.570000
 2021-09-03  44.490002  44.169998

 [4139 rows x 2 columns],
 'RX':              Open  Close
 Date
 2006-02-03   6.00   3.90
 2006-02-09   4.95   4.59
 2006-05-18   9.00   8.88
 2007-01-29   8.77   8.88
 2007-03-20  10.70  10.65
 2007-10-25  25.40  25.50
 2008-11-26   3.10   2.98
 2009-02-19   2.60   2.88
 2009-06-30   6.75   6.64,
 'FULT':                  Open      Close
 Date
 2005-06-13  10.061108  10.066824
 2005-06-14  10.089688  10.055388
 2005-06-15  10.110146  10.190843
 2005-06-16  10.185079  10.288832
 2005-06-17  10.352239  10.311892
 ...               ...        ...
 2005-12-06  10.109666  10.045718
 2005-12-07  10.080597  10.022462
 2005-12-08   9.999210   9.975956
 2005-12-09  10.010834  10.103850
 2005-12-12  10.185235  10.051525

 [128 rows x 2 columns],
 'CSCO':                  Open      Close
 Date
 2005-03-03  13.066155  13.125144
 2005-03-04  13.198885  13.302117
 2005-03-07  13.479086  13.449591
 2005-03-08  13.449589  13.361106
 2005-03-09  13.471708  13.663424
 ...               ...        ...
 2021-08-30  58.980000  59.130001
 2021-08-31  59.110001  59.020000
 2021-09-01  59.020000  59.040001
 2021-09-02  59.349998  59.529999
 2021-09-03  59.330002  59.419998

 [4157 rows x 2 columns],
 'CDNS':                   Open       Close
 Date
 2005-10-19   15.810000   16.020000
 2005-10-20   16.020000   15.970000
 2005-10-21   15.980000   15.960000
 2005-10-24   15.920000   16.190001
 2005-10-25   16.139999   16.100000
 ...                ...         ...
 2021-05-20  123.540001  125.250000
 2021-05-21  126.089996  123.459999
 2021-05-24  125.230003  126.330002
 2021-05-25  127.290001  127.489998
 2021-05-26  128.190002  126.830002

 [3927 rows x 2 columns],
 'CLF':                  Open      Close
 Date
 2005-10-19  15.112347  16.026295
 2005-10-20  16.227609  15.410291
 2005-10-21  15.412311  15.519005
 2005-10-24  15.633747  16.094746
 2005-10-25  16.195398  16.390669
 ...               ...        ...
 2020-11-02   8.390000   8.300000
 2020-11-03   8.400000   8.280000
 2020-11-04   8.090000   7.710000
 2020-11-05   7.780000   8.250000
 2020-11-06   8.350000   8.360000

 [3790 rows x 2 columns],
 'EQUR':              Open  Close
 Date
 2004-12-02  0.015  0.015
 2004-12-15  0.015  0.015
 2004-12-17  0.015  0.015
 2004-12-20  0.015  0.015
 2004-12-22  0.012  0.012
 ...           ...    ...
 2009-04-22  0.310  0.280
 2009-04-23  0.310  0.280
 2009-04-24  0.290  0.260
 2009-04-27  0.250  0.240
 2009-04-28  0.240  0.220

 [305 rows x 2 columns],
 'TNB':                Open    Close
 Date
 2007-05-02  1.09615  1.08654
 2007-05-03  1.08654  1.04808
 2007-05-07  0.99038  1.00000
 2007-05-08  0.97115  0.98077
 2007-05-09  0.98077  0.97115
 ...             ...      ...
 2011-02-09  0.65385  0.63462
 2011-02-10  0.62500  0.60577
 2011-02-14  0.61538  0.65385
 2011-02-16  0.62500  0.62500
 2011-02-17  0.59615  0.62500

 [720 rows x 2 columns],
 'RICK':                 Open     Close
 Date
 2004-12-03  2.893422  2.835553
 2004-12-06  2.517277  2.739106
 2004-12-07  2.941646  2.825909
 2004-12-08  2.739106  2.787330
 2004-12-09  2.883777  2.719817
 ...              ...       ...
 2013-04-12  8.255897  8.265541
 2013-04-15  8.169096  8.063004
 2013-04-16  8.072647  8.082292
 2013-04-17  8.063002  8.091937
 2013-04-18  8.072648  8.140161

 [2107 rows x 2 columns],
 'AJG':                   Open       Close
 Date
 2004-11-30   16.624645   16.783443
 2004-12-01   16.761543   16.788921
 2004-12-02   16.838200   16.810822
 2004-12-03   16.673923   16.898432
 2004-12-06   16.810829   16.931297
 ...                ...         ...
 2021-08-30  143.591232  142.973282
 2021-08-31  142.973282  143.142715
 2021-09-01  143.322134  143.960007
 2021-09-02  144.690002  145.820007
 2021-09-03  145.479996  145.490005

 [4221 rows x 2 columns],
 'COF':                  Open      Close
 Date
 2004-12-03  62.945139  62.621124
 2004-12-06  61.759726  62.708050
 2004-12-07  62.715931  62.186451
 2004-12-08  62.115318  62.115318
 2004-12-09  61.996795  62.581600
 ...               ...        ...
 2019-09-04  83.636935  83.355721
 2019-09-05  84.344827  85.644226
 2019-09-06  85.741201  85.518173
 2019-09-09  86.284230  88.204239
 2019-09-10  88.582429  89.047890

 [3717 rows x 2 columns],
 'CNB':                Open    Close
 Date
 2004-12-07  0.69019  0.69019
 2004-12-09  0.69860  0.68177
 2004-12-10  0.68177  0.68177
 2004-12-13  0.69860  0.71544
 2004-12-14  0.71544  0.71544
 ...             ...      ...
 2007-08-16  1.19713  1.19713
 2007-08-17  1.19713  1.19713
 2007-08-23  1.19713  1.18832
 2007-08-24  1.22353  1.22353
 2007-08-27  1.22353  1.22353

 [250 rows x 2 columns],
 'FIX':                  Open      Close
 Date
 2004-12-07   5.801214   5.768531
 2004-12-08   5.719508   6.087191
 2004-12-09   6.046338   6.029997
 2004-12-10   6.005482   6.111701
 2004-12-13   6.119873   6.201581
 ...               ...        ...
 2021-08-04  73.985573  74.005547
 2021-08-05  74.734418  75.433342
 2021-08-06  76.122269  76.142242
 2021-08-09  75.882642  76.152222
 2021-08-10  76.142246  77.190620

 [4198 rows x 2 columns],
 'IVC':                  Open      Close
 Date
 2004-12-07  48.169402  47.266819
 2004-12-08  47.361838  48.359432
 2004-12-09  48.549439  48.235912
 2004-12-10  48.235914  48.995983
 2004-12-13  48.995990  48.881981
 ...               ...        ...
 2011-10-05  21.320070  22.843620
 2011-10-06  22.901478  23.142546
 2011-10-07  23.200402  22.448271
 2011-10-10  22.920768  23.316120
 2011-10-11  23.161830  23.605394

 [1725 rows x 2 columns],
 'SRDX':                  Open      Close
 Date
 2004-12-08  29.639999  30.450001
 2004-12-09  30.080000  30.000000
 2004-12-10  29.940001  30.219999
 2004-12-13  30.250000  30.260000
 2004-12-14  30.090000  30.980000
 ...               ...        ...
 2016-12-06  23.900000  24.850000
 2016-12-07  24.950001  25.450001
 2016-12-08  25.400000  25.400000
 2016-12-09  25.600000  25.350000
 2016-12-12  25.299999  25.400000

 [3025 rows x 2 columns],
 'SFI':                     Open         Close
 Date
 2010-12-14      0.254000      0.254000
 2010-12-15      0.253000      0.253000
 2010-12-16      0.245000      0.245000
 2010-12-17      0.242000      0.242000
 2010-12-21      0.234000      0.234000
 ...                  ...           ...
 2012-06-20  14782.599609  15043.500000
 2012-06-21  15217.400391  14956.500000
 2012-06-22  13652.200195  14087.000000
 2012-06-25  13913.000000  13739.099609
 2012-06-26  13478.299805  13652.200195

 [167 rows x 2 columns],
 'CYH':                  Open      Close
 Date
 2004-11-29  22.373148  22.217438
 2004-11-30  22.250220  22.659985
 2004-12-01  22.659984  22.930428
 2004-12-02  22.946819  22.873062
 2004-12-03  22.700961  22.864866
 ...               ...        ...
 2018-04-27   3.710000   3.800000
 2018-04-30   3.820000   3.780000
 2018-05-01   3.810000   3.970000
 2018-05-02   4.310000   5.090000
 2018-05-03   5.050000   4.750000

 [3381 rows x 2 columns],
 'OLP':                  Open      Close
 Date
 2004-12-09   5.131032   5.168137
 2004-12-10   5.168134   5.213190
 2004-12-13   5.189338   5.221142
 2004-12-14   5.221142   5.337756
 2004-12-15   5.340407   5.406665
 ...               ...        ...
 2019-07-03  24.663877  24.723146
 2019-07-05  24.621541  24.790878
 2019-07-08  24.757013  24.680811
 2019-07-09  24.697745  24.680811
 2019-07-10  24.875549  24.553810

 [3670 rows x 2 columns],
 'OKE':                  Open      Close
 Date
 2004-12-09   5.319095   5.375889
 2004-12-10   5.366096   5.397431
 2004-12-13   5.405265   5.509062
 2004-12-14   5.512980   5.542356
 2004-12-15   5.512979   5.608942
 ...               ...        ...
 2018-08-28  53.700208  53.343636
 2018-08-29  53.343642  52.836514
 2018-08-30  52.773122  52.654263
 2018-08-31  52.464085  52.226372
 2018-09-04  52.226382  52.059975

 [3458 rows x 2 columns],
 'PLAB':                  Open      Close
 Date
 2004-12-10  16.330000  16.530001
 2004-12-13  16.549999  16.309999
 2004-12-14  16.209999  16.809999
 2004-12-15  17.000000  16.990000
 2004-12-16  16.870001  16.780001
 ...               ...        ...