In [3]:
import pandas as pd
import numpy as np
import pickle

In [4]:
TRBC_industry = pd.read_excel('/Users/manonlaffly/code/cobergmann/MA_PREDICTOR/raw_data/TRBC Industry Code.xlsx', sheet_name=0,
header=1,
index_col=False,
keep_default_na=False
)

In [5]:
TRBC_industry.columns

Index(['Unnamed: 0', 'Unnamed: 1'], dtype='object')

In [9]:
TRBC_industry = TRBC_industry.rename(columns={'Unnamed: 0': 'Hierarchical_Code',
                                              'Unnamed: 1': 'Title'})

In [10]:
TRBC_industry

     Hierarchical_Code                Title
0
1
2             INDUSTRY
3    Hierarchical Code                Title
4             50101010                 Coal
..                 ...                  ...
903           59103010      Water Utilities
904
905
906
907           59104010  Multiline Utilities

[908 rows x 2 columns]

In [11]:
TRBC_industry['Title'].replace('', np.nan, inplace=True)

In [12]:
TRBC_industry.dropna(subset=['Title'], inplace=True)

In [13]:
TRBC_industry

     Hierarchical_Code                                 Title
3    Hierarchical Code                                 Title
4             50101010                                  Coal
7             50102010                  Integrated Oil & Gas
8             50102020  Oil & Gas Exploration and Production
14            50102030      Oil & Gas Refining and Marketing
..                 ...                                   ...
893           59101010                    Electric Utilities
897           59101020           Independent Power Producers
901           59102010                 Natural Gas Utilities
903           59103010                       Water Utilities
907           59104010                   Multiline Utilities

[153 rows x 2 columns]

In [14]:
TRBC_industry.drop(TRBC_industry.loc[TRBC_industry['Title']=='Title'].index, inplace=True)

In [15]:
TRBC_industry

    Hierarchical_Code                                 Title
4            50101010                                  Coal
7            50102010                  Integrated Oil & Gas
8            50102020  Oil & Gas Exploration and Production
14           50102030      Oil & Gas Refining and Marketing
18           50103010                    Oil & Gas Drilling
..                ...                                   ...
893          59101010                    Electric Utilities
897          59101020           Independent Power Producers
901          59102010                 Natural Gas Utilities
903          59103010                       Water Utilities
907          59104010                   Multiline Utilities

[143 rows x 2 columns]

In [16]:
TRBC_industry=TRBC_industry.reset_index(drop=True)

In [17]:
TRBC_industry.dtypes

Hierarchical_Code    object
Title                object
dtype: object

In [18]:
TRBC_industry['Hierarchical_Code'].is_unique

True

In [19]:
TRBC_industry['Hierarchical_Code'] = pd.to_numeric(TRBC_industry['Hierarchical_Code'])

In [20]:
TRBC_industry.dtypes

Hierarchical_Code     int64
Title                object
dtype: object

In [22]:
!pwd

/Users/manonlaffly/code/cobergmann/MA_PREDICTOR/notebooks

In [24]:
# Save as pickle
TRBC_industry.to_pickle('../MA_PREDICTOR/data/trbc.pkl')
print('Saved as trbc.pkl')

Saved as trbc.pkl